#root {
	Z-INDEX: 999; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,strength=3); WIDTH: 320px; BORDER-BOTTOM: #5373ad 1px solid; POSITION: absolute; HEIGHT: 160px; BACKGROUND-COLOR: #ebf1fe
}
#handle {
	FONT-SIZE: 5pt; BACKGROUND-IMAGE: url(images/bar_bg.gif); WIDTH: 320px; BACKGROUND-REPEAT: repeat-x
}
.progressBar {
	BORDER-RIGHT: #5373ad 1px solid; BORDER-TOP: #5373ad 1px solid; BORDER-LEFT: #5373ad 1px solid; WIDTH: 300px; BORDER-BOTTOM: #5373ad 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ecf3e1
}
.indicator {
	FLOAT: left; BACKGROUND-IMAGE: url(images/Indicatorbg.gif); BACKGROUND-REPEAT: repeat-x; HEIGHT: 18px
}
.info {
	FONT-SIZE: 10pt; OVERFLOW: hidden; WIDTH: 300px; PADDING-TOP: 2px; FONT-FAMILY: MS Sans Serif; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
#btn_cancel {
	FONT-SIZE: 10pt; FLOAT: right; FONT-FAMILY: MS Sans Serif
}
#root A {
	COLOR: #6b92f4; TEXT-DECORATION: none
}
#root A:visited {
	COLOR: #6b92f4
}
#root A:hover {
	COLOR: #6b92f4; TEXT-DECORATION: underline
}
