*{padding:0;margin:0;list-style:none;}
a {color:#333;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}


.sort .sort-ti,.sort .sort-list li a span,.sort .sort-list li.hover,.sort .sort-list ul li.hover ul li a{background:url(../images/bg-index-sort-v211.png) no-repeat}
.sort{width:200px;height:auto;position:relative;z-index:20;}
.sort .sort-ti{height:37px;background-position:0 0;background-repeat:repeat-x;font:14px/35px \5fae\8f6f\96c5\9ed1;color:#fff;padding-left:30px}
.sort .sort-list{border:2px solid #ffcece;border-top:0;height:315px;padding:0 1px;background-color:#fafafa}
.sort .sort-list ul{height:300px}
.sort .sort-list li{padding:0 5px;width:184px;height:39px;float:left}
.sort .sort-list li a{display:block;height:37px;line-height:37px;font-size:14px;border-top:1px solid #fff;border-bottom:1px solid #f1f0f0;padding-left:50px;cursor:pointer;background:url(../images/ico-index-sort.png) no-repeat}
.sort .sort-list li a span{display:block;height:37px;background-position:right -80px}
.sort .sort-list li.hover{background-position:0 -37px;background-repeat:repeat-x}
.sort .sort-list li.hover a{color:#fff}
.sort .sort-list li a.sort-list-1{background-position:15px 4px;border-top:1px solid #fafafa}
.sort .sort-list li.hover a.sort-list-1{background-position:15px -46px}
.sort .sort-list li a.sort-list-2{background-position:15px -96px}
.sort .sort-list li.hover a.sort-list-2{background-position:15px -146px}
.sort .sort-list li a.sort-list-3{background-position:15px -196px}
.sort .sort-list li.hover a.sort-list-3{background-position:15px -246px}
.sort .sort-list li a.sort-list-4{background-position:15px -296px}
.sort .sort-list li.hover a.sort-list-4{background-position:15px -346px}
.sort .sort-list li a.sort-list-5{background-position:15px -396px}
.sort .sort-list li.hover a.sort-list-5{background-position:15px -446px}
.sort .sort-list li a.sort-list-6{background-position:15px -496px}
.sort .sort-list li.hover a.sort-list-6{background-position:15px -546px}
.sort .sort-list li a.sort-list-7{background-position:15px -596px}
.sort .sort-list li.hover a.sort-list-7{background-position:15px -646px}
.sort .sort-list li a.sort-list-8{background-position:15px -696px;border-bottom:0}
.sort .sort-list li.hover a.sort-list-8{background-position:15px -746px}
.sort .sort-list li a.sort-list-8 span{background:0}
.sort .sort-list ul ul{display:none}
.sort .sort-list ul li.hover ul{background-color:#fff;border:2px solid #e51a45;left:160px;margin-top:-38px;width:120px;z-index:30;position:absolute;height:auto;overflow:hidden}
.sort .sort-list ul li.hover ul li{height:27px;padding:0}
.sort .sort-list ul li.hover ul{display:block}
.sort .sort-list ul li.hover ul li a{height:27px;line-height:27px;font-size:12px;border-top:0;border-bottom:0;padding-left:30px;color:#333;background-position:15px -154px}
.sort .sort-list ul li.hover ul li a:hover{background-position:15px -181px}