/* case */
/*.case{background:url(../images/case.jpg) no-repeat;height:627px;overflow:hidden;width:891px;margin:0 auto;}*/
.case_box{position:relative;margin:auto;width:980px;height:354px;overflow:hidden}
.case_box p{z-index:2;position:absolute;text-indent:-9999px;width:28px;height:51px;top:40%;cursor:pointer}
.case_box .prev{text-indent:-9999px;background:url(../images/previous.png) no-repeat;left:0px}
.case_box .next{background:url(../images/next.png) no-repeat;top:40%;right:0px}
.case_box ul{position:absolute;height:354px;overflow:hidden;top:0px;left:0px}
.case_box ul li{width:980px;float:left;height:354px}


.case_box ul li.case_1{background:url(../images/Banner_1.jpg) no-repeat center top}
.case_box ul li.case_2{background:url(../images/Banner_2.jpg) no-repeat center top}
.case_box ul li.case_3{background:url(../images/Banner_3.jpg) no-repeat center top}
.case_box ul li.case_4{background:url(../images/Banner_4.jpg) no-repeat center top}

.case_info_add dd{line-height:22px}

.case_box ol{position:absolute;bottom:0;left:50%;margin:0 0 0 -65px;height:12px;z-index:99;}
.case_box ol li{float:left;margin:0 4px;display:inline;width:12px;height:12px;line-height:999em;background:url(../images/pagination.png) no-repeat;overflow:hidden;cursor:pointer;}
.case_box ol li.active{background-position:0 -12px;}