img {
    border: none;
}



.body_bg {
    margin: 0px;
    background: url('../img/pic/body_bg.jpg?version=201305221751');
    background-repeat: repeat-x;
}


.pic {
}

.pic a {
    background-image: url(../img/pic/gab_search_button.png);
    background-repeat: no-repeat;
    font-size: 40px;
    width: 85px;
    height: 31px;
}

.pic A:hover {
    background-image: url(../img/pic/gab_search_button1.png);
    background-repeat: no-repeat;
    font-size: 40px;
    width: 85px;
    height: 31px;
}

.pic A:visited {
    background-image: url(../img/pic/gab_search_button.png);
    background-repeat: no-repeat;
    font-size: 40px;
    width: 85px;
    height: 31px;
}

.left {
    background: url(../img/pic/left2.png) no-repeat top left
}

.right {
    background: url(../img/pic/right2.png) no-repeat top left
}


.gab_footword {
    color: #656565;
    font-size: 12px;
    font-family: arial, '宋体', sans-serif;
}

.gab_footword A:link {
    color: #656565;
    font-size: 12px;
    font-family: arial, '宋体', sans-serif;
}

.gab_footword A:visited {
    color: #656565;
    font-size: 13px;
    font-family: arial, '宋体', sans-serif;

}



.padding_top_3 {
    padding-top: 3px;
}

.padding_top_5 {
    padding-top: 5px;
}

.padding_top_10 {
    padding-top: 10px;
}

.padding_top_15 {
    padding-top: 15px;
}

.padding_top_20 {
    padding-top: 20px;
}

.padding_top_25 {
    padding-top: 25px;
}

.padding_top_35 {
    padding-top: 35px;
}

.padding_top_72 {
    padding-top: 72px;
}

.padding_top_170 {
    padding-top: 170px;
}

.padding_bottom_6 {
    padding-bottom: 6px;
}

.padding_bottom_5 {
    padding-bottom: 5px;
}

.padding_bottom_10 {
    padding-bottom: 10px;
}

.padding_bottom_15 {
    padding-bottom: 15px;
}

.padding_bottom_20 {
    padding-bottom: 20px;
}

.padding_bottom_45 {
    padding-bottom: 45px;
}

.padding_left_5 {
    padding-left: 5px;
}

.padding_left_10 {
    padding-left: 10px;
}

.padding_left_15 {
    padding-left: 15px;
}

.padding_left_20 {
    padding-left: 20px;
}

.padding_left_30 {
    padding-left: 30px;
}

.padding_left_35 {
    padding-left: 35px;
}

.padding_left_40 {
    padding-left: 45px;
}

.padding_left_45 {
    padding-left: 45px;
}

.padding_left_60 {
    padding-left: 60px;
}

.padding_left_80 {
    padding-left: 80px;
}

.padding_righr_20 {
    padding-right: 20px;
}

.padding_right_30 {
    padding0right: 30px;
}

.padding_righr_40 {
    padding-right: 40px;
}

.padding_righr_60 {
    padding-right: 60px;
}

.padding_top_3 {
    padding-top: 3px;
}

.padding_top_5 {
    padding-top: 5px;
}

.padding_top_10 {
    padding-top: 10px;
}

.padding_top_15 {
    padding-top: 15px;
}

.padding_top_25 {
    padding-top: 25px;
}

.padding_top_35 {
    padding-top: 35px;
}

.padding_top_45 {
    padding-top: 45px;
}

.padding_top_72 {
    padding-top: 72px;
}

.padding_top_170 {
    padding-top: 170px;
}

.padding_bottom_6 {
    padding-bottom: 6px;
}

.padding_bottom_5 {
    padding-bottom: 5px;
}

.padding_bottom_20 {
    padding-bottom: 20px;
}

.padding_bottom_45 {
    padding-bottom: 45px;
}

.padding_left_1 {
    padding-left: 1px;
}

.padding_left_5 {
    padding-left: 5px;
}

.padding_left_20 {
    padding-left: 20px;
}

.padding_left_35 {
    padding-left: 35px;
}

.padding_left_40 {
    padding-left: 45px;
}

.padding_left_45 {
    padding-left: 45px;
}

.padding_left_80 {
    padding-left: 80px;
}

.padding_righr_5 {
    padding-right: 5px;
}

.padding_righr_20 {
    padding-right: 20px;
}

.padding_righr_40 {
    padding-right: 40px;
}

.padding_righr_45 {
    padding-right: 45px;
}

.head_show_bg {
    height: 110px;
    background-image: url(../img/pic/head_bg.jpg);
    background-repeat: repeat-x;
}

.head_show_menu {
    width: 1000px;
    text-align: left;
}

.head_show_menu div {
    float: left;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
}

.head_show_menu div div {
    float: none;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
}






.other_show a {
    color: #477faa;
    font-size: 13px;
    line-height: 24px;
    font-family: arial, '宋体', sans-serif;
    text-decoration: underline;
}

.other_show A:link {
    color: #3c7add;
    font-size: 13px;
    line-height: 24px;
    font-family: arial, '宋体', sans-serif;
    text-decoration: underline;
}

.other_show A:hover {
    color: #999;
    font-size: 13px;
    line-height: 24px;
    font-family: arial, '宋体', sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

.other_show A:visited {
    color: #3c7add;
    font-size: 13px;
    line-height: 24px;
    font-family: arial, '宋体', sans-serif;
    text-decoration: underline;
}

.other_show_url {
    padding-right: 10px;
    color: #107a15;
    font-family: arial, '宋体', sans-serif;
    text-decoration: none;
    font-size: 13px;
}

.other_show_time {
    padding-right: 10px;
    color: #959299;
    font-family: arial, '宋体', sans-serif;
    text-decoration: none;
    font-size: 13px;
}



.searchshowblock {
    width: 665px;
    height: 80px;
    background-image: url(./../img/pic/search_show_bg.gif);
    background-repeat: no-repeat;
}

.searchshowblock_news {
    width: 530px;
    height: 80px;
    background-image: url(./../img/pic/search_show_bg.gif);
    background-repeat: no-repeat;
}

.detailsearchshowblock {
    width: 440px;
    height: 80px;
    background-image: url(./../img/pic/search_show_bg.gif);
    background-repeat: no-repeat;
}

.ermenulist_show {
    padding-top: 2px;
    padding-bottom: 1px;
}

.ermenulist_show div {
    padding-top: 2px;
    height: 24px;
    padding-top: 11px;
    float: left;
    text-align: center;
    line-height: 24px;
    width: 73px;
    font-size: 14px;
}

.ermenulist_show a {
    color: #1e4564;
    text-decoration: none;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}

.ermenulist_show A:link {
    color: #1e4564;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    text-decoration: underline;

}

.ermenulist_show A:hover {
    color: #1e4564;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;

}

.ermenulist_show A:visited {
    color: #1e4564;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    text-decoration: underline;

}

.ermenulist_show_serach {
}

.ermenulist_show_serach div {
    padding-top: 3px;
    float: left;
    text-align: center;
}

.containerword {
    color: #3c7add;
    font-size: 16px;
    line-height: 24px;
    font-family: arial, '宋体', sans-serif;
    font-weight: bold;
}

.containerword a {
    color: #477faa;
    font-size: 16px;
    line-height: 24px;
    font-family: arial, '宋体', sans-serif;
    text-decoration: underline;
    font-weight: bold;
}

.containerword A:link {
    color: #3c7add;
    font-size: 16px;
    line-height: 24px;
    font-family: arial, '宋体', sans-serif;
    text-decoration: underline;
    font-weight: bold;
}

.containerword A:hover {
    color: #999;
    font-size: 16px;
    line-height: 24px;
    font-family: arial, '宋体', sans-serif;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.containerword A:visited {
    color: #3c7add;
    font-size: 16px;
    line-height: 24px;
    font-family: arial, '宋体', sans-serif;
    text-decoration: underline;
    font-weight: bold;
}

.containerword_little {
    color: #48473f;
    font-size: 12px;
    line-height: 18px;
    font-family: arial, '宋体', sans-serif;
}

.search_show_select {
    background-image: url(../img/pic/search_show_button_up.jpg);
    background-repeat: no-repeat;
}

.search_show_select a {
    color: #345fa3;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.search_show_select A:link {
    color: #345fa3;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.search_show_select A:hover {
    color: #345fa3;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.search_show_select A:visited {
    color: #345fa3;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.search_show_select1 {
    background-image: url(../img/pic/search_show_button_up1.jpg);
    background-repeat: no-repeat;
}

.search_show_select1 a {
    color: #1e4564;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
}

.search_show_select1 A:link {
    color: #1e4564;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.search_show_select1 A:hover {
    color: #1e4564;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.search_show_select1 A:visited {
    color: #1e4564;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

.head_show {
    background-color: #d0e1f3;
    padding-top: 3px;
    padding-bottom: 3px;
}

.head_show_word {
    color: #6c8f9e;
    font-size: 12px;
}

.container_word {
    color: #666666;
}

.container_word1 {
}

.container_word1 a {
    color: #3c7add;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    line-height: normal;
}

.container_word1 A:link {
    color: #3c7add;
    font-size: 12px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    line-height: normal;
}

.container_word1 A:hover {
    color: #000;
    font-size: 12px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    text-decoration: underline;
    line-height: normal;
}

.container_word1 A:visited {
    color: #3c7add;
    font-size: 12px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    line-height: normal;
}


#hotbg_table {
    margin-top: 40px;
    width: 100%;

}

#hotbg_table a:link {
    color: #6e737a;
    font-size: 13px;
    font-family: arial, '宋体', sans-serif;
    text-decoration: none;
}

#hotbg_table a {
    color: #6E737A;
    font-family: arial, '宋体', sans-serif;
    font-size: 12px;
    text-decoration: none;

}

.news_place a {
    color: #155b96;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

.news_place A:link {
    color: #155b96;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    font-weight: bold;

}

.news_place A:hover {
    color: #9a9a9a;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;

}

.news_place A:visited {
    color: #155b96;
    font-size: 15px;
    font-family: arial, '宋体', sans-serif;
    cursor: pointer;
    font-weight: bold;

}
.news_search_h {
    height: 35px;
}

.input {
    margin-top: 5px;
    height: 30px;
    width: 465px;
    border: 0px;
    font-size: 14px;
    color: #00659b;
    line-height: 29px;
    padding: 0px 7px;
    margin: 0px;
    BORDER-BOTTOM: #cdcdcd 1px solid;
    BORDER-LEFT: #9a9a9a 1px solid;
    BORDER-TOP: #9a9a9a 1px solid;
    BORDER-RIGHT: #cdcdcd 1px solid;
    letter-spacing: 2px;/* 文 字 间 距*/
    word-spacing :3px;/* 字 母 间 距*/
}


/*new begin*/
.totop {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

* html .totop {
    position: absolute;
    left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)-10);
    top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))-10)
}

.condition_href {
    font-size: 12px;
    color: #0000cc;
    line-height: 20px;
}

.condition_select {
    font-size: 12px;
    font-weight: bold;
}

.imgloadingdiv {
    height: 30px;
    width: 200px;
    margin: auto;
    font-size: 14px;
}

#topInfoBar {
    height: 23px;
    margin: 8px 0 15px 73px;
    position: relative;
    z-index: 80;
    word-wrap: break-word;
    padding-right: 10px;
    width: 90%;
}

#top-filter-hoder {
    float: right;
}

#filter-container {
    position: relative;
    text-align: right;
}

.filter {
    display: inline-block;
    margin-right: 9px;
    position: relative;
    text-align: left;
    width: 200px;
    z-index: 99;
}

#typeFilter, #styleFilter {
    display: "";
}

#colorFilter, #colorFilter {
    display: none;
}

.subFilter {
    float: right;
    position: relative;
    top:7px;
    right:20px;
}

.menu-con-arrow {
    background: url('../img/pic/newFilterBg.png') no-repeat scroll -25px -82px transparent;
    display: none;
    font-size: 0;
    height: 7px;
    left: 40px;
    position: absolute;
    top: 20px;
    width: 11px;
    z-index: 200;
}

.subFilter ul {
    color: #084CB3;
    font-size: 12px;
    list-style: none outside none;
}

.filter-item-con {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    display: none;
    left: -6px;
    position: absolute;
    top: 25px;
    width: 125px;
    z-index: 100;
}

.subFilter ul .selected {
    background: url("../img/pic/newFilterBg.png") no-repeat scroll 105px -116px #FFFFFF;
    border-color: #FFFFFF;
    color: #464646;
    cursor: default;
}

.subFilter ul .list-first-item {
    border-color: #FFFFFF;
}

.subFilter ul li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 1px 0;
    cursor: pointer;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    position: relative;
}

.filter-menu-item {
    background: url("../img/pic/newFilterBg.png") no-repeat scroll right 6px transparent;
    color: #0064DC;
    cursor: pointer;
    font-size: 12px;
    height: 19px;
    line-height: 19px;
    margin-left: 19px;
    padding-right: 11px;
    position: relative;
    text-align: left;
    float: left;

}

#filterBtn {
    display: inline-block;
    font-size: 12px;
    position: relative;
    z-index: 99;
    margin-left: 5px;

}

#showBtn {
    background-image: url("../img/pic/newFilterBg.png");
    background-repeat: no-repeat;
    color: #084CB3;
    cursor: pointer;
    display: inline-block;
    font-family: arial, '����';
    font-style: normal;
    height: 18px;
    line-height: 17px;
    position: relative;
    text-align: center;
    width: 18px;
    float: right;
}

.show-btn {
    background-position: -28px -325px;
}

em {
    font-style: normal;
}

#topRS {
    display: inline-block;
    text-align: left;
    width: 250px;
    line-height: 19px;
    z-index: 99;
}

#pageMoreWrap {
    margin-bottom: 40px;
    text-align: center;
}

.imgloadingdiv {
    display: none;
    margin: 30px auto 40px;
    text-align: center;
    width: 250px;
}

#bigimgdiv {
    z-index: -1;
    margin: 0 auto;
    text-align: center;
}

#showbigdiv {
    margin: 0 auto;
    z-index: 999;
}

#bigimgdiv {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
    display: none;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    text-align: center;
    margin: 0 auto;
    align: center;
}

#bigimgdiv div {
    display: inline;
    _min-width: 150;
    _width: 170px;
    _height: 150px;
    margin: 0 5px;
}

.pic-wrap {
    _width: 170px;
    _height: 220px;
    border: 1px solid #F00;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
    line-height: 1;

    *display: block;
+ line-height : 220 px;
    _font-size: 192px;
    _font-family: sans-serif;
}

.pic-wrap img {
    display: inline;
    vertical-align: middle;
}

.outlineimg {
    background-image: url("../images/loading-big.gif");
    background-repeat: no-repeat;
}

.imageorder {
}

.imageorder a {
    color: #084CB3;
    cursor: pointer;
    font-size: 13px;
    height: 19px;
    line-height: 19px;
    text-decoration: none;
    line-height: normal;
}

.imageorder A:link {
    color: #084CB3;
    cursor: pointer;
    font-size: 13px;
    height: 19px;
    line-height: 19px;
}

.imageorder A:hover {
    color: #000;
    cursor: pointer;
    font-size: 13px;
    height: 19px;
    line-height: 19px;
    text-decoration: underline;
}

.imageorder A:visited {
    color: #084CB3;
    cursor: pointer;
    font-size: 13px;
    height: 19px;
    line-height: 19px;
}

#imageContainer {
    min-height: 355px;
    height: auto !important;
    height: 355px;
    margin: 0 auto;
}

/*new end*/
.btn2 {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    padding: 0px;
}

.display_mode2_p a{
    color: #0064DC;
}