@charset "utf-8";
/**
  *
  *     本css为compare.html人像比对页配套css
  *     包括公共重置样式和搜索结果页样式两部分，搜索结果页样式又包括头，尾及中间共三部分
  *     author：sun mail:szy1944@hotmail.com
  *     version:0.1
  *     date:20141225
  */
/*公共重置样式*/
@import url("reset.css");
@import url("result_bottom.css");

/*搜索结果页样式*/
/*全局样式*/
html body{
    overflow-y: auto;
    _overflow-y: hidden;
    overflow-x: hidden;
}
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}/*万能float闭合*/
.f-cb,.f-cbli li{zoom:1;}
.no_border{border: none;}
.border_grey{
    border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}
.border_right_grey{
    border-right:1px solid #e0e0e0;
}
.border_left_grey{
    border-left:1px solid #e0e0e0;
}
.border_top_grey{
    border-top:1px solid #e0e0e0;
}
.border_bot_grey{
    border-bottom:1px solid #e0e0e0;
}
.border_top_dot{
    border-top:1px dotted #e0e0e0;
}
.border_bot_dot{
    border-bottom:1px dotted #e0e0e0;
}
.no_border_top{
    border-top:none;
}
.no_border_bot{
    border-bottom:none;
}
.no_border_left{
    border-left:none;
}
.no_border_right{
    border-right:none;
}

/*颜色区域*/
.white_bg_color{
    background-color:#ffffff;
}
.blue_color1{
    background-color:#226ab2;
}
.blue_txt_color{
    color: #0064DC;
}
.grey_color1{
    background-color: #eeeeee;
}
.grey_color2{
    background-color: #f7f7f7;
}
.grey_color3{
    background-color: #f2f2f2;
}
.grey_color4{
    background-color: #e0e0e0;
}
.grey_color5{
    background-color: #f6f6f6;
}
.grey_color6{
    background-color: #f3f3f3;
}
.grey_color7{
    background-color: #FAFAFA;
}
.grey_txt_color1{
    color:#9c9c9c;
}
.grey_txt_color2{
    color:#666666;
}
.orange_txt_color1{
    color: #ff8041;
}
.orange_border_color1{
    border:1px solid #ff8041;
}
.green_color1{
    color:#008001;
}
.p_relative{
    position:relative;
}
/*字体区域*/
.ft12{
    font-size: 12px;
}
.ft13{
    font-size: 13px;
}
.ft14{
    font-size: 14px;
}
.ft16{
    font-size: 16px;
}
.ft18{
    font-size: 18px;
}
.ft22{
    font-size: 22px;
}
.margin_r10{
    margin-right: 10px;
}
/*中部开始*/
.wrapper {
    width: 100%;
    min-height: 100%;
}
.wrap{width:980px;position: relative;}
.wrap1{width:1120px;margin: 0px auto;}
.wrap:after,.wrap_head:after,.select_bd:after,.basic_table_pic:after,
.wrap1:after,.wrap_con:after {
    content: "";
    display: table;
    clear: both;
}
.wrap_head {
    width: 100%;
    height:90px;
    background-color: #eeeeee;
    overflow: hidden;
    position: relative;
}
.blue_link {
    text-decoration: underline;
    color: #3e7ec4;
}
.logo_tit{
    width: 250px;height: 48px;
    margin-top:21px;margin-left: 10px;
    float:left;
    background: url("../images/compare/VS_logo.gif") 0 0 no-repeat;
}
#help {
    height: 23px;
    line-height: 25px;
    /*float:right;
    margin-top: 15px;
    margin-left: 10px;*/
    padding: 0px 5px;
    background-color: #3EC978;
    border-bottom: 2px solid #467C58;
    color:#ffffff;
    position:absolute;bottom:5px;right: 10px;
}

.wrap_con{
    width: 100%;
    margin:10px 0px;
    float:left;
}
.condition{

}
.u_m2_tit{
    width:778px;
    height:35px;
    line-height: 35px;
    position: relative;
    border-top:none;
}
.u_m2_tit span{
    font-size: 12px;
    font-weight: bolder;
    margin-left: 10px;
}
.u_m3_tit{
    width:978px;
    height:35px;
    line-height: 35px;
    position: relative;
    border-top:none;
}
.u_m3_tit span{
    font-size: 12px;
    font-weight: bolder;
    margin-left: 10px;
}
.basic_table_pic {
    width: 188px;
    height: 258px;

    border:1px solid #e0e0e0;
    border-right:none;
    border-top:none;
    float: left;
}
.basic_table_pic_span {
    width: 127px;
    height: 193px;
    margin-top: 18px;
    margin-left: 30px;
    display: block;
}
.basic_table_pic_span img {
    width: 127px;
    height: 193px;
    display: block;
}
.basic_table_pic_span1{
    width: 127px;
    height: 13px;
    margin-left: 40px;
    display: block;
    float:left;
}
.basic_table_pic_span2 {
    width: 127px;
    height: 193px;
    margin-top: 408px;
    margin-left: 10px;
    display: block;
    float: left;
}
.basic_table_pic_span2 img {
    width: 127px;
    height: 193px;
    display: block;
}
#upload {
    height: 23px;
    line-height: 25px;
    float:left;
    margin: 10px auto;
    margin-left: 60px;
    padding: 0px 5px;
    background-color: #3598db;
    border-bottom: 2px solid #467C58;
    color:#ffffff;
    cursor: pointer;
}
.basic_table{
    width: 789px;
    float:left;
}
#item_basic_table {
    border-collapse: collapse;
    width: 100%;
    float: left;
    overflow: hidden;
}
.eventr {
    background-color: #FAFAFA;
}
.basic_table_c2 {
    width: 13%;
    text-align: right;
    padding-right: 20px;
}
.basic_table_c3 {
    width: 20%;
    padding-left: 20px;
}
.basic_table_c4 {
    width: 13%;
    text-align: right;
    padding-right: 20px;
}
.basic_table_c5{
    width: 40%;
    padding-left: 20px;
}
#item_basic_table td {
    border-width: 1px;
    border-style: solid;
    border-color: #E0E0E0;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
#item_basic_table td {
    border-width: 1px;
    border-style: solid;
    border-color: #E0E0E0;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
#begin_compare{
    height: 23px;
    line-height: 25px;
    margin: 10px auto;
    padding: 5px 5px;
    background-color: #fca328;
    border-bottom: 2px solid #c68527;
    color:#ffffff;
    cursor: pointer;
}



.select{
    width: 190px;
    margin-top: 10px;
    float: left;
}
.select_top{
    width: 100%;
    height:3px;
    font-size: 0;
}
.select_bd{
    border-top:none;
}
.u_m1_tit{
    width:188px;
    height:35px;
    line-height: 35px;
    border-top:none;
}
.u_m1_tit span{
    font-size: 14px;
    font-weight: bolder;
    margin-left: 10px;
}
.select_row{
    font-weight: bold;
    padding: 5px 10px;
}

#item_track_table1 td{
    overflow: hidden;
}
.track_table_c3 {
    padding:0px 4px;
    height:25px;
}
.input_time {
    width: 30px;
    height: 21px;
    line-height: 21px;
    border: 1px solid #CDCDCD;
    padding: 0px 4px;
}
.g_clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.item{float: left;}
.item1{float: left;margin-top:3px;}
.item2{height: 25px;line-height: 25px; margin-left:40px;}
.sep{
    float: left;width: 10px;
    text-align:center;margin-top: 4px;
}
.com_select{
    border:1px solid #CDCDCD;
}
.g_select2{
    margin-left: 20px;
}
.g_select1{
    margin-left: 10px;
}


.result{
    width: 780px;
    margin-left:10px;
    margin-top:10px;
    float:left;
}
.result_pic{
    width: 588px;
    height:10px;border: 1px solid red;
    float:left;
}
.compare_result_pic {
    width: 190px;
    border-right: medium none;
    float: left;
}
.compare_result_pic_span {
    width: 127px;
    height: 153px;
    margin-top: 18px;
    margin-left: 30px;
    display: block;
    /*float: left;*/
}
.compare_result_pic_span img {
    width: 127px;
    height: 153px;
    display: block;
}
.pic_info{
    width: 129px;
    margin-top: 10px;
    margin-left:30px;
}
.pic_info_row{
    height:25px;
    line-height:25px;

}
.float_pic{

    position: absolute;
    left:990px;
    top:408px;
    border:1px solid #E0E0E0;
}
.fl_pic1{
    position:fixed;left:50%;margin-left:430px;
    top:10px;height:193px;width:127px;
    _position: absolute;/*IE6 用absolute模拟fixed*/
    _top: expression(documentElement.scrollTop + 50 + "px");_left:"-152px" ;
    border:1px solid #E0E0E0;
}
#float_pic img{
    width: 127px;height: 193px;
}

/*分页*/
#result_pagination{
    height: 50px;
    margin-top:40px;
}
#pagination_con{
    width: 660px;
    margin:0 auto;
}
.page_num{
    width:30px;
    height:30px;
    line-height: 30px;
    margin:0 4px;
    text-align: center;
    float:left;
    color: #666666;
}
.current_page{
    background-color: #0089d1;
    color: #ffffff;
    border: 1px solid #0089d1;
}
.page_next{
    width:70px;
    height:30px;
    line-height: 30px;
    margin:0 4px;
    text-align: center;
    float:left;
    color: #666666;
}
.page_sum{
    width:40px;
    height:30px;
    line-height: 30px;
    margin:0 4px;
    text-align: center;
    float:left;
    color: #666666;
}
.page_general{
    width:auto;
    height:30px;
    line-height: 30px;
    margin:0 4px;
    text-align: center;
    float:left;
    color: #666666;
	position: relative;
    _top:1px;
}
.page_general img{
    position: relative;
    top:3px;
}
#page_input{
    width: 28px;
    height:22px;
    position: relative;
    top\0:-4px;
	_top:3px;
}




