@charset "utf-8";
/*全局样式*/
html body{
    overflow-y: auto;
    _overflow-y: hidden;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    min-height: 100%;
}
.border_grey{
    border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
    border-bottom:1px solid #e0e0e0;
}
.border_right_grey{
    border-right:1px solid #e0e0e0;
}
.border_left_grey{
    border-left:1px solid #e0e0e0;
}
.border_top_grey{
    border-top:1px solid #e0e0e0;
}
.border_bot_grey{
    border-bot:1px solid #e0e0e0;
}
.border_top_dot{
    border-top:1px dotted #e0e0e0;
}
.border_bot_dot{
    border-bottom:1px dotted #e0e0e0;
}
/*颜色区域*/
.white_bg_color{
    background-color:#ffffff;
}
.blue_color1{
    background-color:#226ab2;
}
.blue_txt_color{
    color: #0064DC;
}
.darkBlue_txt_color{
    color: #0089d1;
}
.grey_color1{
    background-color: #eeeeee;
}
.grey_color2{
    background-color: #f7f7f7;
}
.grey_color3{
    background-color: #f2f2f2;
}

.grey_color4{
    background-color: #e0e0e0;
}
.grey_color5{
    background-color: #f6f6f6;
}
.grey_color6{
    background-color: #f3f3f3;
}
.green_color7{
    background-color: #fafafa;
}
.grey_txt_color1{
    color:#9c9c9c;
}
.grey_txt_color2{
    color:#666666;
}
.orange_txt_color1{
    color: #ff8041;
}
.orange_border_color1{
    border:1px solid #ff8041;
}
.green_color1{
    color:#008001;
}
.p_relative{
    position:relative;
}
.red_color{
    color: red;
}
/*字体区域*/
.ft12{
    font-size: 12px;
}
.ft13{
    font-size: 13px;
}
.ft14{
    font-size: 14px;
}
.ft16{
    font-size: 16px;
}
.ft18{
    font-size: 18px;
}
.ft22{
    font-size: 22px;
}
.margin_r10{
    margin-right: 10px;
}
.ftbold{
    font-weight: bold;
}
.white_color{
    color: #ffffff;
}
.no_border_top{
    border-top:none;
}
.no_border_bot{
    border-bottom:none;
}
.no_border_left{
    border-left:none;
}
.no_border_right{
    border-right:none;
}
.clear{display: block;clear: both;}

.text-alignr{
    text-align: right;
}
.text-alignl{
    text-align: left;
}
.padding_bot8{
    padding-bottom: 8px;
}
.margin_r15{
    margin-right: 15px;
}
.fl{
    float:left;
}