<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<h2>布局table</h2>
<table class="table1">
    <thead>
    <tr>
        <td>标题1</td>
        <td>标题2</td>
        <td>标题3</td>
        <td>标题4</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="t1c11">1</td>
        <td class="t1c12">2</td>
        <td class="t1c13">3</td>
        <td class="t1c13">3</td>
    </tr>
    <tr>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
    </tr>
    <tr>
        <td>4</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
    </tr>
    </tbody>
</table>
<h2>展示table</h2>
<table class="table2">
    <thead>
    <tr>
        <td>标题1</td>
        <td>标题2</td>
        <td>标题3</td>
        <td>标题4</td>
        <td>标题5</td>
        <td>标题6</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>姓名：</td>
        <td>晓明</td>
        <td>性别：</td>
        <td>男</td>
        <td>年龄：</td>
        <td>13</td>
    </tr>
    <tr>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>2</td>
        <td>3</td>
        <td>3</td>
    </tr>
    <tr>
        <td>4</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>2</td>
        <td>3</td>
    </tr>
    </tbody>
</table>
<script src="jquery-1.4.2.min.js"></script>
<script>
$(function(){
    $(".table2>tbody>tr:eq(0)>td:nth-child(4n+3)").css('text-align', 'right');
})
</script>
</body>
</html>