/*公用样式部分*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,header,footer,section,article,nav{padding:0;margin:0;}
header,footer,section,article,nav{display:block; }
h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 100%;}
table, td, tr, th {font-size:12px }
li{list-style-type:none }
table { border-collapse:collapse;  border:0 none;  border-spacing:0; margin:0 auto;}
img,body,html{border:0 none }
ol, ul{list-style:none }
pre{white-space:pre-wrap; /* css3.0 */white-space:-moz-pre-wrap; /* Firefox */white-space:-pre-wrap; /* Opera 4-6 */white-space:-o-pre-wrap; /* Opera 7 */word-wrap:break-word; /* Internet Explorer 5.5+ */}
caption, th{text-align:left }
select {border: 1px solid #BDC7D8;margin-right: 5px}
em{color:#999;font-family: Tahoma, Verdana, helvetica;font-size: 12px;font-style: normal;white-space: nowrap}
strong { font-weight:bold; }
abbr, acronym {border:0;}
address, caption, cite, code, dfn, em, th, var {font-weight:normal;font-style:normal }
textarea{resize:none;}
a{cursor:pointer;}
input[type="text"], input[type="password"], textarea {outline-style: none;-webkit-appearance: none;}
/*主文字字体以及颜色*/
body{color:#333;font:12px/1.5 "Microsoft YaHei",Arial,Helvetica,sans-serif,Simsun;background: #FFF  repeat 0 0;}

/*主超链接设置*/
a {color: #333;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {color: #20A0E5; text-decoration: none;}
/*次连接颜色*/
.sub-link a,a.sub-link{color:#2E6EA2;}
.sub-link a:hover,a.sub-link:hover {color: #2E6EA2; text-decoration: underline;}
/*更多连接颜色*/
.m-link a,a.m-link{color: #DE2427;}
.m-link a:hover,a.m-link:hover{color: #DE2427; text-decoration: underline;}
.m-link2 a,a.m-link2{color: #00A2CA;}
.m-link2 a:hover,a.m-link2:hover{color: #00A2CA; text-decoration: underline;}
/*主文字颜色，没设置次要的文字颜色。有些情况下m-text有用*/
.m-text{color: #666;}

/*win8系统的灰色按钮样式*/
.btn_sgray {
	display: inline-block;
	height: 23px;
	line-height: 23px;
	padding: 0 8px;
	color: #333;
	font-family: "宋体";
	font-size: 14px;
	border: 1px solid #ACACAC;
	background: #EFEFEF url(img/btn/btn-sgray-bg.png) repeat-x 0 0;
}
.btn_sgray:hover {
	text-decoration: none;
	border-color: #7EB4EA;
	background-position: 0 -23px;
}

/*浮动*/
.fl { float:left;}
.fr { float: right;}
/*清除浮动*/
.clear {height: 1em; line-height: 1em; clear: both}
.c {clear:both;font-size:1px;height:0;line-height:0;visibility:hidden}
.clearfix:after {clear:both;content:".";display:block;margin:0;padding:0;font-size:0;height:0;line-height:0;overflow:hidden}
.clearfix {*zoom:1}
.hclear {overflow:hidden;*zoom: 1;}

/*内外边距*/
.ml5{margin-left:5px}  .mr5{margin-right:5px} .mt5{margin-top:5px} .mb5{margin-bottom:5px}
.mt10{margin-top:10px}  .mr10{margin-right:10px}  .ml10{margin-left:10px} .mb10{margin-bottom:10px}
.mt15{margin-top:15px}  .mr15{margin-right:15px}  .ml15{margin-left:15px} .mb15{margin-bottom:15px}
.mt20{margin-top:20px} .mr20{margin-right:20px} .ml20{margin-left:20px} .mb20{margin-bottom:20px}
.pb5{padding-bottom:5px}  .pl5{padding-left:5px}  .pt5{padding-top:5px}  .pr5{padding-right:5px}
.pb10{padding-bottom:10px}  .pl10{padding-left:10px}  .pt10{padding-top:10px}  .pr10{padding-right:10px}
.pb15{padding-bottom:15px}  .pl15{padding-left:15px}  .pt15{padding-top:15px}  .pr15{padding-right:15px}
.pb20{padding-bottom:20px}  .pl20{padding-left:20px}  .pt20{padding-top:20px}  .pr20{padding-right:20px}

/*边线及定位*/
.noul, .noul:HOVER {text-decoration: none;}
.uline, .uline:HOVER {text-decoration: underline;}
.ouline:HOVER {text-decoration: underline;}
.relative { position: relative;}
.absolute { position: absolute;}

/*通用字体*/
.yhfont {font-family: "Microsoft YaHei",STXihei,Arial,Helvetica,sans-serif,Simsun, 宋体; }
.stfont {font-family: "宋体",Arial,Helvetica,sans-serif,Simsun,STXihei,"Microsoft YaHei"; }
.f12 {font-size: 12px;}
.f13 {font-size: 13px;}
.f14 {font-size: 14px;}
.f15 {font-size: 15px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}
.fbold {font-weight: bold;}
.fnormal {font-weight: normal;}
.fblue, a.fblue {color: #0995E0;}
.fgreen, a.fgreen {color: #63A505;}
.fnavyblue, a.fnavyblue {color: #266D9A;}
.fgray, a.fgray {color: #555;}
.fgray2, a.fgray2 {color: #999}
.fwhite, a.fwhite {color: #FFF;}
.fred, a.fred {color: #FF0000;}
.fred2, a.fred2 {color: #EA6604;}
.forange, a.forange {color: #FF9400;}
.tc {text-align: center;}
.tl {text-align: left;}
.tr {text-align: right;}
.autolr {margin-left: auto; margin-right:auto;}
.graybd {border: 1px solid #E1E1E1;}
.bluebd {border: 1px solid #8bb6d9;}
.whitebk {background-color: #FFF;}
.graybk {background-color: #F7F7F7;}
.redbk {background-color: #F2511A;}
.greenbk {background-color: #A9D502;}
.bluebk {background-color: #059AF8;}

/*文本隐藏以及清除间距*/
.ellipse{max-width: 100%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; /* 现代浏览器 +IE6、7 inline 元素 */}
.clearspace {word-spacing: -.43em;*letter-spacing: normal; /* 清楚行内元素之间默认的空白间距 */}

/*透明高亮*/
.hilight:hover {opacity: 0.85; filter: alpha(opacity=85);}

/*阴影*/
.shadow{-moz-box-shadow: -1px 1px 1px rgba(0,0,0,.2);-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);box-shadow: 0 2px 4px rgba(0,0,0,.2);}

/*圆角*/
/*--radius 2--*/
.radius2 { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.radius2-tl { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; }
.radius2-tr { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.radius2-bl { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.radius2-br { -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }
.radius2-t {
	-moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px;
}
.radius2-r {
	-moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px;
	-moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px;
}
.radius2-b {
	-moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px;
	-moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px;
}
.radius2-l {
	-moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px;
}
/*--radius 3--*/
.radius3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.radius3-tl { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px; }
.radius3-tr { -moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px; }
.radius3-bl { -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px; }
.radius3-br { -moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px; }
.radius3-t {
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
}
.radius3-r {
	-moz-border-radius-topright: 3px; -webkit-border-top-right-radius: 3px; border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
}
.radius3-b {
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px; -webkit-border-bottom-right-radius: 3px; border-bottom-right-radius: 3px;
}
.radius3-l {
	-moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;
}
/*--radius 4--*/
.radius4 { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.radius4-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.radius4-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.radius4-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.radius4-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.radius4-t {
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px;
}
.radius4-r {
	-moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
}
.radius4-b {
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px;
}
.radius4-l {
	-moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
}
/*--radius 5--*/
.radius5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.radius5-tl { -moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px; }
.radius5-tr { -moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px; }
.radius5-bl { -moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; }
.radius5-br { -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px; }
.radius5-t {
	-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
}
.radius5-r {
	-moz-border-radius-topright: 5px; -webkit-border-top-right-radius: 5px; border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;
}
.radius5-b {
	-moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; border-bottom-right-radius: 5px;
}
.radius5-l {
	-moz-border-radius-topleft: 5px; -webkit-border-top-left-radius: 5px; border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px; -webkit-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px;
}

/*ui图标*/
.ui_icons {background:url(img/ui-icons.png) no-repeat;}

/*分页相关CSS样式*/
#paper, .paper { text-align: center; padding: 20px 0; }
.button,.paper .select,.ui_paper_prep .icon_prep,.ui_paper_next .icon_next { display: inline-block; *display:inline; *zoom: 1;}
.button,.paper .select{ border: 1px solid #EEE; }
.button { height: 2.4em; line-height: 2.4em; padding: 0 1em; font-family: "宋体"; cursor: pointer; margin-right: 5px; background-color: #FFF; overflow: hidden; }
a.button { color: #333; }
.button:hover { color: #0A80C6; border-color: #0A80C6; }
a.button:hover, a.button:ACTIVE{ color: #0A80C6; text-decoration: none; }
.button.selected, .button.selected:hover { color: #FFF; background-color: #0A80C6; border-color: #0A80C6; cursor: default; }
a.button.selected, a.button.selected:HOVER, a.button.selected:ACTIVE{ color: #FFF; }
.button.disabled { display: none; }
.paper .select{ padding: .1em; padding-right: 0; height: 2.3em; margin-right: 5px; vertical-align: .8em; *vertical-align: -.5em;}
.jq-ie8 .paper .select{ vertical-align: .4em; }
.jq-safari .paper .select{ vertical-align: .75em; }
.jq-mozilla .paper .select{ vertical-align: 1.1em; }
.ui_paper_prep,.ui_paper_next { padding: 0; width: 30px;  line-height: 2.6em; text-align: center; }
.ui_paper_prep .icon_prep,.ui_paper_next .icon_next { width: 5px; height: 10px; *vertical-align: -.7em; }
.ui_paper_prep .icon_prep { background-position: -46px -112px; }
.ui_paper_prep:hover .icon_prep { background-position: -62px -112px; }
.ui_paper_next .icon_next { background-position: -79px -112px; }
.ui_paper_next:hover .icon_next { background-position: -95px -112px; }

/* tab基本样式 */
.ui_tabs_titles {*zoom:1;}
.ui_tabs_titles:after {clear:both;content:".";display:block;margin:0;padding:0;font-size:0;height:0;line-height:0;overflow:hidden}
.ui_tabs_titles li {position: relative;float: left;cursor: pointer;}
.ui_tabs_titles li a {display: inline-block;width: 100%;height: 100%;color:inherit;}
.ui_tabs_content {display: none;}
.ui_tabs_content.selectedContent {display: block;}

/* multiselect基本样式 */
.ui_multiselect {width: 170px;height: 22px;line-height: 22px;border: 1px solid #E0E0E0;cursor: pointer;}
.ui_multiselect_arrow {display: inline-block;width: 7px;height: 4px;float: right;margin: 8px 3px 0 0;background-position: -8px -115px;}
.ui_multiselect_items {display: none;width: 164px;padding: 3px;background: #FCFCFC;border: 1px solid #CECECE;border-top: 0 none;z-index: 10000;}
.ui_multiselect_header {position:relative;height: 22px;line-height: 22px;padding-left: 4px;margin-bottom: 3px;color: #7C7C7C;font-weight: bold;background: #F5B329;}
.ui_multiselect_label {padding-left: 4px;}
.ui_multiselect_close {display: inline-block;width: 12px;height: 12px;position:absolute;top:5px;right:2px;background-position: -24px -110px;cursor: pointer;}
.ui_multiselect_item {height: 28px;line-height: 28px;padding: 0 5px;color: #555;cursor: pointer;}
.ui_multiselect_item:hover {color: #FFF;background: #3391D4;}

/*图片滑动  基于slidesjs-3*/
.slidesjs-pagination {
	position: absolute;
	left: 50%;
	bottom: 20px;
	z-index: 99;
	overflow: hidden; *zoom: 1;
}
.slidesjs-pagination-item {
	float: left;
	width: 16px;
	height: 17px;
	margin: 0 8px;
	overflow: hidden;
}
.slidesjs-pagination-item a {
	display: inline-block;
	width: 16px;
	height: 0;
	padding-top: 17px;
	background: url(img/ui-icons.png) no-repeat -249px -2px;
	*display: inline; *zoom: 1;
}
.slidesjs-pagination-item a:hover {
	background-position: -216px -2px;
}
.slidesjs-pagination-item a.active, .slidesjs-pagination-item a.active:hover {
	background-position: -182px -2px;
}

/*---通用icon---*/
.icons {background:url(img/icons.png) no-repeat;}
.menu-icons {background:url(img/menu-icons.png) no-repeat;}
.text-icons {background:url(img/text-icons.png) no-repeat;}

/*面包屑导航*/
#sitemap {
	height: 30px;
	line-height: 30px;
	padding: 6px 0 5px;
}
#sitemap .smtitle, #sitemap a{
	color: #666;
	font-size: 12px;
}
#sitemap a:hover {
	color: #20A0E5;
}
#sitemap .smtitle {
	padding-left: 21px;
	background-position: -8px 0;
}
#sitemap .smspace {
	display: inline-block;
	width: 16px;
	height: 12px;
	background-position: -8px -16px;
	margin: 0 3px;
	*vertical-align: 4px;
}

.btn-sbule,a.btn-sblue {
	display: inline-block;
	width: 69px;
	height: 28px;
	line-height: 28px;
	color: #FFF;
	font-size: 14px;
	background: #0C93E5;
	text-align: center;
	*display: inline; *zoom: 1;
}

/*布局*/
#body-wrap {
	width: 100%;
	padding-top: 20px;
	background: url(img/body-bg-detail.png) repeat-x 0 0;
}
#content-wrap {
	width: 1000px;
	margin: 0 auto;
}
#content-body {
	background: #F5F5F5;
	border-left: 1px solid #EBE8E8;
}
#content-right {
	min-height: 500px;
	margin-left: 218px;
	border-left: 1px solid #EBE8E8;
	background: #FFF;
}

.content-box {
	padding: 15px 22px 50px;
	background: #FFF;
	border: 1px solid #EBE8E8;
}

/*子内容title*/
.sub-titleA {
	height: 30px;
	background: #F6F6F6;
	overflow: hidden; *zoom: 1;
}
.sub-titleA .vline {
	float: left;
	display: block;
	width: 5px;
	height: 100%;
	background: #00A2CA;
}
.sub-titleA .text {
	line-height: 30px;
	padding-left: 10px;
	color: black;
	font-size: 16px;
}

.sub-titleB {
	position: relative;
	height: 27px;
	border-bottom: 1px solid #EFEFEF;
}
.sub-titleB .text {
	display: inline-block;
	height: 25px;
	line-height: 25px;
	position: absolute;
	left: 0;
	top: 1px;
	color: #333;
	font-size: 15px;
	border-bottom: 2px solid #4D4D4D;
}

.content-text {
	padding: 8px 0;
}
.content-text p,p.content-text {
	padding: 8px 0;
	line-height: 25px;
	text-indent: 2em;
	font-size: 13px;
	word-wrap: break-word;
	word-break: break-all;
}
.content-text p {
	padding: 0 0 8px;
}

.common-text {
	padding: 13px 0;
	color: #666;
	font-size: 14px;
	line-height: 26px;
	word-wrap: break-word;
	word-break: break-all;
}
.content-text .common-text {
	text-indent: 0;
}

.content-listxt {
	padding: 8px 16px 8px 40px;
	color: #666;
	font-size: 13px;
}
.content-listxt li {
	line-height: 25px;
	word-wrap: break-word;
	word-break: break-all;
	padding-bottom: 8px;
}
ol.content-listxt li {
	list-style: decimal outside;
}
ul.content-listxt li {
	list-style: disc outside;
}
ol.content-listxt li.sub-cont,ul.content-listxt li.sub-cont {
	list-style: none;
	text-indent: 2em;
	margin-top: -4px;
}
ol.content-listxt .sub-cont li,ul.content-listxt .sub-cont li {
	text-indent: 0;
}

.content-text .content-listxt {
	padding: 0 16px 8px 40px;
}
