@charset "UTF-8";
.theme1{
  background-color:$c_bg1;
}
.groupWrapper .groupItem .theme3,#main_body .theme3{
  background-color:lighten($c_bg3,30%);
}
.theme4{
  background-color:$c_bg4;
}
.groupWrapper .groupItem .theme5,#main_body .theme5{
  background-color:$c_bg5;
}
.skin_active{
  color:orange;
  font-weight: bold;
}