@charset "UTF-8";
/*页面宽度*/
/*主页宽度1004px*/
$w_index:1024px;
/*通用百分比*/
$p_w_index:74.963396%;
/*背景颜色*/
$c_nav_bg:#2c2c2c;
$c1:#369ce9;
$c_bg1:#00b2f2;/*蓝色主题背景色*/
$c_bg2:#e0e0e0;/*灰色背景色*/
/*边框颜色*/
$c_border1:#dddddd;//边框颜色1
$c2:#ececec;
$c3:#2199cf;



