@charset "UTF-8";
/*页面宽度*/
/*主页宽度1280px*/
/*背景颜色*/
/*蓝色主题背景色*/
/*灰色背景色*/
/*绿色主题背景色*/
/*绿色主题背景色*/
/*绿色主题背景色*/
/*边框颜色*/
/* line 2, ../sass/partials/_fonts.scss */
.ft12 {
  font-size: 12px;
}

/* line 5, ../sass/partials/_fonts.scss */
.ft13 {
  font-size: 13px;
}

/* line 8, ../sass/partials/_fonts.scss */
.ft14 {
  font-size: 14px;
}

/* line 11, ../sass/partials/_fonts.scss */
.ft16 {
  font-size: 16px;
}

/* line 14, ../sass/partials/_fonts.scss */
.ft18 {
  font-size: 18px;
}

/* line 17, ../sass/partials/_fonts.scss */
.ft22 {
  font-size: 22px;
}

/* line 20, ../sass/partials/_fonts.scss */
.yahei {
  font-family: 'Microsoft Yahei','微软雅黑','黑体','宋体',Tahoma,Arial,Helvetica,STHeiti;
}

/* reset */
/* line 3, ../sass/partials/_normalize.scss */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
}

/* line 4, ../sass/partials/_normalize.scss */
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

/* line 5, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*合并边线*/
/* line 6, ../sass/partials/_normalize.scss */
caption, th {
  text-align: left;
  font-weight: normal;
}

/*居左，正常字体*/
/* line 7, ../sass/partials/_normalize.scss */
html, body, fieldset, img, iframe, abbr {
  border: 0;
}

/*去除边宽*/
/* line 8, ../sass/partials/_normalize.scss */
i, cite, em, var, address, dfn {
  font-style: normal;
}

/*正常字体*/
/* line 9, ../sass/partials/_normalize.scss */
[hidefocus], summary {
  outline: 0;
}

                                /*当元素获得焦点的时候，焦点框为0(貌似不太好使,网上找的是:
:focus{outline: 0;})*/
/* line 11, ../sass/partials/_normalize.scss */
li {
  list-style: none;
}

/* line 12, ../sass/partials/_normalize.scss */
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

/*定义默认字体大小*/
/* line 13, ../sass/partials/_normalize.scss */
sup, sub {
  font-size: 83%;
}

/*上下标的字体大小*/
/* line 14, ../sass/partials/_normalize.scss */
pre, code, kbd, samp {
  font-family: inherit;
}

/* line 15, ../sass/partials/_normalize.scss */
q:before, q:after {
  content: none;
}

/*去掉引号*/
/* line 16, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  resize: none;
}

/* line 17, ../sass/partials/_normalize.scss */
label, summary {
  cursor: default;
}

/* line 18, ../sass/partials/_normalize.scss */
a, button {
  cursor: pointer;
}

/*手性图标*/
/* line 19, ../sass/partials/_normalize.scss */
h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold;
}

/* line 20, ../sass/partials/_normalize.scss */
del, ins, u, s, a, a:hover {
  text-decoration: none;
}

/*去掉下滑线*/
/* line 21, ../sass/partials/_normalize.scss */
body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial,\5b8b\4f53;
  color: #333;
  outline: 0;
}

/* line 22, ../sass/partials/_normalize.scss */
body {
  background: #fff;
}

/* line 23, ../sass/partials/_normalize.scss */
a, a:hover {
  color: #666;
}

/* line 8, ../sass/partials/_placeholders.scss */
.nav_bar {
  width: 100%;
}

/* line 1, ../sass/partials/_base.scss */
.fl, .nav_bar_li, .sub_nav_ul li, .search_box_input, .search_box_submit {
  float: left;
}

/* line 2, ../sass/partials/_base.scss */
.fr {
  float: right;
}

/* line 3, ../sass/partials/_base.scss */
.fb {
  font-weight: bold;
}

/* line 4, ../sass/partials/_base.scss */
.tx_c {
  text-align: center;
}

/* line 5, ../sass/partials/_base.scss */
.tx_l {
  text-align: left;
}

/* line 6, ../sass/partials/_base.scss */
.tx_r {
  text-align: right;
}

/* line 2, ../sass/partials/_theme.scss */
.theme1, .nav_bar {
  background-color: #00b2f2;
}

/* line 5, ../sass/partials/_theme.scss */
.groupWrapper .groupItem .theme3, #main_body .theme3 {
  background-color: #1aff1a;
}

/* line 8, ../sass/partials/_theme.scss */
.theme4 {
  background-color: yellow;
}

/* line 11, ../sass/partials/_theme.scss */
.groupWrapper .groupItem .theme5, #main_body .theme5 {
  background-color: pink;
}

/* line 14, ../sass/partials/_theme.scss */
.skin_active {
  color: orange;
  font-weight: bold;
}

/* line 2, ../sass/partials/_modules.scss */
#portal {
  width: 1300px;
  margin: 10px auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 7, ../sass/partials/_modules.scss */
#header {
  margin-left: 20px;
}

/* line 10, ../sass/partials/_modules.scss */
#header .form-text {
  line-height: 26px;
  padding-top: 20px;
  padding-right: 0;
}

/* line 15, ../sass/partials/_modules.scss */
.form-list {
  margin: 10px;
}

/* line 18, ../sass/partials/_modules.scss */
.form-list td {
  padding: 5px;
  vertical-align: top;
}

/* line 22, ../sass/partials/_modules.scss */
.form-text {
  text-align: right;
}

/* line 25, ../sass/partials/_modules.scss */
.form-list .s-gray {
  margin-top: 5px;
}

/* line 28, ../sass/partials/_modules.scss */
.form-list .s-require {
  margin-right: 5px;
}

/* line 31, ../sass/partials/_modules.scss */
.form-list .s-gray {
  color: #666666;
}

/* line 34, ../sass/partials/_modules.scss */
.form-list .layout-list {
  line-height: 20px;
  padding-right: 0;
  vertical-align: top;
}

/* line 39, ../sass/partials/_modules.scss */
.layout-list a {
  padding: 5px;
  font-size: 13px;
  position: relative;
  top: -4px;
}

/* line 45, ../sass/partials/_modules.scss */
.layout-list a:hover {
  color: #FF6600;
}

/* line 48, ../sass/partials/_modules.scss */
.layout-list .active {
  color: #FF6600;
  font-weight: bold;
}

/* line 53, ../sass/partials/_modules.scss */
.w250 {
  width: 250px;
}

/* line 56, ../sass/partials/_modules.scss */
.w300 {
  width: 300px;
}

/* line 59, ../sass/partials/_modules.scss */
.w500 {
  width: 500px;
}

/* line 62, ../sass/partials/_modules.scss */
.w750 {
  width: 750px;
}

/* line 65, ../sass/partials/_modules.scss */
.wnone {
  display: none;
}

/* line 68, ../sass/partials/_modules.scss */
.groupWrapper {
  float: left;
  margin-right: 1px;
  margin-left: 10px;
  min-height: 400px;
}

/* line 74, ../sass/partials/_modules.scss */
.groupItem {
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1px 2px 5px #CCCCCC;
  border: 1px solid #DDDDDD;
  margin-bottom: 20px;
  width: 100%;
}

/* line 82, ../sass/partials/_modules.scss */
.groupItem .itemHeader {
  background: none repeat scroll 0 0 #0cbfff;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #dddddd;
  color: #888888;
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  padding: 5px 10px;
  cursor: move;
  position: relative;
}

/* line 95, ../sass/partials/_modules.scss */
.groupItem .itemHeader a {
  margin: 10px 0 0;
  padding: 1px;
  top: 0;
  font-size: 11px;
  font-weight: normal;
  position: absolute;
  text-decoration: none;
  -moz-user-select: none;
  float: left;
  width: 16px;
  height: 16px;
}

/* line 108, ../sass/partials/_modules.scss */
.close {
  background-image: url('../img/action-close.png?1338275866');
  right: 0;
}

/* line 112, ../sass/partials/_modules.scss */
.refresh {
  background-image: url('../img/action-refresh.png?1338275866');
  right: 32px;
}

/* line 116, ../sass/partials/_modules.scss */
.max {
  background-image: url('../img/action-max.png?1338275866');
  right: 16px;
}

/* line 120, ../sass/partials/_modules.scss */
.min {
  background-image: url('../img/action-min.png?1338275868');
  right: 16px;
}

/* line 125, ../sass/partials/_modules.scss */
.groupItem .itemHeader h3 {
  font: bold 14px/28px arial;
  color: #ffffff;
  margin: 0;
}

/* line 131, ../sass/partials/_modules.scss */
.groupItem .itemContent {
  color: #000000;
  font-size: 12px;
  line-height: 28px;
  position: relative;
  background-color: white;
}

/* line 139, ../sass/partials/_modules.scss */
.ui-sortable-placeholder {
  border: 2px dotted #9F9F9F;
  visibility: visible !important;
}

/* line 143, ../sass/partials/_modules.scss */
.ui-sortable-placeholder * {
  visibility: hidden;
}

/* line 146, ../sass/partials/_modules.scss */
.portlet {
  background-color: #FFFFCC;
  cursor: move;
}

/* line 151, ../sass/partials/_modules.scss */
.tag-content {
  overflow: hidden;
  width: 650px;
}

/* line 155, ../sass/partials/_modules.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 159, ../sass/partials/_modules.scss */
.layout-list, .theme-list {
  padding-top: 0px;
  font-size: 15px;
}

/* line 163, ../sass/partials/_modules.scss */
.layout-list a:hover {
  color: #FF6600;
}

/* line 167, ../sass/partials/_modules.scss */
.tag-list {
  height: 35px;
  width: 400px;
  padding-left: 0px;
}

/* line 172, ../sass/partials/_modules.scss */
.tag-list li {
  display: inline;
  float: left;
  margin-bottom: 15px;
  margin-right: 9px;
  position: relative;
}

/* line 180, ../sass/partials/_modules.scss */
.tag-list li a {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #E4E4E4 #DDDDDD #D7D7D7;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  float: left;
  line-height: 28px;
  padding: 0 5px 0 5px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

/* line 198, ../sass/partials/_modules.scss */
.tag-list li a:hover {
  box-shadow: 2px 2px 5px #CCCCCC;
}

/* line 202, ../sass/partials/_modules.scss */
.tag-list li a i {
  left: 3px;
  top: 8px;
}

/* line 206, ../sass/partials/_modules.scss */
.tag-list li a .add {
  background-image: url('../img/addddd.png?1338275868');
  height: 16px;
  position: absolute;
  width: 16px;
}

/* line 214, ../sass/partials/_modules.scss */
.tag-list .ok {
  background-image: url('../img/ok.png?1338275868');
  top: -5px;
  right: -5px;
  height: 16px;
  width: 16px;
  position: absolute;
}

/* line 223, ../sass/partials/_modules.scss */
.button {
  border-radius: 3px 3px 3px 3px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  overflow: visible;
  padding: 5px 10px;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #FFFFFF;
  white-space: nowrap;
}

/* line 236, ../sass/partials/_modules.scss */
.b {
  background-color: #ECECEC;
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

/* line 243, ../sass/partials/_modules.scss */
.b:hover, .b:focus {
  background-color: #3C8DDE;
  background-image: -moz-linear-gradient(#599bdc, #3072b3);
  border-color: #3072B3 #3072B3 #2A65A0;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
}

/* line 252, ../sass/partials/_modules.scss */
.p {
  background: -moz-linear-gradient(center top, #fff6e1, #ffe9b8 100%) repeat scroll 0 0 transparent;
  border: 1px solid #8A745A;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #54320B;
  padding: 0 15px;
  position: relative;
  text-align: center;
}

/* line 262, ../sass/partials/_modules.scss */
.p:hover {
  background: -moz-linear-gradient(center top, #ffe9b8, #fbce95 100%) repeat scroll 0 0 transparent;
  text-decoration: none;
}

/*add S============*/
/* line 269, ../sass/partials/_modules.scss */
.w300 {
  width: 300px;
}

/* line 270, ../sass/partials/_modules.scss */
.w390 {
  width: 390px;
}

/* line 271, ../sass/partials/_modules.scss */
.w770 {
  width: 770px;
}

/* line 272, ../sass/partials/_modules.scss */
.w570 {
  width: 570px;
}

/*add E============*/
/* line 275, ../sass/partials/_modules.scss */
.button, #submit {
  color: #FFF;
  cursor: pointer;
  padding: 4px 12px;
  font-size: 14px;
  background-color: #1676D8;
  background-image: linear-gradient(to bottom, #1c7ee1, #0865c3);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  line-height: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}

/*body宽度*/
/* line 3, ../sass/partials/_layout.scss */
#main_body {
  background-color: #e0e0e0;
}

/* line 6, ../sass/partials/_layout.scss */
.con_w, .common_bd {
  width: 1280px;
  margin: 0px auto;
}

/* line 10, ../sass/partials/_layout.scss */
.nav_bar {
  height: 100px;
  line-height: 100px;
}

/* line 15, ../sass/partials/_layout.scss */
.common_bd {
  overflow: hidden;
  *zoom: 1;
}

/* line 19, ../sass/partials/_layout.scss */
.nav_bar_li {
  margin-left: 30px;
}
/* line 22, ../sass/partials/_layout.scss */
.nav_bar_li:first-child {
  margin-left: 0px;
}

/* line 24, ../sass/partials/_layout.scss */
.g_platform_icon {
  display: block;
  width: 499px;
  height: 95px;
  background-image: url('../img/logo.png?1427185854');
  background-size: 499px 95px;
  background-repeat: no-repeat;
  margin-top: 5px;
}

/* line 33, ../sass/partials/_layout.scss */
.sub_nav_ul li {
  margin-left: 30px;
}
/* line 36, ../sass/partials/_layout.scss */
.sub_nav_ul li img {
  width: 27px;
  height: 23px;
  position: relative;
  top: 5px;
  *top: 0px;
  _top: 5px;
}

/* line 45, ../sass/partials/_layout.scss */
.search {
  width: 211px;
  height: 33px;
  background-image: url('../img/search.png?1427185854');
  background-size: 211px 33px;
  background-repeat: no-repeat;
  line-height: 33px;
  margin-top: 35px;
}

/* line 50, ../sass/partials/_layout.scss */
.search_box_input {
  padding: 4px 10px;
  height: 23px;
  line-height: 23px;
  width: 139px;
  border: 0px none;
  outline: 0px none;
  background: none repeat scroll 0% 0% #FFF;
  margin: 1px 0px 0px 8px;
  border-radius: 15px;
}

/* line 62, ../sass/partials/_layout.scss */
.search_box_submit {
  width: 30px;
  height: 33px;
  display: block;
}

/* line 67, ../sass/partials/_layout.scss */
.custom, .skin, .layout {
  display: block;
  width: 64px;
  height: 64px;
  background-image: url('../img/module1.png?1427185854');
  background-size: 64px 64px;
  background-repeat: no-repeat;
  margin-top: 20px;
}
/* line 71, ../sass/partials/_layout.scss */
.custom:hover, .skin:hover, .layout:hover {
  width: 64px;
  height: 64px;
  background-image: url('../img/module2.png?1427185854');
  background-size: 64px 64px;
  background-repeat: no-repeat;
}

/* line 75, ../sass/partials/_layout.scss */
.skin {
  width: 64px;
  height: 64px;
  background-image: url('../img/skin1.png?1427185854');
  background-size: 64px 64px;
  background-repeat: no-repeat;
}
/* line 78, ../sass/partials/_layout.scss */
.skin:hover {
  width: 64px;
  height: 64px;
  background-image: url('../img/skin2.png?1427185854');
  background-size: 64px 64px;
  background-repeat: no-repeat;
}

/* line 82, ../sass/partials/_layout.scss */
.layout {
  width: 64px;
  height: 64px;
  background-image: url('../img/layout1.png?1427185854');
  background-size: 64px 64px;
  background-repeat: no-repeat;
}
/* line 85, ../sass/partials/_layout.scss */
.layout:hover {
  width: 64px;
  height: 64px;
  background-image: url('../img/layout2.png?1427185854');
  background-size: 64px 64px;
  background-repeat: no-repeat;
}

/* line 89, ../sass/partials/_layout.scss */
.main_wrap, .skin_wrap, .layout_wrap {
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  z-index: 100;
  display: none;
  background-color: white;
  overflow: hidden;
  *zoom: 1;
}
