@charset "utf-8";
/*全局样式*/


/*强制去掉垂直滚动条*/
html{
    overflow-y:auto;
}
.wrapper {
    width: 100%;
    min-height: 100%;
}
.blue_link {
    text-decoration: underline;
    color: #3e7ec4;
}
.blue_color{
    color: #3e7ec4;
}




/*头部开始*/
#wrapper_head {
    width: 100%;
    height:30px;
    background-color: #424242;
    text-align: right;
    /*margin-bottom: 80px;*/
}
#wrapper_head p{
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    margin-right: 13px;
}
/*高级用户*/
#adv_user {
    color:#FF9C03;
    text-decoration: underline;
}





/*中部开始*/
#wrapper_mid {
    width: 100%;
    margin-top:80px;
    /*中部定义最小高度*/
    /*height:auto !important;
    height:auto;
    min-height:auto;*/
    /*text-align: center;*/
}
#search_area {
    width: 752px;
    height: 92px;
   /* margin-top:80px;*/
    margin-left: auto;
    margin-right: auto;
}

#logo {
    float:left;
    margin-top: 25px;
}


#nav_wrapper {
    position: relative;
    width: 554px;
    margin-left:8px;
    float: left;
}


#nav_wrapper #nav_menu {
    width: 500px;
    height:20px;
    line-height: 20px;
    margin-bottom: 12px;
}

#nav_wrapper #nav_menu a {
    width: 80px;
    height: 22px;
    display: block;
    float: left;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}
.cur_1{
    background-image:url("../img/xx_1.gif") ;
}
a.cur_1:hover{
    background-image:url("../img/xx_3.gif") ;
}
.current_nav{
    background-image:url("../img/xx_3.gif") ;
}
.cur_2{
    background-image:url("../img/rx_1.gif") ;
}
a.cur_2:hover{
    background-image:url("../img/rx_3.gif") ;
}
.current_nav2{
    background-image:url("../img/rx_3.gif") ;
}
.cur_3{
    background-image:url("../img/sp_1.gif") ;
}
a.cur_3:hover{
    background-image:url("../img/sp_3.gif") ;
}
.current_nav3{
    background-image:url("../img/sp_3.gif") ;
}
.cur_4{
    background-image:url("../img/wy_1.gif") ;
}
a.cur_4:hover{
    background-image:url("../img/wy_3.gif") ;
}
.current_nav4{
    background-image:url("../img/wy_3.gif") ;
}
.cur_5{
    background-image:url("../img/wd_1.gif") ;
}
a.cur_5:hover{
    background-image:url("../img/wd_3.gif") ;
}
.current_nav5{
    background-image:url("../img/wd_3.gif") ;
}

.cur_tab{

}

#nav_wrapper #nav_animate_block {
    position: absolute;
    top: 22px;
    height: 3px;
    overflow: hidden;
    background-color: #FF9501;
    background-repeat: no-repeat;
    margin-top: 0px;
}

/*搜索框*/
#search_con {
    width:554px;
    height:34px;
}


.con_btn {
    width: 460px;
    height:30px;
    border: 2px solid #0089d1;
    background-color: #ffffff;
    float: left;
    line-height: 30px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    padding: 0px 9px 0px 7px;;
}
#tria{
    position: absolute;
    left:450px;
    top:45px;
    cursor:pointer;
}



.in_box{
    width:66px;
    height:34px;
    /*overflow:hidden;*/
    position:relative;
}
.in_box img{
    width:66px;
    height:34px;
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
    overflow:hidden;
}
.in_box span{
    width:66px;
    height:0px;
    position:absolute;
    left:0px;
    top:38px;
    z-index:1;
    text-align:center;
    line-height:34px;
    font-size:14px;
    color:#FFF;
    background:#ffa340;
    font-weight:bold;
    overflow:hidden;
    display:none;
}
.in_box a{
    width:66px;
    height:34px;
    position:absolute;
    left:0px;
    top:0px;
    z-index:3;
}

.bd_box {
    width: 66px;
    height: 34px;
    float: left;
    margin-left: 5px;
}

#search_status {
    width:542px;
    height:14px;
    margin-top: 8px;
}
#sys_status{
    display: block;
    float:left;
}
.red{
    color: #ff0000;
}
.adv_search {
    float: right;
}

/*tab页*/
.tab_con {
    width: 746px;
    height:300px;
    margin-top:45px;
    margin-left: auto;
    margin-right: auto;
}
.l_box{
    width: 80px;
    height:260px;
    float: left;
    background-color: #e9eaea;
}
.tab{
    width: 80px;
    height:34px;
    line-height: 33px;
    border:none;
    text-align: center;
    font-size: 14px;
    color:#9c9389;
    display: inline-block;
    position: relative;
    text-decoration: none;
    letter-spacing:1px;
}
.l_box a:hover{
    background-image: url("../img/menu.gif");
    text-shadow: none;
    color:#ffffff;
}
.r_box{
    width: 645px;
    *width: 650px;
    height:260px;
    float: right;
    padding-left:5px;
    *padding-left: 0px;
    background-color: #f5f5f5;
}
.current_tab{
    filter: none !important;
    background-image: url("../img/menu.gif");
    border-right: medium none !important;
    text-shadow: none !important;
    width: 80px;
    color:#ffffff;

}

.r_content_1 {
    width: 100%;
    height: 260px;
}
.pics{
    width: 119px;
    height:100px;
    margin-top:18px;
    margin-left:21px;
    margin-right:19px;
    margin-bottom:12px;
    float: left;
    display: inline;
}
.pics img{
    width: 119px;
    height:38px;
}
.block {
    width: 0px;
    height:80px;
    margin-top: 25px;
    border-right:1px dotted #d5ccbe;
    float: left;
}

.app_title {
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}
.app_describe{
    width: 121px;
    color: #9C9389;
    margin-top:3px;
}

/*底部开始*/
#wrapper_bot {
    width: 100%;
    height: 32px;
    background-color: #dedede;
    position: absolute;
    bottom:0px;
}
#wrapper_bot p{
    text-align: left;
    height: 32px;
    line-height:32px;
}
#bot_p_list{
    color: #3e7ec4;
    float: left;
}
#bot_p_list a {
    display: inline;
    margin: 0 15px;
}
#copyright {
    color: #6D6860;
    float: right;
    margin-right: 13px;
    display: inline;
}



/*temp*/
.test{
    width: 66px;
    height:34px;
    display: block;
}













