 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 13px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A {
	COLOR: #333333; TEXT-DECORATION: none
}
#wrapper {
	MARGIN: 0px auto; WIDTH: 984px; BACKGROUND-COLOR: #ffffff
}
#faux {
	MARGIN-BOTTOM: 5px; OVERFLOW: hidden; WIDTH: 100%
}
#header {
	BACKGROUND: #d1dbdb; MARGIN: 0px; WIDTH: 984px; COLOR: #333; HEIGHT: 105px
}
#navigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(images/nav.jpg); PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 984px; COLOR: #333; PADDING-TOP: 0px; HEIGHT: 27px
}
#leftcolumn {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND: url(images/Q2.jpg) repeat-y; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 5px; OVERFLOW: hidden; WIDTH: 245px; COLOR: #ffffff; PADDING-TOP: 0px
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 330px; COLOR: #000; PADDING-TOP: 0px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 306px
}
#rightcolumn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 5px; OVERFLOW: hidden; WIDTH: 389px; COLOR: #000; PADDING-TOP: 0px; HEIGHT: 306px
}
#bottomcolumn {
	BORDER-RIGHT: #4c4e75 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #4c4e75 1px solid; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(images/wsbs_nav.gif); PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #4c4e75 1px solid; WIDTH: 720px; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #4c4e75 1px solid; BACKGROUND-REPEAT: repeat-x; POSITION: relative; HEIGHT: 65px
}
#content_22 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; OVERFLOW: hidden; BORDER-LEFT: #fff 1px solid; WIDTH: 596px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; POSITION: relative
}
#rightcolumn_22 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px; BORDER-LEFT: #fff 1px solid; WIDTH: 165px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; POSITION: relative; HEIGHT: 300px
}
#bottomcolumn_22 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #fff 1px solid; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 0px; OVERFLOW: hidden; BORDER-LEFT: #fff 1px solid; WIDTH: 596px; COLOR: #000; PADDING-TOP: 0px; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 107px
}
#bottomcolumn_22 A {
	PADDING-RIGHT: 5px
}
#leftcolumn_2 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 5px 5px 5px 3px; WIDTH: 200px; COLOR: #333; PADDING-TOP: 0px
}
#rightmiddle_2 {
	BORDER-RIGHT: #4c4e75 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #4c4e75 1px solid; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px; BORDER-LEFT: #4c4e75 1px solid; WIDTH: 205px; COLOR: #333; PADDING-TOP: 0px; BORDER-BOTTOM: #4c4e75 1px solid; POSITION: relative
}
#footer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(images/footer.jpg) #abbebe no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 984px; COLOR: #333; PADDING-TOP: 0px; HEIGHT: 82px; TEXT-ALIGN: center
}
.clear {
	CLEAR: both; BACKGROUND: none transparent scroll repeat 0% 0%
}
.nav {
	PADDING-RIGHT: 10px; PADDING-LEFT: 40px; FLOAT: left; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: auto; PADDING-TOP: 0px; HEIGHT: 47px
}
.nav UL LI {
	PADDING-LEFT: 9px; FLOAT: left; WIDTH: 71px; TEXT-ALIGN: center
}
.nav UL LI A {
	FONT-WEIGHT: 700; FONT-SIZE: 13px; FILTER: Dropshadow(color=#FFFFFF,offX=1,offY=1); FLOAT: left; WIDTH: 80px; COLOR: #49497f; LINE-HEIGHT: 20px; PADDING-TOP: 7px; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.nav UL LI A:hover {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; BACKGROUND: url(images/nav2.gif) no-repeat; FILTER: Dropshadow(color=#000,offX=1,offY=1); FLOAT: left; WIDTH: 73px; COLOR: #fff; LINE-HEIGHT: 27px; PADDING-TOP: 2px; HEIGHT: 27px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#wrapper #navigation .nav .hovernav {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; BACKGROUND: url(images/nav2.gif) no-repeat; FLOAT: left; WIDTH: 73px; COLOR: #fff; LINE-HEIGHT: 27px; PADDING-TOP: 2px; HEIGHT: 27px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
#rightcolumn DL {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #ddd 1px solid; WIDTH: 387px; BORDER-BOTTOM: #ddd 1px solid
}
#rightcolumn DL DT {
	BACKGROUND: url(images/sjyw.gif); MARGIN: 1px auto; WIDTH: 387px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 26px
}
#rightcolumn DL DT .title {
	FLOAT: left; WIDTH: 200px; LINE-HEIGHT: 26px; HEIGHT: 26px
}
#rightcolumn DL DT .title A {
	FONT-WEIGHT: bold; MARGIN-LEFT: 15px; COLOR: #ffffff; LETTER-SPACING: 2px; TEXT-DECORATION: none
}
#rightcolumn DL DT .more {
	FLOAT: right; MARGIN: 3px 5px 0px 0px; WIDTH: 48px; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-ALIGN: center
}
#rightcolumn DL DT .more A {
	COLOR: #7b7b7b; TEXT-DECORATION: none
}
#rightcolumn DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 3px
}
#wrapper #rightcolumn .titleone {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(images/1.gif); OVERFLOW: hidden; WIDTH: 378px; COLOR: #c14100; FONT-STYLE: normal; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center
}
#wrapper #rightcolumn .titletwo {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(images/1.gif); OVERFLOW: hidden; WIDTH: 378px; COLOR: #045dbb; FONT-STYLE: normal; LIST-STYLE-TYPE: none; HEIGHT: 50px; BACKGROUND-COLOR: #f0f0f0
}
#rightcolumn DL DD A CITE {
	FLOAT: right; PADDING-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 5em; COLOR: #b9bcbf; FONT-STYLE: normal; HEIGHT: 1.8em
}
#rightcolumn DL DD A {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/ico_2.gif) no-repeat 2px 7px; OVERFLOW: hidden; WIDTH: 378px; COLOR: #333; TEXT-INDENT: 20px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-DECORATION: none
}
#rightcolumn DL DD A:hover {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/ico_2.gif) #f7f7f7 no-repeat 2px 7px; OVERFLOW: hidden; WIDTH: 378px; COLOR: #ff6600; TEXT-INDENT: 20px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-DECORATION: none
}
.cssbox {
	MARGIN-BOTTOM: 5px
}
.cssbox .zddh {
	PADDING-RIGHT: 10px; PADDING-LEFT: 5px; BACKGROUND: url(images/titlebg1.jpg) #fff4ce no-repeat; FLOAT: left; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 145px; PADDING-TOP: 35px; HEIGHT: 75px
}
.zddh UL LI {
	PADDING-LEFT: 25px; FLOAT: left; WIDTH: 50px; LINE-HEIGHT: 40px; HEIGHT: 40px; TEXT-ALIGN: center
}
.zddh A {
	BORDER-RIGHT: #abcdb4 1px solid; BORDER-TOP: #abcdb4 1px solid; FONT-SIZE: 12px; FLOAT: left; BORDER-LEFT: #abcdb4 1px solid; WIDTH: 60px; COLOR: #333; LINE-HEIGHT: 20px; BORDER-BOTTOM: #abcdb4 1px solid; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.zddh A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.cssbox .yyxtdh {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebg2.jpg) #ffffff no-repeat; FLOAT: right; PADDING-BOTTOM: 30px; OVERFLOW: hidden; WIDTH: 178px; PADDING-TOP: 30px; HEIGHT: 530px
}
.yyxtdh DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; WIDTH: 100%
}
.yyxtdh DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px
}
.yyxtdh DL DD A {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/yyxt_ico_2.gif) no-repeat 2px 7px; OVERFLOW: hidden; COLOR: #333; TEXT-INDENT: 20px; LINE-HEIGHT: 22px; BORDER-BOTTOM: #b9bcbf 1px dotted; HEIGHT: 22px; TEXT-DECORATION: none
}
.yyxtdh DL DD A:hover {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/yyxt_ico_2.gif) #f7f7f7 no-repeat 2px 7px; OVERFLOW: hidden; COLOR: #ff6600; TEXT-INDENT: 20px; LINE-HEIGHT: 23px; BORDER-BOTTOM: #b9bcbf 1px dotted; HEIGHT: 23px; TEXT-DECORATION: none
}
.cssbox .wlgl {
	PADDING-RIGHT: 10px; PADDING-LEFT: 55px; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 170px; PADDING-TOP: 15px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 91px
}
.cssbox .wlgl2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebg23.jpg) #ebecee no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 188px; PADDING-TOP: 35px; HEIGHT: 105px
}
.cssbox .wlgl2mhz {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(images/1titlebg23.jpg) #ebecee no-repeat; FLOAT: left; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 188px; PADDING-TOP: 35px; HEIGHT: 65px
}
.wlgl UL LI {
	PADDING-LEFT: 9px; FLOAT: left; WIDTH: 80px; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: center
}
.wlgl UL LI A {
	BORDER-RIGHT: #abcdb4 1px solid; BORDER-TOP: #abcdb4 1px solid; FONT-SIZE: 12px; FLOAT: left; BORDER-LEFT: #abcdb4 1px solid; WIDTH: 60px; COLOR: #333; LINE-HEIGHT: 20px; BORDER-BOTTOM: #abcdb4 1px solid; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.wlgl UL LI A:hover {
	BORDER-RIGHT: #abcdb4 1px solid; BORDER-TOP: #abcdb4 1px solid; FONT-SIZE: 12px; FLOAT: left; BORDER-LEFT: #abcdb4 1px solid; WIDTH: 60px; COLOR: #ff6600; LINE-HEIGHT: 20px; BORDER-BOTTOM: #abcdb4 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.cssbox .ztlm {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: url(images/titlebgr1.jpg) #fff4ce no-repeat; FLOAT: right; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 163px; PADDING-TOP: 30px; HEIGHT: 390px
}
.ztlm DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; WIDTH: 100%
}
.ztlm DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ztlm DL DD A {
	DISPLAY: block; FONT-SIZE: 12px; OVERFLOW: hidden; LINE-HEIGHT: 43px; HEIGHT: 40px; TEXT-DECORATION: none
}
.ztlm DL DD IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; BORDER-RIGHT-WIDTH: 0px
}
.cssbox .xxph {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebgr2.jpg) #fff4ce no-repeat; FLOAT: right; PADDING-BOTTOM: 30px; OVERFLOW: hidden; WIDTH: 145px; COLOR: #333; PADDING-TOP: 30px; HEIGHT: 199px
}
.cssbox .wzss {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/titlebgr33.jpg) #fff4ce no-repeat; FLOAT: right; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 178px; LINE-HEIGHT: 180%; PADDING-TOP: 30px; HEIGHT: 48px
}
.cssbox .link {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/title_link.jpg) #fff4ce no-repeat; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 741px; PADDING-TOP: 40px; HEIGHT: 70px
}
.link UL {
	FLOAT: left; LIST-STYLE-TYPE: none
}
.link A {
	FLOAT: left; OVERFLOW: hidden; LIST-STYLE-TYPE: none
}
.link IMG {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.listbox {
	OVERFLOW: hidden; WIDTH: 596px
}
.listbox DL {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 0px 5px 0px 0px; BORDER-LEFT: #ddd 1px solid; WIDTH: 293px; BORDER-BOTTOM: #ddd 1px solid
}
.listbox DL DT {
	BACKGROUND: url(images/title_bg_1.gif) repeat-x; MARGIN: 1px auto; WIDTH: 293px; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: 26px
}
.listbox DL DT .title {
	BACKGROUND: url(images/article_ico_1.gif) no-repeat; FLOAT: left; WIDTH: 200px; LINE-HEIGHT: 26px; HEIGHT: 26px
}
.listbox DL DT .title A {
	FONT-WEIGHT: bold; MARGIN-LEFT: 15px; COLOR: #ffffff; LETTER-SPACING: 2px; TEXT-DECORATION: none
}
.listbox DL DT .more {
	FLOAT: right; MARGIN: 3px 5px 0px 0px; WIDTH: 48px; LINE-HEIGHT: 19px; HEIGHT: 19px; TEXT-ALIGN: center
}
.listbox DL DT .more A {
	COLOR: #7b7b7b; TEXT-DECORATION: none
}
.listbox DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 3px
}
.listbox DL DD A CITE {
	FLOAT: right; PADDING-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 5em; COLOR: #b9bcbf; FONT-STYLE: normal; HEIGHT: 1.8em
}
.listbox DL DD A {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/ico_2.gif) no-repeat 2px 7px; OVERFLOW: hidden; WIDTH: 286px; COLOR: #333; TEXT-INDENT: 20px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-DECORATION: none
}
.listbox DL DD A:hover {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/ico_2.gif) #f7f7f7 no-repeat 2px 7px; OVERFLOW: hidden; WIDTH: 286px; COLOR: #ff6600; TEXT-INDENT: 20px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-DECORATION: none
}
.over {
	BACKGROUND-COLOR: #91acc4
}
.out {
	BACKGROUND-COLOR: #d7d7d7
}
#wrapper #content .content_pic {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 18px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; HEIGHT: 217px
}
#wrapper #content .content_pic_title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; COLOR: #0033cc; PADDING-TOP: 8px; HEIGHT: 15px; TEXT-ALIGN: center
}
.font_blue {
	COLOR: #045dbb
}
#wrapper #content .content_pic_content {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 25px; OVERFLOW: hidden; WIDTH: 85%; TEXT-INDENT: 20px; LINE-HEIGHT: 150%; PADDING-TOP: 5px
}
.summary A {
	COLOR: #045dbb; TEXT-DECORATION: none
}
.content_pic_more {
	PADDING-RIGHT: 20px; FLOAT: right; COLOR: #000
}
.content_pic_more A {
	FLOAT: right; COLOR: #333
}
.tztb {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: url(images/Q2.jpg) repeat-y; PADDING-BOTTOM: 0px; WIDTH: 250px; PADDING-TOP: 0px
}
.tztb DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px 5px 0px 0px; WIDTH: 250px
}
.tztb DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; WIDTH: 250px; PADDING-TOP: 0px
}
.tztb DL DD CITE {
	FLOAT: right; PADDING-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 6.5em; COLOR: #b9bcbf; FONT-STYLE: normal; HEIGHT: 1.8em; backgroumd-color: #000000
}
.tztb DL DD A {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/ico_2.gif) no-repeat 2px 7px; OVERFLOW: hidden; WIDTH: 250px; COLOR: #333; TEXT-INDENT: 15px; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-DECORATION: none
}
.tztb DL DD A:hover {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/ico_2.gif) no-repeat 2px 7px; OVERFLOW: hidden; WIDTH: 250px; COLOR: #ff6600; TEXT-INDENT: 15px; LINE-HEIGHT: 23px; HEIGHT: 23px; TEXT-DECORATION: none
}
.mrxi {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; BORDER-BOTTOM: #91a8d6 1px solid
}
.gajb {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px
}
.tztb_more {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #fff; PADDING-TOP: 0px
}
.tztb_more A {
	FLOAT: right; COLOR: #fff
}
.foot_one {
	FILTER: Dropshadow(color=#FFFFFF,offX=1,offY=1); WIDTH: 100%; COLOR: #333333; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.foot_top {
	PADDING-TOP: 10px; TEXT-ALIGN: center
}
#rightcolumnlist {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 10px 10px 10px 0px; WIDTH: 230px; COLOR: #333; PADDING-TOP: 0px
}
#leftcolumnlist {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 10px 10px 30px; WIDTH: 683px; COLOR: #333; PADDING-TOP: 0px; POSITION: relative
}
#leftcolumnlist .listlist {
	BACKGROUND-IMAGE: url(images/a_3.jpg); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 51px
}
#leftcolumnlist .listlist .listlistbigtitle {
	DISPLAY: block; FONT-WEIGHT: bolder; FONT-SIZE: 14px; MARGIN: 22px 0px 0px 70px; COLOR: #ffffff; LETTER-SPACING: 10px
}
#leftcolumnlist .listlisttitle {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #ddd 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ddd 1px solid
}
#leftcolumnlist .listlisttitle DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 98%
}
#leftcolumnlist .listlisttitle DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 3px
}
#leftcolumnlist .listlisttitle DL DD A CITE {
	FLOAT: right; PADDING-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 7.5em; COLOR: #b9bcbf; FONT-STYLE: normal; HEIGHT: 1.8em
}
#leftcolumnlist .listlisttitle DL DD A {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/ico_2.gif) no-repeat 2px 7px; OVERFLOW: hidden; WIDTH: 98%; COLOR: #333; TEXT-INDENT: 20px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-DECORATION: none
}
#leftcolumnlist .listlisttitle DL DD A:hover {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/ico_2.gif) #f7f7f7 no-repeat 2px 7px; OVERFLOW: hidden; WIDTH: 98%; COLOR: #ff6600; TEXT-INDENT: 20px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-DECORATION: none
}
#leftcolumnlist .listlisttitle {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #ddd 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ddd 1px solid
}
.cssbox .ksdh {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: #fff4ce; FLOAT: right; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.cssbox .ztlm2 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: url(images/titlebgr1_2.jpg) #fff no-repeat; FLOAT: right; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 206px; PADDING-TOP: 30px; HEIGHT: 390px
}
.ztlm2 DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; WIDTH: 100%; TEXT-ALIGN: center
}
.ztlm2 DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ztlm2 DL DD A {
	DISPLAY: block; FONT-SIZE: 12px; OVERFLOW: hidden; LINE-HEIGHT: 43px; HEIGHT: 40px; TEXT-DECORATION: none
}
.ztlm2 DL DD IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; BORDER-RIGHT-WIDTH: 0px
}
.cssbox .ztlm22 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: url(images/titlebgr1_2.gif) #fff no-repeat; FLOAT: right; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 206px; PADDING-TOP: 30px; HEIGHT: 355px
}
.ztlm22 DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; WIDTH: 100%; TEXT-ALIGN: center
}
.ztlm22 DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ztlm22 DL DD A {
	BORDER-RIGHT: #9a9a9a 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9a9a9a 2px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 5px; OVERFLOW: hidden; BORDER-LEFT: #9a9a9a 2px solid; WIDTH: 100px; COLOR: #0066cc; LINE-HEIGHT: 25px; PADDING-TOP: 5px; BORDER-BOTTOM: #9a9a9a 2px solid; HEIGHT: 25px; TEXT-DECORATION: none
}
.ztlm22 DL DD IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; BORDER-RIGHT-WIDTH: 0px
}
.cssbox .ztlm24 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: url(images/titlebgr1_24.gif) #fff no-repeat; FLOAT: right; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 206px; PADDING-TOP: 30px; HEIGHT: 355px
}
.ztlm24 DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; WIDTH: 100%; TEXT-ALIGN: center
}
.ztlm24 DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ztlm24 DL DD A {
	BORDER-RIGHT: #9a9a9a 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9a9a9a 2px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 5px; OVERFLOW: hidden; BORDER-LEFT: #9a9a9a 2px solid; WIDTH: 100px; COLOR: #0066cc; LINE-HEIGHT: 25px; PADDING-TOP: 5px; BORDER-BOTTOM: #9a9a9a 2px solid; HEIGHT: 25px; TEXT-DECORATION: none
}
.ztlm24 DL DD IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; BORDER-RIGHT-WIDTH: 0px
}
.cssbox .ztlm23 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: url(images/titlebgr1_3.gif) #fff no-repeat; FLOAT: right; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 206px; PADDING-TOP: 30px; HEIGHT: 355px
}
.ztlm23 DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; WIDTH: 100%; TEXT-ALIGN: center
}
.ztlm23 DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ztlm23 DL DD A {
	BORDER-RIGHT: #9a9a9a 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9a9a9a 2px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 5px; OVERFLOW: hidden; BORDER-LEFT: #9a9a9a 2px solid; WIDTH: 100px; COLOR: #0066cc; LINE-HEIGHT: 25px; PADDING-TOP: 5px; BORDER-BOTTOM: #9a9a9a 2px solid; HEIGHT: 25px; TEXT-DECORATION: none
}
.ztlm23 DL DD IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; BORDER-RIGHT-WIDTH: 0px
}
.cssbox .ztlm233 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: url(images/titlebgr1_33.gif) #fff no-repeat; FLOAT: right; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 206px; PADDING-TOP: 30px; HEIGHT: 355px
}
.ztlm233 DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; WIDTH: 100%; TEXT-ALIGN: center
}
.ztlm233 DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ztlm233 DL DD A {
	BORDER-RIGHT: #9a9a9a 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9a9a9a 2px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 5px; OVERFLOW: hidden; BORDER-LEFT: #9a9a9a 2px solid; WIDTH: 100px; COLOR: #0066cc; LINE-HEIGHT: 25px; PADDING-TOP: 5px; BORDER-BOTTOM: #9a9a9a 2px solid; HEIGHT: 25px; TEXT-DECORATION: none
}
.ztlm233 DL DD IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; BORDER-RIGHT-WIDTH: 0px
}
.cssbox .ztlm234 {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: url(images/titlebgr1_34.gif) #fff no-repeat; FLOAT: right; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 10px; OVERFLOW: hidden; WIDTH: 206px; PADDING-TOP: 30px; HEIGHT: 355px
}
.ztlm234 DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; WIDTH: 100%; TEXT-ALIGN: center
}
.ztlm234 DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.ztlm234 DL DD A {
	BORDER-RIGHT: #9a9a9a 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #9a9a9a 2px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; MARGIN: 5px; OVERFLOW: hidden; BORDER-LEFT: #9a9a9a 2px solid; WIDTH: 100px; COLOR: #0066cc; LINE-HEIGHT: 25px; PADDING-TOP: 5px; BORDER-BOTTOM: #9a9a9a 2px solid; HEIGHT: 25px; TEXT-DECORATION: none
}
.ztlm234 DL DD IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; BORDER-RIGHT-WIDTH: 0px
}
.cssbox .wzss2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(images/list_search.gif) #fff4ce no-repeat; FLOAT: right; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; WIDTH: 188px; LINE-HEIGHT: 180%; PADDING-TOP: 30px; HEIGHT: 48px
}
.listcontent {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 13px; PADDING-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: auto; TEXT-INDENT: 30px; LINE-HEIGHT: 180%; PADDING-TOP: 20px
}
.contenttitle {
	FONT-WEIGHT: bolder; FONT-SIZE: 20px; COLOR: #000000; PADDING-TOP: 20px; LETTER-SPACING: 4px; TEXT-ALIGN: center
}
.contentout {
	FONT-SIZE: 12px; COLOR: #333; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.contentprint {
	FONT-SIZE: 12px; COLOR: #333; PADDING-TOP: 20px; LETTER-SPACING: 3px; TEXT-ALIGN: right
}
.listcontentbfont {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 20px; PADDING-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: auto; TEXT-INDENT: 30px; LINE-HEIGHT: 180%; PADDING-TOP: 20px
}
.listcontentnfont {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 16px; PADDING-BOTTOM: 20px; OVERFLOW: hidden; WIDTH: auto; TEXT-INDENT: 30px; LINE-HEIGHT: 180%; PADDING-TOP: 20px
}
.shijian {
	BORDER-RIGHT: #1885a4 1px solid; BORDER-TOP: #1885a4 1px solid; MARGIN: 5px 5px 0px; BORDER-LEFT: #1885a4 1px solid; WIDTH: auto; BORDER-BOTTOM: #1885a4 1px solid; HEIGHT: 25px
}
.timeright {
	FONT-SIZE: 12px; MARGIN: 4px 5px 0px 0px; COLOR: #000
}
.gdxw {
	FLOAT: left; MARGIN: 4px 0px 0px 30px; OVERFLOW: hidden; WIDTH: 650px; HEIGHT: 20px; TEXT-ALIGN: left
}
.rew {
	FONT-SIZE: 9pt
}
.rew A {
	COLOR: #000000
}
#leftcolumnlist23 {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 10px 10px 10px 30px; WIDTH: 683px; COLOR: #333; PADDING-TOP: 0px; POSITION: relative
}
#leftcolumnlist23 .listlist {
	BACKGROUND-IMAGE: url(images/a_3.jpg); WIDTH: 100%; BACKGROUND-REPEAT: no-repeat; HEIGHT: 51px
}
#leftcolumnlist23 .listlist .listlistbigtitle {
	DISPLAY: block; FONT-WEIGHT: bolder; FONT-SIZE: 14px; MARGIN: 22px 0px 0px 70px; COLOR: #ffffff; LETTER-SPACING: 10px
}
#leftcolumnlist23 .listlisttitle {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #ddd 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ddd 1px solid
}
#leftcolumnlist23 .listlisttitle DL {
	DISPLAY: inline; FLOAT: left; MARGIN: 0px; OVERFLOW: hidden; WIDTH: 98%
}
#leftcolumnlist23 .listlisttitle DL DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 3px
}
#leftcolumnlist23 .listlisttitle DL DD A CITE {
	FLOAT: right; PADDING-BOTTOM: 2px; OVERFLOW: hidden; WIDTH: 7.5em; COLOR: #b9bcbf; FONT-STYLE: normal; HEIGHT: 1.8em
}
#leftcolumnlist23 .listlisttitle DL DD A {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/ico_2.gif) no-repeat 2px 7px; OVERFLOW: hidden; WIDTH: 98%; COLOR: #333; TEXT-INDENT: 20px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-DECORATION: none
}
#leftcolumnlist23 .listlisttitle DL DD A:hover {
	DISPLAY: block; FONT-SIZE: 12px; BACKGROUND: url(images/ico_2.gif) #f7f7f7 no-repeat 2px 7px; OVERFLOW: hidden; WIDTH: 98%; COLOR: #ff6600; TEXT-INDENT: 20px; LINE-HEIGHT: 24px; HEIGHT: 24px; TEXT-DECORATION: none
}
#leftcolumnlist23 .listlisttitle {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; DISPLAY: inline; FLOAT: left; MARGIN: 0px; OVERFLOW: hidden; BORDER-LEFT: #ddd 1px solid; WIDTH: 100%; BORDER-BOTTOM: #ddd 1px solid
}
