@charset "UTF-8";
.cont_r1c2{
  width: 290px;margin-left: 10px;
}
.r1c12{
   @extend .r1c11;
   border-bottom: none;
}
.r1c21{
  width: 252px;margin:20px auto 5px;
}
.g_r1c21h{
  @include valign_m(18px);
}
.dividing_line{
  width: 170px;height:1px;
  margin-top:8px;
  @extend .fl;
  background-color: darken($c_border1,20%);
}
.r1c22{
  width: 278px;margin:0 auto;
}
.recommend_ul{
  li{
    width:100%;height:84px;
    border-top:1px dotted $c_border1;
    &:first-child{border-top:none;}
  }
}
.recommend_icon{
  width: 78px;height:74px;
  @extend .fl;
  position: relative;
  img{
    position: absolute;
    right:0px; bottom:0px;
    width:64px;height:64px;
  }
}
.recommend_info{
  width:140px;
  padding-left:20px;
  height:84px;
  @extend .fl;
  a{
    display: block;
    margin-top:25px;
    &:hover{
      color:$c1;
    }
  }
  p{
    position:relative;
    left:-2px;
  }
}