@charset "UTF-8";
.footer {
  width: 100%;
  height: 110px;
  @include bg_col($c_bg3);

  .footer_wrap{
    width:700px;
    margin:0 auto;
    text-align: center;
    padding-top: 30px;
  }
}
.footer_2{
  margin-left: 20px;
}
.footer_3{
  margin-top: 10px;
}