@charset "UTF-8";
/*body宽度*/
.con_w{
  width: $w_index;
  @include center();
}
.common_bd{
  @extend .con_w;
  @include clearfix;
}
.cont1{
  @extend %w100;
  @include bg_col($c_bg1);
}
.common_bd1{
  @extend .common_bd;
  @include bg_col($c_bg1);
  @extend %clearfix;
}
.common_bd2{
  @extend .common_bd;
  @include bg_col($c_bg1);
  overflow: visible;
}
.cont_r1c1,.cont_r1c2,.cont_r1c3{
  height:485px;
  @extend .fl;
  @include center();
  @include bg_col();
  margin-left: 10px;
  margin-bottom:10px;
}
.cont_r1c1{width: 220px;margin-left: 0px;}
.cont_r1c2{width: 660px;@include bg_col($c_bg1);}
.cont_r1c3{width: 290px;}
.r1c1_tit{
  @include div_bgimg("r1c1_tit.gif");
}

.sys_app1{
  line-height: 30px;
  width: 210px;
  padding-top: 7px;
  z-index: 9999;
  &:hover{
    width: 210px;z-index: 3;
    position: relative;
    background-color: white;
  }
}
.app1_hd{
  @include clearfix;
  padding-left: 10px;
  cursor: pointer;
}
.app1_wrap{
  @include clearfix;margin-left: 10px;
  padding-bottom:6px;
  border-bottom: 1px solid $c_border1;

  ul li a{
    color:#666;
    &:hover{
       color:red;
    }
  }
}
.sys_app_icon,.sys_app_tit,.sys_app_more{
  @extend .fl;
}
.sys_app_icon{
  @include div_bgimg("icon1.gif");
  margin-left: 7px;margin-top: 7px;
}
.sys_app_tit{
  width: 160px;
  margin-left: 7px;
  @extend .ft14;@extend .fb;
}
.sys_app_more{
  @include div_bgimg("icon2.gif");
  margin-top: 10px;
  background-repeat: no-repeat;
}
.app1_wrap ul li{
    width: 80px;@include valign_m(23px);
    overflow: hidden;
    @extend .fl;
}
.sys_app1_sub1{
  width: 180px;height:140px;
  padding:10px;
  position: relative;left:209px;top:-114px;
  border: 1px solid $c_border1;@include bg_col();
  z-index:2;
  display: none;
  &:hover{
    z-index:2000;
  }
  & li{
    @include valign_m(22px);
    a{color:#666;}
  }
}
.sys_app1_sub2{
   @extend .sys_app1_sub1;
   top:-91px;
 }
.sys_app1_sub3{
  @extend .sys_app1_sub1;
  top:-68px;
}
.sys_app1_sub4{
  @extend .sys_app1_sub1;
  top:-67px;
}
.r1c2_bd{
  margin-top:1px;
  @include clearfix;
}
.r1c2_top{
  width: 660px;height:300px;
  background-color: grey;
/*TODO;*/

}

.r1c21{
  width: 220px;height:184px;
  @extend .fl;
  margin-left: 1px;
  &:first-child{margin-left: 0;}
}
.r1c22{
  width: 218px;height: 184px;
  margin-left: 1px;
  @extend .fl;}
.r1c21_top,.r1c22_top{height:125px;}
.r1c21_bot,.r1c22_bot{
  padding:10px 12px 0px;letter-spacing: 0px;
  height:59px;line-height: 22px;@include bg_col();
}

/*.r1c31,.r1c32,.r1c33{width: }*/

.r1c31{height:140px;}
.r1c32{
  height:90px;border-bottom: 1px solid $c_border1;
  @include clearfix;
}
.r1c33{
  height:36px;
  @include div_bgimg("yunapp.gif");
  @include bg_col($c2);
  width: 100%;
}
.r1c34{
  width: 270px;height:204px;
  padding:0px 10px;
}
.g_app1{
  width: 64px;height:100px;
  margin-left: 20px;margin-top: 10px;
  overflow: visible;
  @extend .fl;
}
.u_app1{@include div_bgimg("app1.gif");}
.u_app2{@include div_bgimg("app1.gif");}
.u_app3{@include div_bgimg("app1.gif");}
.u_app4{@include div_bgimg("app1.gif");}
.u_app5{@include div_bgimg("app1.gif");}
.u_app6{@include div_bgimg("app1.gif");}

.g_app1_bd{
  width: 64px;
  @include valign_m(25px);
  color:$c3;
  text-align: center;
}

.portrait,.info,.platform{@extend .fl;}
.portrait{
  @include div_bgimg("avatar.gif");
  margin:10px 0 0 10px;
}
.info{margin-left: 20px;margin-top: 20px;}
.info_role,.info_item{
  width: 45px;@include valign_m(28px);text-align: center;
}
.info_item{
  color:#ffffff;
  @include bg_col($c1);
  @include valign_m(18px);
}
.platform{
  @include div_bgimg("platform.gif");
  margin-top: 30px;margin-left: 15px;
  &:hover{
    @include div_bgimg("platformhover.gif")
  }
}
.custom{
  width: 60px;
  @include valign_m(18px);
  color:$c2;
  @include bg_col();
  @extend .fr;
  text-align: center;
  margin:10px 10px 0 0;
}
