@charset "utf-8";
/**
  *
  *     本css为数据监控页面下配套css
  *
  *     author：sun mail:szy1944@hotmail.com
  *     version:0.1
  *     date:20141113
  */

.g_pic {width: 100%;height: 252px;background: #0e4c71;}
.g_pic_con{width: 980px;height: 252px;margin: 0 auto;
    background: url(../../images/bg.gif) 0 0 no-repeat;}

.g_item1{width: 100%;height: 623px;background-color: #f2f2f2}
.g_item2{width: 100%;height: 623px;background-color: #ffffff}
.g_item3{width: 100%;height: 764px;background-color: #f2f2f2}
.g_item_tit{width: 980px;height: 63px;border-bottom: 1px solid #c8c8c8;margin: 0 auto;}
.g_item_con{width: 980px;height: auto;margin: 0 auto;}
.g_item_tit_img{width: 48px;height: 32px;margin-top: 20px;float: left;}
.u_resource_img{background: url("../../images/detect/icon_1.gif") 0 0 no-repeat;}
.u_integration_img{background: url("../../images/detect/icon_2.gif") 0 0 no-repeat;}
.u_process_img{background: url("../../images/detect/icon_3.gif") 0 0 no-repeat;}
.u_item_tit{width: 200px;height: 32px;margin-top: 20px;margin-left: 10px;
    color: #666666;font:900 30px "黑体";float: left;}

.g_chart_con{height: 518px;background-color: #ffffff;margin-top: 20px;
    border:1px solid #c8c8c8;float: left;}
.u_chart_con1,.u_chart_con2{width: 300px;}
.u_chart_con3{width: 334px;}
.u_chart_con2,.u_chart_con3{margin-left: 20px;}
.g_chart_tit{width: 100%;height: 30px;border-bottom: 1px solid #c8c8c8;font-size: 20px;
    background-color: #f8fcfd;text-align: center;}
.g_chart_tit span{letter-spacing: 20px;margin-left: 20px;}
.g_chart_top{width: 100%;height: 255px;}
.g_chart_bot{width: 100%;height:auto;}
.u_chart1_l,.u_chart1_r,.u_chart1_r_word{width: 115px;height: 230px;float:left;
    margin-left: 20px;margin-top: 20px;}
.u_chart1_l_top{width: 59px;height: 145px;
    background: url("../../images/detect/per50.gif") 0 0 no-repeat;}
.u_chart1_l_bot{width: 100%;height: 80px;}
.u_legend1{width:100%;height: 33px;line-height: 33px;}
.u_legend1_img,.u_legend2_img{width: 16px;height: 13px;border:1px solid #cccccc;
    background-color:#f2f2f2;float: left;margin-top: 9px;margin-right: 10px;}
.u_legend1_word{font-weight: 700;}
.u_legend2_img{background-color: #00d428;}
.u_chart1_r{width: 60px;}
.u_chart1_r_word{width:70px;height:210px;margin-top: 20px;float: left;
    margin-left: 0px;float: left;font-size: 14px;font-weight: 600;text-align: center;}
.p1{margin-top: 10px;}
.p2{margin-top: 15px;}
.p3{margin-top: 20px;}
.u_chart1_bot{width:260px;height: 225px;margin-left: 20px;border:1px solid #ffffff;}
#u_chart2_top{width: 260px;height: 235px;margin:20px 20px 0px 20px;float: left;}
#g_data_sum{position: relative;}
.u_data_sum{height:40px;position: absolute;top:10px;right:10px;}
.u_data_sum_pic,.u_data_sum_num{width:30px;height: 40px;float: left;}
.u_data_sum_pic{background: url("../../images/detect/icon_4.gif") 0 0 no-repeat;}
.u_data_sum_num{width:auto;height:40px;line-height:40px;padding-left:10px;padding-right:10px;
    font-size:13px;font-weight:600;color:#ffffff;background-color: #12b9ee;}
.u_chart2_bot{width:260px;height: 255px;margin-left: 20px;}
#u_chart3_top{width: 294px;height: 210px;margin:20px 20px 0px 20px;float: left;}
.u_chart3_bot{width: 294px;height: 255px;margin-left: 20px;}

.g_integration_tit{width: 940px;height: 38px;margin:0 auto;border-bottom: 1px solid #cccccc;}
.u_integration_tit{width: 84px;height: 36px;line-height:36px;text-align: center;float:left;
    border-bottom: 3px solid #009fec;font-size: 16px;font-family: '宋体';font-weight: 600;}
.u_integration_more{width: 48px;height: 38px;line-height: 38px;text-align: center;
    color:#23b023;float: right;font-size:13px;font-weight: 600;margin-right: 20px;}
.g_integrate_row1{width: 940px;height: 305px;margin:0px auto;margin-top:10px;}
.g_integrate_row1l{width: 650px;height: 303px;border-right:1px solid #cccccc;float: left;
    overflow: hidden}
.u_source{width: 73px;height: 303px;background-color: #ffc000;float:left;}
.u_source1{width: 45px;height: 28px;padding-top: 40px;margin-left: 15px;
    color: #ffffff;font-size: 18px;}
.red{color:#e55202;}
.u_source2{width: 65px;height: 16px;font-size: 12px;padding-left:5px;padding-top: 20px;}
.u_source3{width: 65px;height: 20px;line-height:20px;text-align: right;overflow: hidden;}
.u_source4{width: 65px;height: 16px;font-size: 12px;padding-left:5px;}
.u_source_connect{width: 56px;height: 303px;float: left;}
.u_source_connect1,.u_source_connect2,.u_source_connect3{margin-top: 48px;
    background-color: #ffc000;width: 51px;height: 10px;margin-left: 2px;
}
.u_source_connect2{height: 6px;margin-top: 96px;}
.u_source_connect3{height: 2px;margin-top: 96px;}

.u_source_flow1{width: 56px;height: 303px;float: left;}
.u_source_flow11,.u_source_flow12,.u_source_flow13{width: 52px;height: 10px;
    margin-top: 48px;margin-left: 2px;
    background: url("../../images/detect/stream_h1.gif") 0 0 no-repeat;
}
.u_source_flow12{background: url("../../images/detect/outage.gif") 0 0 no-repeat;
    margin-top: 94px;}
.u_source_flow13{background: url("../../images/detect/stream_h2.gif") 0 0 no-repeat;
    margin-top: 90px;}

.u_source_bucket{width: 70px;height: 303px;float: left;}
.u_source_bucket1,.u_source_bucket2,.u_source_bucket3{width:70px;height: 94px;
    background: url('../../images/detect/nei.gif') 0 0 no-repeat;
}
.u_source_bucket2{background: url('../../images/detect/wai.gif') 0 0 no-repeat;
    margin-top: 10px}
.u_source_bucket3{background: url('../../images/detect/net.gif') 0 0 no-repeat;
    margin-top: 10px}

.u_source_file{width: 56px;height: 303px;float: left;position: relative;}
.u_source_file1,.u_source_file2,.u_source_file3{width:56px;height: 64px;
    background: url('../../images/detect/table.gif') 0 0 no-repeat;margin-top: 20px;
}
.u_source_file2{margin-top: 40px}
.u_source_file3{margin-top: 40px}
.u_file_num1,.u_file_num2,.u_file_num3{width: 110px;height: 16px;
    position: absolute;top:0;left:-15px;}
.u_file_num2{top:105px;}
.u_file_num3{top:210px;}

.u_source_flow2{width: 59px;height: 303px;float: left;}
.u_source_flow21,.u_source_flow22,.u_source_flow23{width: 55px;height: 55px;
    margin-top: 48px;margin-left: 2px;
    background: url("../../images/detect/arrow_down1.gif") 0 0 no-repeat;
}
.u_source_flow22{background: url("../../images/detect/arrow_c1.gif") 0 0 no-repeat;
    margin-top: 44px;}
.u_source_flow23{background: url("../../images/detect/arrow_up1.gif") 0 0 no-repeat;
    margin-top: 0px;}

.g_ETL{width: 85px;height: 303px;float: left;}
.u_ETL{width: 85px;height: 177px;background-color: #64c3ef;position: relative;
    margin-top: 65px;}
.u_wheel{width: 64px;height: 64px;position: absolute;top:30px;left:12px;
    background: url("../../images/detect/ETL.gif") 0 0 no-repeat;}
.u_wheel_word1,.u_wheel_word2,.u_wheel_word3{width: 64px;height: 16px;position: absolute;
    top:100px;left:10px;text-align: center;color: #ffffff}
.u_wheel_word2{top:120px;}
.u_wheel_word3{top:140px;}

.u_source_flow3{width: 59px;height: 303px;float: left;}
.u_source_flow31,.u_source_flow32,.u_source_flow33{width: 55px;height: 55px;
    margin-top: 48px;margin-left: 2px;
    background: url("../../images/detect/arrow_up2.gif") 0 0 no-repeat;
}
.u_source_flow32{background: url("../../images/detect/arrow_c2.gif") 0 0 no-repeat;
    margin-top: 44px;}
.u_source_flow33{background: url("../../images/detect/arrow_down2.gif") 0 0 no-repeat;
    margin-top: 0px;}

.g_db{width: 125px;height: 303px;overflow: hidden;
    background: url("../../images/detect/db.gif") 0 0 no-repeat;}
.g_db1,.g_db2,.g_db3{width:70px;height:94px;margin-top: 2px;margin-left: 5px;
background: url("../../images/detect/db1.gif") 0 0 no-repeat;position: relative;}
.g_db2,.g_db3{margin-top: 8px}
.g_unuse_db{background: url("../../images/detect/db2.gif") 0 0 no-repeat;}
.u_db1_name,.u_db2_name,.u_db3_name{width:50px;height:16px;position:absolute;
    top:3px;left:11px;color: #ffffff;}
.u_db2_name{width: 42px;left:15px;}
.u_db3_name{width: 35px;left:19px;}
.u_db1_num,.u_db2_num,.u_db3_num{width:65px;height: 25px;overflow: hidden;position:absolute;
    top:43px;left:3px;color: #e55202;font-size: 18px;text-align: center;}
.unuse_db_num{color: #8c908a}

.g_integrate_row1r{width: 287px;height: 303px;float: left;}
.u_exception_tit{width: 117px;height: 36px;line-height:36px;text-align: center;float:left;
    border-bottom: 3px solid #009fec;font-size: 16px;font-family: '宋体';font-weight: 600;}
.g_integrate_row2{width: 940px;height: 165px;margin:0px auto;}
.u_dynamic_ul{width: 275px;height: 303px;overflow: hidden;margin-left: 10px;}
.u_dynamic_ul li{line-height: 27px;font-size: 14px;font-family: '宋体'}

.g_integrate_row2l,.g_integrate_row2r{width: 50%;height: 100%;float: left;}
.u_int_warning_ul{width: 468px;height: 150px;overflow: hidden;line-height:28px;
    margin-top: 13px;}
.u_int_warning_ul li{position: relative;height: 28px;line-height: 28px;}
.u_warning{width: 16px;height: 16px;display: inline-block;position: absolute;top:6px;left:0px;
    background: url("../../images/detect/warning.gif") 0 0 no-repeat;}
.u_warn_word{position: absolute;top:0px;left:20px;
    word-spacing:-8px;font-family:'宋体';font-size:14px;}
.u_int_error_ul{width: 468px;height: 150px;overflow: hidden;line-height:28px;
    margin-top: 13px;}
.u_int_error_ul li{position: relative;height: 28px;line-height: 28px;}
.u_error{width: 16px;height: 16px;display: inline-block;position: absolute;top:6px;left:0px;
    background: url("../../images/detect/error.gif") 0 0 no-repeat;}
.u_error_word{position: absolute;top:0px;left:20px;color: red;
    word-spacing:-8px;font-family:'宋体';font-size:14px;}
.u_process_ul{width: 650px;height: 150px;overflow: hidden;line-height:28px;
    margin-top: 13px;}
.u_process_ul li{height: 28px;line-height: 28px;}

.g_process_row1{width: 940px;height: 465px;margin:0px auto;}
.g_process_tit{width: 940px;height: 38px;margin:0 auto;border-bottom: 1px solid #cccccc;}
.g_process_row2{width: 940px;height: 160px;margin:0px auto;}
.u_process_word{word-spacing:-8px;font-family:'宋体';font-size:14px;}
.u_negative{margin-left: 15px;}

.g_process_sum{width: 938px;height: 125px;margin:10px auto 0px;
    background-color:#ffffff;border:1px solid #cccccc}
.g_pro_sum1{width: 118px;height: 125px;overflow: hidden;float:left;
    background-color: #17a8eb;padding:0px 10px;}
.u_pro_sum11,.u_pro_sum12,.u_pro_sum13{width: 100%;height:18px;line-height:16px;
    margin-top: 6px;color:#ffffff;font-size: 16px;}
.u_pro_sum12,.u_pro_sum13{font-size: 12px;height:16px;}
.u_pro_sum13{text-align: right;}
.g_pro_sum2{width: 148px;height: 105px;background-color: #17a8eb;float:left;
    margin-top:10px;margin-left: 10px;}
.g_pro_sum2_top{width: 128px;height: 25px;font-size: 16px;color: #ffffff;padding-left: 20px;}
.g_pro_sum2_bot{width: 140px;height: 76px;overflow:hidden;
    background-color: #ffffff;margin: 0 auto;}

.u_pro_sum22,.u_pro_sum23{width: 120px;height:18px;line-height:16px;margin-left: 10px;
    margin-right:10px;margin-top: 2px;color:#000000;font-size: 16px;}
.top8{margin-top: 8px;}
.u_pro_sum22,.u_pro_sum23{font-size: 12px;height:14px;}
.u_pro_sum23{font-size: 13px;text-align: right;font-weight: 700;}

.g_process_arr{width: 940px;height: 76px;margin: 0 auto;}
.u_process_arr1,.u_process_arr2,.u_process_arr3,.u_process_arr4,.u_process_arr5
{width: 26px;height: 76px;float:left;
    background: url("../../images/detect/arrow_green.gif") 0 0 no-repeat;}
.u_process_arr1{margin-left: 210px;}
.u_process_arr2{margin-left: 135px;}
.u_process_arr3{margin-left: 130px;}
.u_process_arr4{margin-left: 130px;}
.u_process_arr5{margin-left: 130px;}

.g_bus_tit{width: 940px;height: 40px;}
.g_bus_tit_l{width: 10px;height: 40px;float: left;
    background: url("../../images/detect/databus_l.gif") 0 0 no-repeat;}
.g_bus_tit_r{width: 10px;height: 40px;float: left;
    background: url("../../images/detect/databus_r.gif") 0 0 no-repeat;}
.g_bus_tit_c{width: 920px;height: 40px;float: left;background-color: #36c80f;}
.g_bus_con{width: 935px;height: 215px;margin-left:5px;}
.g_bus_param{width: 150px;height: 210px;position: relative;float: left;}
.g_bus_param1,.g_bus_param2{width: 145px;height: 205px;background-color: #ffffff;
    position:absolute;top:0px;left:0px;z-index: 2;}
.g_bus_param2{background-color: #d9dacc;z-index: 1;position:absolute;top:5px;left:5px;}
.g_bus_params{width: 145px;height: 35px;line-height: 30px;text-align: center;font-size: 16px;
    background: url("../../images/detect/bus_parameters.gif") 0 0 no-repeat;color: #ffffff;}
.u_bus_sum22,.u_bus_sum23{width: 125px;line-height:18px;margin-left: 10px;text-align: left;
    margin-right:10px;margin-top: 2px;color:#000000;font-size: 12px;height:18px;}
.top10{margin-top: 10px;}
.u_bus_sum23{font-size: 13px;text-align: right;font-weight: 700;}
.u_bus_sum24{width: 125px;height:40px;margin-right: 10px;margin-left: 10px;overflow: hidden;}
.g_control_node{width: 60px;height: 46px;float: right;position: relative;}
.u_control_img{width: 24px;height: 24px;position: absolute;top:0px;right: 15px;
    background: url("../../images/detect/node1_1.gif") 0 0 no-repeat;}
.u_control_word{width: 56px;height: 22px;position: absolute;top:24px;right: 0px;}
.u_delivery_img1,.u_delivery_img2{width: 24px;height: 24px;position: absolute;top:0px;
    right: 15px;background: url("../../images/detect/node2_1.gif") 0 0 no-repeat;}
.u_delivery_img2{background-image: url("../../images/detect/node2_2.gif")}

.g_bus_dyn{width: 300px;height: 210px;margin-left:10px;position: relative;float: left;}
.g_bus_dyn1,.g_bus_dyn2{width: 295px;height: 205px;background-color: #ffffff;
    position:absolute;top:0px;left:0px;z-index: 2;}
.g_bus_dyn2{background-color: #d9dacc;z-index: 1;position:absolute;top:5px;left:5px;}
.g_bus_dyns{width: 295px;height: 35px;line-height: 30px;text-align: center;font-size: 16px;
    background: url("../../images/detect/data_dynamic.gif") 0 0 no-repeat;color: #ffffff;}
.u_bus_dyns,.u_bus_dyns_more{width: 279px;height:27px;margin-right: 8px;margin-left: 8px;
    overflow: hidden;}
.u_bus_dyns_more{text-align: right;}
.u_bus_dyns_more a{color: #17a8eb;}

.g_data_push{width: 465px;height: 210px;float: left;margin-left: 10px;position: relative;}
.g_data_push_con{width: 463px;height: 198px;border: 1px solid #cccccc;margin-top: 10px;
    background-color: #ffffff;}
.g_push_sum{width: 95px;height:198px;background-color: #3fb6ee;text-align: center;float: left;
    color: #ffffff; }
.g_push_bar1,.g_push_bar2{width: 23px;height: 54px;position: absolute;top:0px;right:263px;
    background: url("../../images/detect/cable_1.gif") 0 0 no-repeat;}
.g_push_bar2{right:84px;background: url("../../images/detect/cable_2.gif") 0 0 no-repeat;}
.u_push_barc{width: 13px;height: 43px;margin-top: 5px;margin-left: 5px;
    background: url("../../images/detect/stream_v2.gif") 0 0 no-repeat;}
.g_push_sum1,.g_push_sum2,.g_push_sum3{width: 95px;height: 24px;line-height:24px;
    font-size: 20px;margin-bottom: 4px;}
.g_push_sum2{font-size: 12px;height: 22px;line-height:22px;margin-bottom:0}
.g_push_sum3{font-size: 14px;height: 22px;line-height:22px;margin-bottom:0}
.g_push_sum_r{width: 368px;height: 198px;float: left;position: relative;}
.g_relation,.g_big_data{width: 168px;height: 144px;border: 1px solid #cccccc;
    position: absolute;bottom: 10px;}
.g_relation{left: 10px;}
.g_big_data{right: 10px;}
.g_relation_tit,.g_big_data_tit{width: 168px;height: 42px;}
.g_relation_titl{width: 56px;height: 42px;float: left;
    background:url("../../images/detect/label.gif") 0 0 no-repeat;}
.g_relation_titr{width:102px;height: 32px;padding-top:10px;padding-left:10px;
    float: left;font-size: 14px;}
.g_relation_row1,.g_relation_row2{width: 148px;line-height:15px;margin-left: 10px;
    text-align: left;margin-right:10px;color:#000000;font-size: 12px;height:15px;
    margin-top: 2px;}
.g_relation_row2{font-weight: 700;text-align: right;margin-top: 2px;}
.g_relation_row3{width: 168px;height: 33px;margin-top: 1px;}
.g_relation_row3l,.g_relation_row3l1{width: 33px;height: 33px;float: left;
    background: url("../../images/detect/icon_db1.gif") 0 0 no-repeat;}
.g_relation_row3l1{background: url("../../images/detect/icon_db2.gif") 0 0 no-repeat;}
.g_relation_row3r{width:127px;height:36px;float: left;line-height: 36px;color: #3eb7ec;
    padding-left: 5px;}