@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset,
legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details,
figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0px;
    padding: 0px;
}
body {
    font: 12px/2em Microsoft Yahei,tahoma,HELVETICA;
    text-align: center;
    color: #333;
}
.header, .wraper {
    text-align: left;
}
.clearfix:after {
    content: " ";
    clear: both;
    height: 0px;
    display: block;
    overflow: hidden;
}
.banner {
     padding-right: 12px;
}
.banner .logo {
    width: 180px;
    margin-right: 70px;
    float: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
.banner .logo a {
    height: 90px;
    display: block;
    text-indent: -9999px;
}
a {
    color: #333;
    text-decoration: none;
}
.g_search {
    width: 720px;
    heigth:49px;
    padding-top: 20px;
    margin:0 auto;
    z-index: 50;
    position: relative;
}
.g_logo{width: 190px;height: 49px;float:left;
    background: url("images/logo3.gif") 0 0 no-repeat;}
.ks-select {
    width: 78px;
    background-color: #ffffff;
    position: absolute;
    left:190px;
    top: 26px;
    text-align: center;
    font-size: 14px;
    line-height: 33px;
}
.ks-select, .ks-q {
    border-width: 1px 0px 1px 1px;
    border-style: solid none solid solid;
    border-color: #3E9cfe;
    border-color: #3E9cfe -moz-use-text-color #3E9cfe #3E9cfe;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    color: #999999;
}
.ks-select, .ks-input input {
    height: 33px;
    float: left;
}
.ks-select .item {
    display: block;
    padding-right: 18px;
}
.ks-select {
    text-align: center;
    font-size: 14px;
    line-height: 33px;
    line-height\9: 33px;
    line-height\0: 38px;/*8*/
    +line-height: 38px;
    _line-height: 33px;

}
:root .ks-select { line-height: 33px\9; }  /*ie9*/
.ks-select, .ks-q {
    color: #666666;
}
i, em {
    font-style: normal;
}
.ks-select .tragl {
    right: 1px;
    top: 15px;
}
.tragl-gray-t {
    border-style: solid dashed dashed;
    border-color: #BBB transparent transparent;
}
.tragl {
    width: 0px;
    height: 0px;
    line-height: 0;
    overflow: hidden;
    font-size: 0px;
    border-style: dashed;
    border-width: 5px;
    position: absolute;
    transition: transform 0.2s ease 0s;
    transform-origin: center 20% 0px;
}
.ks-select-pop {
    width: 100%;
    border: 1px solid #3E9cfe;
    border-width: 0px 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #3E9cfe #3E9cfe;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    background-color: #FFF;
    position: absolute;
    left: -1px;
    top: 33px;
}
.ks-select-pop .current {
    background-color: #F2F2F2;
}
.ks-select-pop .item {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    cursor: pointer;
}
.ks-select .item {
    display: block;
    padding-right: 2px;
}
.ks-input .ks-label {
    width: 380px;
}
.ks-label {
    float: left;
    position: relative;
}
.ks-input .ks-q {
    width: 370px;
    height: 23px;
    line-height: 23px;
    padding: 5px 0px 5px 10px;
}
.ks-input input {
    outline: 0px none;
    -moz-appearance: none;
}
.ks-select, .ks-input input {
    height: 33px;
    float: left;
}
input, select, option, textarea {
    font-size: 12px;
    font-family: Microsoft Yahei,tahoma,HELVETICA;
    outline: 0px none;
}
.ks-label .ks-pop {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 34px;
    background-color: #FFF;
    display: none;
    z-index: 200;
    overflow: hidden;
}
.ks-label .ks-pop ul {
    border: 1px solid #E5E5E5;
    position: relative;
    z-index: 2;
}
dl, dt, dd, ul, li {
    margin: 0px;
    padding: 0px;
}
ol, ul {
    list-style: outside none none;
}
.ks-input .ks-submit {
    width: 60px;
    height: 35px;
    background-color: #2e81ea;
    border: 0px none;
    cursor: pointer;
    color:#ffffff;
}
.ks-input input {
    outline: 0px none;
    -moz-appearance: none;
}
.ks-select, .ks-input input {
    height: 33px;
    float: left;
}
.ks-submit{
    }

.tragl-gray-t {
    border-style: solid dashed dashed;
    border-color: #BBB transparent transparent;
}
.ks-select-pop .item:hover {
    color: #333;
    background-color: #F2F2F2;
    text-decoration: none;
}
.ks-q{border-left: none;}
.g_pb_search{width: 100%;height: 100px;}
#u_search_form{float:left;position: absolute;left:269px;top: 26px;width:440px;}