@charset "utf-8";
/* CSS Document */

.left_menu{
	float: left;
    width: 100%;
    
    min-width: 200px;
    text-align: center;
    background-color: #fafafa;
    /*border: 1px solid #D9D9D9;*/
}
.left_menu .wi-title {
    background-color: #999999;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    font-family: "Microsoft YaHei",simsun,Arial;
    font-size: 16px;
    line-height: 36px;
    padding: 0 12px 0 20px;
}
.left_menu .menu_box{
	 color: #fafafa;
    height: 100%;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
    /*border-right: 1px solid #b7d5df;*/
	/*padding:10px;*/
}
.menu_box li {
    height: 44px;
    width: 100%;
    color: #262626;
    background-color: #ffffff;
    position: relative;
}
.menu_box li.active{
    background-color: #f5f5f5;
}
.menu_box li a{
    color: #5a595a;
    display: block;
    height: 44px;
    line-height: 44px;
    border-top: 1px solid #F3F3F3;
    /*padding-left: 47px;*/
}

.menu_box li .on{
	background-color:#CCCCCC;
}
.sidebar_menu{
    margin: 0px 0px 0px 5px;
    padding: 0px;
    list-style: outside none none;
}
.sidebar-menu li {
    display: block;
    padding: 0px;
    margin: 0px;
    border: 0px none;
    position: relative;
}
.sidebar_menu li:not(.active):hover::before {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -4px;
    width: 4px;
    max-width: 4px;
    overflow: hidden;
    background-color: #ffce55;
}
.sidebar_menu li.active::before {
    display: block;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -4px;
    width: 4px;
    max-width: 4px;
    overflow: hidden;
    background-color: #2DC3E8;
}
