@charset "utf-8";
/**
  *
  *     本css为result.html等搜索结果页配套  头部  css
  *
  *     author：sun mail:szy1944@hotmail.com
  *     version:0.1
  *     date:20140621
  */


/*头部开始*/
#wrapper_head {
    width: 100%;
    height:30px;
    background-color: #424242;
    text-align: right;
}
#wrapper_head p{
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    margin-right: 13px;
}
/*高级用户*/
#adv_user {
    color:#FF9C03;
    text-decoration: underline;
}