@charset "UTF-8";
/*颜色区域*/
/* line 3, ../sass/partials/_variables.scss */
.white_bg_color {
  background-color: #ffffff;
}

/* line 6, ../sass/partials/_variables.scss */
.blue_color1 {
  background-color: #226ab2;
}

/* line 9, ../sass/partials/_variables.scss */
.blue_txt_color {
  color: #0064DC;
}

/* line 12, ../sass/partials/_variables.scss */
.darkBlue_txt_color, tbody .g_t1_c1, tbody .g_t1_c2 {
  color: #0089D1;
}

/* line 15, ../sass/partials/_variables.scss */
.grey_color1 {
  background-color: #eeeeee;
}

/* line 18, ../sass/partials/_variables.scss */
.grey_color2 {
  background-color: #f7f7f7;
}

/* line 21, ../sass/partials/_variables.scss */
.grey_color3 {
  background-color: #f2f2f2;
}

/* line 26, ../sass/partials/_variables.scss */
.grey_color4 {
  background-color: #e0e0e0;
}

/* line 32, ../sass/partials/_variables.scss */
.grey_color5 {
  background-color: #f6f6f6;
}

/* line 35, ../sass/partials/_variables.scss */
.grey_color6 {
  background-color: #f3f3f3;
}

/* line 38, ../sass/partials/_variables.scss */
.green_color7 {
  background-color: #fafafa;
}

/* line 42, ../sass/partials/_variables.scss */
.grey_txt_color1 {
  color: #9c9c9c;
}

/* line 45, ../sass/partials/_variables.scss */
.grey_txt_color2 {
  color: #666666;
}

/* line 48, ../sass/partials/_variables.scss */
.orange_txt_color1 {
  color: #ff8041;
}

/* line 51, ../sass/partials/_variables.scss */
.orange_border_color1 {
  border: 1px solid #ff8041;
}

/* line 54, ../sass/partials/_variables.scss */
.green_color1 {
  color: #008001;
}

/* line 57, ../sass/partials/_variables.scss */
.p_relative {
  position: relative;
}

/* line 60, ../sass/partials/_variables.scss */
.red_color {
  color: red;
}

/* line 63, ../sass/partials/_variables.scss */
.border_red {
  border: 1px solid red;
}

/*@mixin bs($bs-type: $defined-bs-type) {
	-webkit-box-sizing: $bs-type;
	-moz-box-sizing: $bs-type;
	box-sizing: $bs-type;
}*/
/* line 2, ../sass/partials/_fonts.scss */
.ft12 {
  font-size: 12px;
}

/* line 5, ../sass/partials/_fonts.scss */
.ft13 {
  font-size: 13px;
}

/* line 8, ../sass/partials/_fonts.scss */
.ft14 {
  font-size: 14px;
}

/* line 11, ../sass/partials/_fonts.scss */
.ft16 {
  font-size: 16px;
}

/* line 14, ../sass/partials/_fonts.scss */
.ft18, .item_h_tit span {
  font-size: 18px;
}

/* line 17, ../sass/partials/_fonts.scss */
.ft22, .subhead {
  font-size: 22px;
}

/* line 20, ../sass/partials/_fonts.scss */
.yahei, .subhead {
  font-family: 'Microsoft Yahei','微软雅黑','宋体',Tahoma,Arial,Helvetica,STHeiti;
}

/* reset */
/* line 3, ../sass/partials/_normalize.scss */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0;
}

/* line 4, ../sass/partials/_normalize.scss */
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block;
}

/* line 5, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*合并边线*/
/* line 6, ../sass/partials/_normalize.scss */
caption, th {
  text-align: left;
  font-weight: normal;
}

/*居左，正常字体*/
/* line 7, ../sass/partials/_normalize.scss */
html, body, fieldset, img, iframe, abbr {
  border: 0;
}

/*去除边宽*/
/* line 8, ../sass/partials/_normalize.scss */
i, cite, em, var, address, dfn {
  font-style: normal;
}

/*正常字体*/
/* line 9, ../sass/partials/_normalize.scss */
[hidefocus], summary {
  outline: 0;
}

                                /*当元素获得焦点的时候，焦点框为0(貌似不太好使,网上找的是:
:focus{outline: 0;})*/
/* line 11, ../sass/partials/_normalize.scss */
li {
  list-style: none;
}

/* line 12, ../sass/partials/_normalize.scss */
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%;
}

/*定义默认字体大小*/
/* line 13, ../sass/partials/_normalize.scss */
sup, sub {
  font-size: 83%;
}

/*上下标的字体大小*/
/* line 14, ../sass/partials/_normalize.scss */
pre, code, kbd, samp {
  font-family: inherit;
}

/* line 15, ../sass/partials/_normalize.scss */
q:before, q:after {
  content: none;
}

/*去掉引号*/
/* line 16, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  resize: none;
}

/* line 17, ../sass/partials/_normalize.scss */
label, summary {
  cursor: default;
}

/* line 18, ../sass/partials/_normalize.scss */
a, button {
  cursor: pointer;
}

/*手性图标*/
/* line 19, ../sass/partials/_normalize.scss */
h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold;
}

/* line 20, ../sass/partials/_normalize.scss */
del, ins, u, s, a, a:hover {
  text-decoration: none;
}

/*去掉下滑线*/
/* line 21, ../sass/partials/_normalize.scss */
body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial,\5b8b\4f53;
  color: #333;
  outline: 0;
}

/* line 22, ../sass/partials/_normalize.scss */
body {
  background: #fff;
}

/* line 23, ../sass/partials/_normalize.scss */
a, a:hover {
  color: #0064dc;
}

/* line 2, ../sass/partials/_placeholders.scss */
.items, .item_h_bot, .g_table1, .item_h_bd, .g_sideBar_ul, .g_sideBar_ul li, .u_img img {
  overflow: hidden;
  *zoom: 1;
}

/* line 1, ../sass/partials/_base.scss */
.fl, .g_l, .g_sideBar, .u_img, .u_img_info, .u_img_info_r1, .g_anal_ul li {
  float: left;
}

/* line 2, ../sass/partials/_base.scss */
.fr, .g_anay_condition {
  float: right;
}

/* line 3, ../sass/partials/_base.scss */
.fb, #bar_table thead td, .subhead {
  font-weight: bold;
}

/* line 1, ../sass/partials/_layout.scss */
.wrapper {
  width: 100%;
  min-height: 100%;
}

/* line 5, ../sass/partials/_layout.scss */
#wrapper_mid {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 11, ../sass/partials/_layout.scss */
.g_l {
  width: 768px;
}

/* line 15, ../sass/partials/_layout.scss */
.g_sideBar {
  width: 220px;
  margin-left: 10px;
}

/* line 20, ../sass/partials/_layout.scss */
.items {
  width: 1000px;
  margin: 0px auto;
}

/* line 25, ../sass/partials/_layout.scss */
.item_h {
  width: 100%;
  height: 3px;
  font-size: 0px;
}

/* line 32, ../sass/partials/_layout.scss */
.item_h_tit {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-top: none;
  background-color: #f2f2f2;
  /*@extend %border_grey;*/
}

/* line 41, ../sass/partials/_layout.scss */
.item_h_tit span {
  margin-left: 10px;
  font-weight: bolder;
}

/* line 47, ../sass/partials/_layout.scss */
.item_h_bot {
  width: 100%;
  border-top: medium none;
  padding: 6px 0;
  background-color: #D6F1F1;
  /*background-color:$green_color7;*/
  /*@extend %border_grey;*/
}

/* line 56, ../sass/partials/_layout.scss */
.input_time {
  height: 28px;
  line-height: 28px;
  border: 1px solid #CDCDCD;
  color: #CDCDCD;
  padding: 0px 10px;
  margin-right: 5px;
}

/* line 64, ../sass/partials/_layout.scss */
.trackSearch {
  width: 68px;
  height: 30px;
}

/* line 67, ../sass/partials/_layout.scss */
.g_table1 {
  margin-top: 10px;
}

/* line 73, ../sass/partials/_layout.scss */
#bar_table {
  width: 100%;
  /*overflow: hidden;*/
  /*table-layout:fixed;*/
  /*border: 1px solid #E0E0E0;*/
}

/* line 77, ../sass/partials/_layout.scss */
#bar_table td {
  border-width: 1px;
  border-style: solid;
  border-color: #E0E0E0;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  text-align: center;
}

/* line 89, ../sass/partials/_layout.scss */
.eventr {
  background-color: #FAFAFA;
}

/* line 95, ../sass/partials/_layout.scss */
.item_h_bd {
  width: 100%;
  border: medium none;
  padding: 0;
}

/* line 104, ../sass/partials/_layout.scss */
.g_sideBar_ul li {
  display: block;
  height: 100px;
  margin-top: 10px;
}

/* line 107, ../sass/partials/_layout.scss */
.u_img {
  width: 78px;
  height: 99px;
}

/* line 111, ../sass/partials/_layout.scss */
.u_img img {
  width: 78px;
  height: 99px;
}

/* line 116, ../sass/partials/_layout.scss */
.u_img_info {
  width: 128px;
  height: 99px;
  padding-left: 10px;
  overflow: hidden;
}

/* line 122, ../sass/partials/_layout.scss */
.u_img_info_r1 {
  width: 128px;
  height: 33px;
  line-height: 33px;
}

/* line 128, ../sass/partials/_layout.scss */
.pagination_con {
  width: 560px;
  height: 40px;
  margin: 10px auto 0px;
}

/* line 133, ../sass/partials/_layout.scss */
.current_page {
  background-color: #0089D1;
  color: #FFF;
  border: 1px solid #0089D1;
}

/* line 138, ../sass/partials/_layout.scss */
.page_num {
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0px 4px;
  text-align: center;
  float: left;
  color: #666;
}

/* line 147, ../sass/partials/_layout.scss */
.border_grey, .u_img img {
  border-width: 1px;
  border-style: solid;
  border-color: #E0E0E0;
}

/* line 152, ../sass/partials/_layout.scss */
.page_next {
  width: 70px;
  height: 30px;
  line-height: 30px;
  margin: 0px 4px;
  text-align: center;
  float: left;
  color: #666;
}

/* line 161, ../sass/partials/_layout.scss */
.page_sum {
  width: 40px;
  height: 30px;
  line-height: 30px;
  margin: 0px 4px;
  text-align: center;
  float: left;
  color: #666;
}

/* line 170, ../sass/partials/_layout.scss */
.page_general {
  width: auto;
  height: 30px;
  line-height: 30px;
  margin: 0px 4px;
  text-align: center;
  float: left;
  color: #666;
  position: relative;
}

/* line 180, ../sass/partials/_layout.scss */
.page_input {
  width: 28px;
  height: 22px;
  position: relative;
}

/* line 185, ../sass/partials/_layout.scss */
.page_general img {
  position: relative;
  top: 3px;
}

/* line 189, ../sass/partials/_layout.scss */
.g_anal_ul {
  padding-left: 20px;
}

/* line 192, ../sass/partials/_layout.scss */
.g_anal_ul li {
  margin-right: 25px;
}

/* line 196, ../sass/partials/_layout.scss */
.subhead {
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}

/* line 206, ../sass/partials/_layout.scss */
.g_anay_condition select {
  border: 1px solid #CDCDCD;
  margin-right: 7px;
  height: 30px;
  line-height: 30px;
  /*color: #CDCDCD;*/
  padding: 0px 10px;
}
