body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,"宋体";
}
ul, ol {
    list-style: none outside none;
}

.flowstep {
    margin: 12px auto 10px;
    padding: 0px;
}
.flowstep {
    width: 990px;
    margin: 0px auto;
    padding: 20px 0px;
}
.flowstep ol {
    overflow: hidden;
}
.flowstep-5 {
    margin-left: -30px;
    width: 1050px;
}
.flowstep-5 li {
    width: 210px;
}
.flowstep li {
    float: left;
    text-align: center;
}
.flowstep .step-name {
    padding: 3px 0px;
    font-weight: 700;
    color: #888;
}
.flowstep .step-done .step-no {
    background-position: 50% -170px;
}
.flowstep .step-first .step-done .step-no {
    background-position: 50% -204px;
}
.flowstep .step-cur .step-no {
    background-position: 50% 0px;
}
.flowstep .step-no {
    height: 34px;
    line-height: 34px;
    font-family: "arial black";
    color: #FFF;
    font-size: 18px;
}
.flowstep .step-no, .flowstep .step-sub-box .step-sub {
    background: url('images/T1ze0ZXA0aXXcVlxZa-734-340.png') no-repeat scroll 50% -102px transparent;
}
#J_trade_order_detail .flowstep .step-time {
    color: #999;
    margin-top: 10px;
}
.flowstep .step-time {
    color: #999;
    padding: 8px 0px;
}
.flowstep .step-last .step-no {
    background-position: 50% -136px;
}
