.indexfont {
	font-weight: bold;
	color: red;
}

div#vline {
	width: 1px;
	border: 1px solid #333;
	float: left;
}

div#title {
	border-bottom: 1px solid #333;
	margin: 10px;
	color: blue;
}

input {
	font: icon;
}

BODY {
	scrollbar-face-color: buttonface;
	font-size: 9pt;
	margin: 0px;
	scrollbar-highlight-color: buttonshadow;
	scrollbar-shadow-color: buttonshadow;
	scrollbar-arrow-color: #000000;
	scrollbar-darkshadow-color: window;
	padding: 0px;
	background-image: url(../images/icons/g_bg.png);
	background-repeat: repeat-x;
}

input,select,td,textarea {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.font_blue {
	font-size: 12px;
	color: #3E5473;
}

.t { /*color: #3E5473;*/ /*color:#0000CC;*/
	color: #3C7ADB;
	font-size: 14px;
	text-decoration: underline;
}

.t a,.t a:link,.t a:hover,.t a:visited {
	color: #3C7ADB;
	font-size: 14px;
	text-decoration: underline;
}

.abstract {
	color: #444444;
}

em {
	
	font-style: normal;
}

.list { /*color: #3E5473;*/
	color: #3E5473;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.detail_font {
	font-size: 16px;
	color: #003366;
}

textarea {
	width: 80%;
	height: 200px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h3,h4,h5,h6,p,strong,form,acronym,label,span,a,hr,code,pre {
	margin: 0;
	padding: 0;
	font-size: 1em;
	background-repeat: no-repeat;
	list-style-type: none;
}

dt {
	font-weight: bold;
}

.clear {
	clear: both;
}

acronym {
	border-bottom: 1px dashed #000;
	cursor: help;
}

h1 {
	font-size: 2em;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	list-style-type: none;
}

h2 {
	font-size: 1.2em;
	margin: 10px 0 10px 0;
}

h1 a {
	color: #000;
}

p {
	margin: 0 0 10px 0;
}

div#header {
	background: url("../images/qdetail.png") repeat-x scroll left top #F8FCFF;
	border: 1px solid #CDE1F5;
	margin: 0 auto 20px;
	padding-bottom: 10px;
	width: 670px;
}

div#header ul {
	margin: 10px 0 0 0;
}

div#header ul li {
	list-style-type: none;
	float: left;
	padding: 0 10px 0 0;
	font-weight: bold;
}

div#header ul li a {
	display: block;
	color: #f00;
	border-left: 1px solid red;
	padding-left: 5px;
}

div#header ul li a:hover {
	border-left: 1px solid #000;
}

div#body {
	margin: 16px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	border: 1px dashed #666;
}

div#validxhtml {
	float: right;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px;
	margin: 5px;
	width: 100px;
	text-align: center;
}

div#footer {
	border-top: 1px solid #666;
	padding: 5px 5px 5px 5px;
	text-align: right;
}

div#simple {
	padding: 5px 5px 5px 5px;
	text-align: left;
	word-wrap: word-break;
	word-break: break-all;
	line-height: 22px;
}

div#footer span {
	float: left;
}

ul#stylelist {
	margin: 0 0 30px 0;
}

ul#stylelist li {
	list-style-type: upper-roman;
	float: none;
	width: 150px;
	border: 1px dotted #ccc;
	background-color: #eee;
	padding: 3px;
	margin: 3px;
	color: green;
}

ul#showsource {
	float: left;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin-top: 5px;
	margin-left: 22px;
	/*width:80px;*/
	list-style-type: none;
}

table.simple {
	border: 1px solid #666;
	width: 96%;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table.simple thead tr {
	background-color: #eee;
}

table.simple tr.even {
	background-color: #fff;
}

table.simple td,table.simple th {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

table.simple {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.simple1 { /* ????????????????*/
	border: 1px solid #666;
	width: 95%;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
}

table.simple1 thead tr {
	background-color: #eee;
}

table.simple1 tr.even {
	background-color: #fff;
}

table.simple1 {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.simple1 td,table.simple1 th {
	border: 1px solid #ccc;
	padding: 3px 3px 3px 3px;
	text-align: left;
	vertical-align: top;
}

table.simple2 { /*????????????????*/
	border: 1px solid #666;
	width: 95%;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
}

table.simple2 thead tr {
	background-color: #eee;
}

table.simple2 tr.even {
	background-color: #fff;
}

table.simple2 {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.simpl2e td,table.simple2 th {
	border: 1px solid #ccc;
	padding: 3px 3px 3px 3px;
	text-align: right;
	vertical-align: top;
}

table.top { /*????????????????????????*/
	background-color: #D8E7FB;
	width: 96%;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
}

table.usertop { /*?????????????????????*/
	background-color: #EBEFF3;
	width: 95%;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
}

table.report td,table.report th {
	font: menu;
}

table.report th {
	background: buttonface;
	border-width: 1px;
	border-style: solid;
	border-color: threedhighlight threedshadow threedshadow threedhighlight;
	cursor: hand;
}

table.report idcol {
	background: buttonface;
}

table.report tr.even {
	background-color: #399;
}

table.report tbody {
	height: 100px;
	overflow: auto;
}

table.report {
	height: 120px;
	overflow: auto;
}

table.report tbody tr {
	height: 10px;
}

th { /*padding: 2px 4px 2px 4px;*/ /*text-align: left;*/
	vertical-align: middle;
	height: 23px
}

thead tr {
	background-color: #fc0;
	font-size: 12px;
}

th.sorted {
	background-color: #fc0;
}

th a,th a:visited {
	color: black;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

th.sorted a,th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
	font-size: 12px;
}

th.sortable a { /*????????????????-??????????? ????*/
	background-image: url(../images/arrow_off.png);
}

th.order1 a {
	background-image: url(../images/arrow_down.png);
}

th.order2 a {
	background-image: url(../images/arrow_up.png);
}

tr.odd {
	background-color: #fff
}

tr.tableRowEven,tr.even {
	background-color: #fea
}

table.its thead tr { /*??????????????????????*/
	background-color: #69c;
	font-size: 12px;
}

table.its tr.even { /*??????????????????????*/
	background-color: #def;
	font-size: 12px;
}

table.mars thead tr {
	background-color: #9c9;
	font-size: 12px;
}

table.mars tr.even {
	background-color: #ccb;
}

table.mars tr.odd {
	background-color: #eec;
}

table.mark td.tableCellError {
	background-color: #d00;
	color: #fff;
}

table.sublist {
	margin: 0 0 0 0;
	width: 100%;
}

table.sublist td,table.sublist th {
	width: 50%;
}

div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 5px 10px 10px 10px;
	width: 95%;
}

span.export {
	padding: 0 4px 1px 20px;
	display: inline;
	display: inline-block;
	cursor: pointer;
}

span.excel {
	background-image: url(../images/ico_file_excel.png);
}

span.csv {
	background-image: url(../images/ico_file_csv.png);
}

span.xml {
	background-image: url(../images/ico_file_xml.png);
}

span.pdf {
	background-image: url(../images/ico_file_pdf.png);
}

span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 95%;
	_width: 99%;
	margin-top: 10px;
	display: block;
	border-bottom: none;
	margin-left: 20px;
	margin-right: 20px;
}

span.pagelinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 95%;
	_width: 99%;
	display: block;
	border-top: none;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

td.textRed {
	color: #b11;
	font-size: 12px;
}

img {
	border: none;
}

hr {
	height: 1px;
	color: #000;
	clear: both;
}

/*
table,td{
	font-size:9pt;
	padding:0;
	margin:0;
}*/
table,th {
	font-size: 9pt;
	padding: 0;
	margin: 0;
}

.blue01 {
	background: #e73636
}

.blue_text {
	color: red;
	font-size: 14px;
	font-weight: bolder;
}

.blue02 {
	background: #db1818
}

.white01 {
	color: #ffffff
}

.gray01 {
	background: #e0e0e0;
	color: #a4a4a4
}

.gray_text { /*???????????????????*/
	color: #666666
}

.gray_but {
	color: #666666
}

.font01 {
	color: #a4a4a4
}

.gray02 {
	background: #f0f1f0
}

INPUT.text {
	border: 1px solid #9DB3D2;
}

/* ????t??*/
a,a:visited,a:hover {
	color: #666;
	text-decoration: none;
	font-size: 12px;
}

A:link {
	color: #000000;
	text-decoration: none;
	font-size: 12px;
}

A.white:link {
	color: #ffffff;
	text-decoration: none;
	font-size: 12px;
}

A:hover {
	color: #858586;
	text-decoration: none;
	font-size: 12px;
}

A:visited {
	color: #000000;
	text-decoration: none;
	font-size: 12px;
}

A.white:visited {
	color: #ffffff;
	text-decoration: none;
}

/* ????t??*/
.font14 {
	font-size: 14px
}

.font16 {
	font-size: 16px
}

.font_top {
	font-size: 7px;
	color: #999999
}

.font_outline {
	color: #333333
}

TD.pro_bg_outline {
	background-color: #ffffff
}

TD.pro_bg_title {
	filter: progid :     dximagetransform. microsoft.
		gradient(gradienttype =     1, startcolorstr =     #ffeeeeee,
		endcolorstr =  
		  #ffffffff);
	color: #000000;
	background-color: #eeeeee
}

TD.bg_title {
	filter: progid :     dximagetransform. microsoft.
		gradient(gradienttype =     1, startcolorstr =     #ffECF3FB,
		endcolorstr =  
		  #ffffffff);
	color: #000000;
	background-color: #ECF3FB
}

TD.pro_bg {
	background-color: #3399ff
}

.color1 {
	background-color: #73beef
}

.color2 {
	background-color: #738fef
}

.color3 {
	background-color: #ff6600
}

.button {
	border-right: #a2a2a2 1px solid;
	border-top: #ffffff 1px solid;
	font-size: 12px;
	background: #cccccc;
	border-left: #ffffff 1px solid;
	color: #333333;
	padding-top: 3px;
	border-bottom: #a2a2a2 1px solid;
	height: 21px
}

.button1 {
	border-right: #af6700 1px solid;
	border-top: #ffd16e 1px solid;
	font-size: 12px;
	background: #ff9600;
	border-left: #ffd16e 1px solid;
	color: #ffffff;
	padding-top: 3px;
	border-bottom: #af6700 1px solid;
	height: 21px
}

.button2 {
	border-right: #ae0c0c 1px solid;
	border-top: #fc7070 1px solid;
	font-size: 12px;
	background: #ee3e3e;
	border-left: #fc7070 1px solid;
	color: #ffefef;
	padding-top: 2px;
	border-bottom: #ae0c0c 1px solid;
	height: 21px
}

.box {
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	border-left: #000000 1px solid;
	border-bottom: #000000 1px solid
}

.box1 {
	border-right: #cccccc 1px solid;
	border-top: #cccccc 0px solid;
	padding-bottom: 1px;
	border-left: #cccccc 0px solid;
	border-bottom: #cccccc 1px solid
}

.box2 {
	border-right: #ffffff 1px solid;
	border-top: #a2a2a2 1px solid;
	border-left: #a2a2a2 1px solid;
	color: #333333;
	padding-top: 2px;
	border-bottom: #ffffff 1px solid;
	text-align: center
}

.box3 {
	border-right: #ff9600 1px solid;
	border-top: #ff9600 1px solid;
	background: #ffcc50;
	border-left: #ff9600 1px solid;
	border-bottom: #ff9600 1px solid
}

.box4 {
	border-right: 0px;
	border-top: 0px;
	background: #ffcc50;
	border-left: 0px;
	color: #964700;
	border-bottom: 0px
}

.box5 {
	border-right: #fc7070 1px solid;
	border-top: #fc7070 1px solid;
	background: #ee3e3e;
	border-left: #fc7070 1px solid;
	border-bottom: #fc7070 1px solid
}

.box6 {
	border-right: 0px;
	border-top: 0px;
	background: #ee3e3e;
	border-left: 0px;
	color: #ffffff;
	border-bottom: 0px
}

.box7 {
	border-right: #b7b7b7 1px solid;
	border-top: #b7b7b7 1px solid;
	background: #eeeeee;
	border-left: #b7b7b7 1px solid;
	border-bottom: #b7b7b7 1px solid
}

.box8 {
	border-right: #0083bf 1px solid;
	border-top: #58d0ff 1px solid;
	background: #2ab6f8;
	border-left: #58d0ff 1px solid;
	width: 32px;
	border-bottom: #0083bf 1px solid;
	text-align: center
}

.box9 {
	border-right: #0083bf 1px solid;
	border-top: #58d0ff 1px solid;
	background: #07b2ec;
	border-left: #58d0ff 1px solid;
	border-bottom: #0083bf 1px solid
}

.box10 {
	border-right: #bfbfbf 1px solid;
	border-top: #ffffff 1px solid;
	background: #eaeaea;
	border-left: #ffffff 1px solid;
	color: #7b7b7b;
	padding-top: 2px;
	border-bottom: #bfbfbf 1px solid;
	height: 20px;
	text-align: center
}

TD.dot {
	background-image: url(center_dot.gif);
	height: 1px
}

.bg_xxcp {
	background: #f0f1f0
}

.line_xxcp {
	background: #ffffff
}

A.gray:link {
	color: #a4a4a4;
	text-decoration: none
}

A.gray:visited {
	color: #a4a4a4;
	text-decoration: none
}

.content {
	line-height: 22px
}

.cursor {
	cursor: pointer
}

TD.dot { /* ????????????*/
	background: url(../images/line.gif);
	height: 1px
}

TABLE.bg {
	background-color: #cccccc
}

TR.bg {
	background-color: #eeeeee
}

INPUT.bot {
	border-right: 0px;
	border-top: 0px;
	font-size: 9pt;
	border-left: 0px;
	border-bottem: 0px solid #000000
}

A.gailan:link {
	color: #000000;
	text-decoration: none
}

A.gailan:hover {
	color: #ff0000;
	text-decoration: none
}

A.gailan:visited {
	color: #434f8f;
	text-decoration: none
}

A.bk:link {
	color: blue;
	text-decoration: underline
}

A.bk:visited {
	color: blue;
	text-decoration: underline
}

/*add at 804 */
table.common {
	margin-left: 15px;
	margin-bottom: 15px;
	border: 0;
	width: 97%;
	align: center;
	float: left;
}

table.common1 {
	margin-left: 15px;
	margin-bottom: 15px;
	border: 0;
	width: 96%;
	align: center;
}

table.common2 {
	margin-left: 15px;
	margin-bottom: 15px;
	border: 0;
	width: 95%;
	align: center;
}

form {
	margin: 0px;
}

img {
	border: 0px;
}

.red {
	color: red;
	font-size: 9pt;
}

.gray03 {
	color: #333333;
	font-size: 9pt;
}

.key_word { /* ????????????*/
	font-size: 14px;
	color: #1B3F82;
	font-weight: bold;
}

.textbox { /*?????????*/
	border: 1px solid #9DB3D2;
}

table.simple4 {
	border: 1px solid #666;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table.simple4 tr.even {
	background-color: #fff;
}

table.simple4 td,table.simple th {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

table.simple4 thead tr {
	background-color: #eee;
}

table.simple4 {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

td.simple table {
	border: 10px;
}

table.simple table {
	border: 10px;
}

<
STYLE type  =text /css>BODY {
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 14px;
	PADDING-TOP: 7px
}

A {
	COLOR: #0000cc
}

A:link {
	COLOR: #0000cc
}

A:VISITED {
	COLOR: #0000cc
}

A:HOVER {
	COLOR: #0000cc
}

IMG {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	LIST-STYLE-IMAGE: none;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

UL {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	LIST-STYLE-IMAGE: none;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

LI {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	LIST-STYLE-IMAGE: none;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

H3 {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	LIST-STYLE-IMAGE: none;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

FORM {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	LIST-STYLE-IMAGE: none;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

TABLE {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	LIST-STYLE-TYPE: none;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	BORDER-TOP: 0px;
	LIST-STYLE-IMAGE: none;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 0px
}

#main {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px auto;
	PADDING-LEFT: 20px;
	WIDTH: 960px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px
}

.crumb {
	MARGIN-TOP: 13px;
	COLOR: #000000;
	FONT-SIZE: 14px
}

.crumb A {
	TEXT-DECORATION: none
}

.crumb A:hover {
	TEXT-DECORATION: underline
}
/*
INPUT {
	BOX-SIZING: border-box;
	PADDING-BOTTOM: 0px;
	PADDING-TOP: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box
}
*/

#u {
	FONT-SIZE: 12px
}

#head {
	FONT-SIZE: 12px
}

#tool {
	FONT-SIZE: 12px
}

#search {
	FONT-SIZE: 12px
}

#foot {
	FONT-SIZE: 12px;
	position: relative;
	
}

.fm {
	Z-INDEX: 297;
	POSITION: relative;
	CLEAR: both
}

.nv {
	Z-INDEX: 298;
	POSITION: relative;
	HEIGHT: 45px
}

.nv .logo {
	FLOAT: left;
	MARGIN-RIGHT: 20px
}

.nv .tab {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 18px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FLOAT: left;
	PADDING-TOP: 20px
}

.nv A {
	FONT-SIZE: 14px
}

.nv B {
	FONT-SIZE: 14px
}

.btn {
	FONT-SIZE: 14px
}

#page {
	FONT-SIZE: 14px
}

#more {
	FONT-SIZE: 14px
}

.i {
	BORDER-BOTTOM: #b6b6b6 1px solid;
	BORDER-LEFT: #7b7b7b 1px solid;
	PADDING-BOTTOM: 3px;
	PADDING-LEFT: 7px;
	WIDTH: 536px;
	PADDING-RIGHT: 7px;
	FONT: 16px arial;
	BACKGROUND: url(http://www.baidu.com/img/i-1.0.0.png) no-repeat -304px
		0px;
	HEIGHT: 32px;
	VERTICAL-ALIGN: top;
	BORDER-TOP: #7b7b7b 1px solid;
	MARGIN-RIGHT: 5px;
	BORDER-RIGHT: #b6b6b6 1px solid;
	PADDING-TOP: 7px;
	_background-attachment: fixed
}

.btn {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 95px;
	PADDING-RIGHT: 0px;
	BACKGROUND: url(http://www.baidu.com/img/i-1.0.0.png) #ddd;
	HEIGHT: 32px;
	BORDER-TOP: 0px;
	CURSOR: pointer;
	BORDER-RIGHT: 0px;
	PADDING-TOP: 2px
}

.btn_h {
	BACKGROUND-POSITION: -100px 0px
}

.btn_wr {
	WIDTH: 97px;
	DISPLAY: inline-block;
	BACKGROUND: url(http://www.baidu.com/img/i-1.0.0.png) no-repeat -202px
		0px;
	HEIGHT: 34px;
	_top: 1px
}

.seth {
	DISPLAY: none;
	MARGIN-LEFT: 22px
}

.seth A {
	COLOR: #00c
}

#help {
	MARGIN-LEFT: 22px
}

.short-line {
	MARGIN: 0px 0px 0px 7px;
	COLOR: #999999
}

#tb_mr {
	Z-INDEX: 298;
	POSITION: relative;
	COLOR: #00c;
	CURSOR: pointer
}

#tb_mr SMALL {
	FONT-SIZE: 11px
}

#tb_mr B {
	FONT-WEIGHT: normal;
	TEXT-DECORATION: underline
}

#more {
	Z-INDEX: 298;
	BORDER-BOTTOM: #9a99ff 1px solid;
	POSITION: absolute;
	BORDER-LEFT: #9a99ff 1px solid;
	OUTLINE-STYLE: none;
	OUTLINE-COLOR: invert;
	OUTLINE-WIDTH: medium;
	WIDTH: 58px;
	DISPLAY: none;
	BACKGROUND: #fff;
	HEIGHT: 100px;
	OVERFLOW: hidden;
	BORDER-TOP: #9a99ff 1px solid;
	TOP: 45px;
	BORDER-RIGHT: #9a99ff 1px solid;
	LEFT: 452px
}

#more A {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 24px;
	PADDING-LEFT: 7px;
	WIDTH: 53px;
	PADDING-RIGHT: 0px;
	DISPLAY: block;
	HEIGHT: 25%;
	COLOR: #0001cf;
	TEXT-DECORATION: none;
	PADDING-TOP: 0px
}

#more A SPAN {
	FONT-FAMILY: "����"
}

#more A:hover {
	BACKGROUND: #d9e1f6
}

#more DIV {
	MARGIN: 0px 3px;
	BACKGROUND: #ccf;
	HEIGHT: 1px;
	OVERFLOW: hidden
}

#page {
	WHITE-SPACE: nowrap
}

#page .n {
	FONT-SIZE: 16px
}

.tools {
	POSITION: absolute;
	WIDTH: 220px;
	TOP: 10px
}

#mHolder {
	Z-INDEX: 296;
	POSITION: relative;
	WIDTH: 62px;
	DISPLAY: none;
	MARGIN-LEFT: 9px;
	TOP: -18px;
	MARGIN-RIGHT: -12px
}

#mCon {
	POSITION: absolute;
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 18px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 18px;
	BACKGROUND: url(http://www.baidu.com/img/bg-1.0.0.gif) no-repeat right
		-135px;
	HEIGHT: 18px;
	TOP: 6px;
	CURSOR: pointer;
	RIGHT: 7px;
	PADDING-TOP: 0px
}

#mCon SPAN {
	DISPLAY: block;
	COLOR: #00c;
	CURSOR: default
}

#mCon .hw {
	CURSOR: pointer;
	TEXT-DECORATION: underline
}

#mMenu {
	BORDER-BOTTOM: #9a99ff 1px solid;
	POSITION: absolute;
	BORDER-LEFT: #9a99ff 1px solid;
	WIDTH: 56px;
	DISPLAY: none;
	BACKGROUND: #fff;
	BORDER-TOP: #9a99ff 1px solid;
	TOP: 28px;
	RIGHT: 7px;
	BORDER-RIGHT: #9a99ff 1px solid
}

#mMenu A {
	LINE-HEIGHT: 22px;
	TEXT-INDENT: 6px;
	WIDTH: 100%;
	DISPLAY: block;
	HEIGHT: 100%;
	COLOR: #00c;
	TEXT-DECORATION: none
}

#mMenu A:hover {
	BACKGROUND: #d9e1f6
}

#mMenu .ln {
	LINE-HEIGHT: 1px;
	MARGIN: 2px;
	BACKGROUND: #ccf;
	HEIGHT: 1px;
	FONT-SIZE: 1px;
	OVERFLOW: hidden
}

H3 {
	PADDING-BOTTOM: 4px;
	WIDTH: 100%;
	COLOR: #333333;
	FONT-SIZE: 14px
}

H3 SUP {
	COLOR: #cc0000;
	FONT-WEIGHT: normal
}

H3.new {
	MARGIN: 18px 0px 15px
}

mg13 {
	MARGIN-TOP: 13px
}

.l {
	FLOAT: left
}

.con {
	WIDTH: 240px;
	FLOAT: left;
	HEIGHT: 15px;
	DISPLAY: inline-block;
	MARGIN-BOTTOM: 3px;
	FONT-SIZE: 14px COLOR :     #2222fc;
	padding-top: 10px;
}

.con a {
	DISPLAY: inline-block;
	MARGIN-BOTTOM: 3px;
	FONT-SIZE: 14px COLOR :     #0000cc
}

.con SPAN {
	COLOR: #2222fc;
	FONT-SIZE: 14px
}

.abg {
	WIDTH: 24px;
	DISPLAY: block;
	BACKGROUND: url(img/more.png) no-repeat left -2244px;
	FLOAT: left;
	HEIGHT: 24px;
	OVERFLOW: hidden;
	MARGIN-RIGHT: 9px
}

.yueduqi {
	BACKGROUND-POSITION: left -2244px
}

.yidongyingyong {
	BACKGROUND-POSITION: left top
}

.jdo {
	BACKGROUND-POSITION: left -2142px
}

.yi {
	BACKGROUND-POSITION: left -1802px
}

.car {
	BACKGROUND-POSITION: left -1734px
}

.web {
	BACKGROUND-POSITION: left -1700px
}

.video {
	BACKGROUND-POSITION: left -1292px
}

.mp3 {
	BACKGROUND-POSITION: left -1020px
}

.map {
	BACKGROUND-POSITION: left -952px
}

.news {
	BACKGROUND-POSITION: left -1088px
}

.image {
	BACKGROUND-POSITION: left -714px
}

.dict {
	BACKGROUND-POSITION: left -476px
}

.u_tool {
	BACKGROUND-POSITION: left -884px
}

.tuan {
	BACKGROUND-POSITION: left -1564px
}

.hao123 {
	BACKGROUND-POSITION: left -612px
}

.site_nav {
	BACKGROUND-POSITION: left -1360px
}

.lvyou {
	BACKGROUND-POSITION: left -2108px
}

.zhidao {
	BACKGROUND-POSITION: left -2040px
}

.baike {
	BACKGROUND-POSITION: left -238px
}

.tieba {
	BACKGROUND-POSITION: left -1156px
}

.xinzhi {
	BACKGROUND-POSITION: left -2210px
}

.hi {
	BACKGROUND-POSITION: left -646px
}

.wenku {
	BACKGROUND-POSITION: left -1666px
}

.zhangmen {
	BACKGROUND-POSITION: left -1054px
}

.shenbian {
	BACKGROUND-POSITION: left -1258px
}

.jingyan {
	BACKGROUND-POSITION: left -816px
}

.cang {
	BACKGROUND-POSITION: left -340px
}

.youxi {
	BACKGROUND-POSITION: left -1904px
}

.ting {
	BACKGROUND-POSITION: left -1462px
}

.youxizixun {
	BACKGROUND-POSITION: left -1938px
}

.search_mobile {
	BACKGROUND-POSITION: left -1836px
}

.baidu_mobile {
	BACKGROUND-POSITION: left -1836px
}

.ime_mobile {
	BACKGROUND-POSITION: left -1326px
}

.kuaisou {
	BACKGROUND-POSITION: left -136px
}

.map_mobile {
	BACKGROUND-POSITION: left -986px
}

.open {
	BACKGROUND-POSITION: left -1122px
}

.zhanzhang {
	BACKGROUND-POSITION: left -2006px
}

.tongji {
	BACKGROUND-POSITION: left -1496px
}

.lianmeng {
	BACKGROUND-POSITION: left -1632px
}

.tuiguang {
	BACKGROUND-POSITION: left -1598px
}

.guanjia {
	BACKGROUND-POSITION: left -578px
}

.data {
	BACKGROUND-POSITION: left -442px
}

.fengyunbang {
	BACKGROUND-POSITION: left -1530px
}

.zhishu {
	BACKGROUND-POSITION: left -748px
}

.yingyong {
	BACKGROUND-POSITION: left -68px
}

.yingyin {
	BACKGROUND-POSITION: left -170px
}

.hi {
	BACKGROUND-POSITION: left -680px
}

.tool {
	BACKGROUND-POSITION: left -306px
}

.ime {
	BACKGROUND-POSITION: left -1428px
}

.qian {
	BACKGROUND-POSITION: left -1190px
}

.liubanlv {
	BACKGROUND-POSITION: left -272px
}

.fanyi {
	BACKGROUND-POSITION: left -102px
}

.xunren {
	BACKGROUND-POSITION: left -1768px
}

.gongyi {
	BACKGROUND-POSITION: left -544px
}

.jijinhui {
	BACKGROUND-POSITION: left -374px
}

.mangdao {
	BACKGROUND-POSITION: left -408px
}

.laonian {
	BACKGROUND-POSITION: left -34px
}

.zhuanli {
	BACKGROUND-POSITION: left -2074px
}

.qiyi {
	BACKGROUND-POSITION: left -1224px
}

.youa {
	BACKGROUND-POSITION: left -1870px
}

.baifubao {
	BACKGROUND-POSITION: left -204px
}

.leju {
	BACKGROUND-POSITION: left -850px
}

.tiankong {
	BACKGROUND-POSITION: left -1394px
}

.skygame {
	BACKGROUND-POSITION: left -2278px
}

.developer {
	BACKGROUND-POSITION: left -2312px
}

.mobileexplore {
	BACKGROUND-POSITION: left -2346px
}

.yuedu {
	BACKGROUND-POSITION: left -2380px
}

.leju {
	BACKGROUND-POSITION: left -2414px
}

.mobilesearch {
	BACKGROUND-POSITION: left -2448px
}

.zhangshangbaidu {
	BACKGROUND-POSITION: left -2482px
}

.mobile-tongxunlu {
	BACKGROUND-POSITION: left -2516px
}

.liulanqi {
	BACKGROUND-POSITION: left -2550px
}

.fenxiang {
	BACKGROUND-POSITION: left -2584px
}

.yunzhineng {
	BACKGROUND-POSITION: left -2618px
}

.ydtongji {
	BACKGROUND-POSITION: left -2652px
}

.ydapp {
	BACKGROUND-POSITION: left -2686px
}

.kaifazhe {
	BACKGROUND-POSITION: left -2720px
}

.cl {
	LINE-HEIGHT: 0px;
	HEIGHT: 0px;
	CLEAR: both;
	FONT-SIZE: 0px;
	OVERFLOW: hidden
}

.footer {
	TEXT-ALIGN: center;
	PADDING-BOTTOM: 30px;
	PADDING-LEFT: 0px;
	WIDTH: 890px;
	PADDING-RIGHT: 0px;
	COLOR: #7777cc;
	FONT-SIZE: 12px;
	BORDER-TOP: #dddddd 1px solid;
	PADDING-TOP: 10px
}

.footer A {
	COLOR: #7777cc
}

.appbar {
	MARGIN: 1px 25px;
	COLOR: #dd4b39;
	FONT-SIZE: 20px
}

.appbar_b {
	BORDER-BOTTOM: #ebebeb 1px solid
}

a,a:link,a:visited {
	color: #3C7ADB;
}

a,a:HOVER {
	color: #3C7ADB;
	text-decoration: underline;
}

#relativeKeyword a {
	color: #3C7ADB;
	font-size: 14px;
	text-decoration: underline;
}

#app_body {
	border: 1px solid #EEEEEE;
	overflow: hidden;
	position: relative;
	width: 700px;
	display: block;
	padding: 0px;
	float: left;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: inline-block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.app-header-top {
	border: 1px solid #EEEEEE;
	margin-bottom: 5px;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 800px;
	background-color: #EEEEEE;
	font-size: 14px;
	color: #000000;
	float: left;
	background-image: url("../images/foot_bg.jpg");
}

.app-baike-header-top {
	border: 1px solid #EEEEEE;
	margin-bottom: 5px;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 100%;
	background-color: #EEEEEE;
	font-size: 14px;
	color: #959595;
	float: left;
	background-image: url("../images/foot_bg.jpg");
}

.dic_content {
	margin-bottom: 5px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 800px;
	font-size: 13px;
	float: left;
	
}

.app-header-bottom {
	border: 1px solid #EEEEEE;
	margin-top: 2px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 800px;
	background-color: #EEEEEE;
	font-size: 14px;
	color: #959595;
	float: left;
}

.app-bottom {
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 800px;
	font-size: 14px;
	color: #959595;
	float: left;
}

.app-body {
	border: 1px solid #EEEEEE;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 690px;
	background-color: #EEEEEE;
	font-size: 14px;
	color: #959595;
	float: left;
}

#app {
	width: 60%;
	overflow: visible;
	
}

#appw {
	padding: 0px;
}

.op_postcode_main {
	width: 800px;
	padding: 0px 0px 0px 0px;;
}

#foottitle {
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 690px;
	font-size: 14px;
	color: green;
	float: left;
}

.t {
	margin-top: 0px;
	text-decoration: none;
}

.result-op {
	margin-top: 15px;
}

.op_postcode_left {
	width: 68px;
	float: left
}

.op_postcode_left img {
	width: 58px;
	height: 61px
}

.op_postcode_right {
	width: 532px;
	float: left
}

.op_pistcode_pr {
	padding-right: 12px
}

.op_postcode_right p {
	margin-bottom: 5px
}

.op_postcode_right p span {
	color: #666
}

.op_postcode_zip td {
	font-size: 16px;
	vertical-align: top
}

td.op_postcode_txt {
	font-weight: bold;
	padding-bottom: 7px
}

.op_postcode_main,td.op_postcode_txt {
	font-size: 12px
}

.op_postcode_region p {
	padding: 0px 0px 0px 0px;
	color: #444444;
	font-size: 12px;
}

#m {
	MARGIN: 0px auto;
	WIDTH: 680px
}

#fm {
	POSITION: relative Z-INDEX :   300;
	TEXT-ALIGN: left;
	PADDING-LEFT: 77px;
	HEIGHT: 35px
}

.ermenulist1 {
	
}

.ermenulist1 div {
	float: left;
	margin-right: 5px;
	text-align: center;
	line-height: 24px;
	width: 50px;
	color: #2222fc;
	font-size: 14px;
}

.ermenulist1 div a {
	color: #2222fc;
	font-size: 14px;
	text-decoration: none;
}

.ermenulist1	.arrowdiv {
	background-image: url(../images/swb_arrow.png);
	background-repeat: no-repeat;
	background-position: 35px 8px;
}

.ermenulist1 .showdiv {
	/*background:url(../images/swb_tagbgimg.png) no-repeat;*/
	text-align: center;
	line-height: 24px;
	width: 50px;
	color: #000;
	font-size: 15px;
	font-weight: 900;
}

.ermenulist1 .showdiv a {
	color: #ffcb99;
	font-size: 14px;
	text-decoration: none;
}

.indexsearchblock {
	
}

#app {
	font-family: lucida sans unicode, sans-serif;
	font-style: normal;
	font-variant: normal;
	padding-top: 0px;
}

#symbol {
	font-family: lucida sans unicode, sans-serif;
	font-style: normal;
	font-variant: normal;
	lang: EN-US;
}

.currpos {
	height: 30px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#7f7f7f;
}

#dialogTable {
	border-collapse: collapse;
	border-spacing: 0;
	width: 98%;
	margin: 20px auto 0px auto;
}

#dialogTable td { {
	border: 0px solid #000;
	padding: 5px 20px 0px 5px;
	line-height: 18px;
}

.search_more {
	height: 40px;
}

#appcontent {
	padding: 0px 0px 0px 0px;
}

#appTable {
	padding: 30px 40px 20px;
}

#baike_contentinfo {
	border: 1px solid #EEEEEE;
	margin-bottom: 5px;
	margin-top: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 100%;
	font-size: 14px;
	float: left;
	min-width: 500px;
}

#baike_contentinfo p {
	margin-bottom: 5px;
	margin-top: 0px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 100%;
	font-size: 14px;
	float: left;
}
#appTable
{
min-width: 200px;

}

