@charset "utf-8";
/*全局样式*/
.wrapper {
    width: 100%;
    min-height: 100%;
}
.blue_link {
    text-decoration: underline;
    color: #3e7ec4;
}
.blue_color{
    color: #3e7ec4;
}




/*头部开始*/
#wrapper_head {
    width: 100%;
    height:30px;
    background-color: #424242;
    text-align: right;
}
#wrapper_head p{
    color: #ffffff;
    height: 30px;
    line-height: 30px;
}
/*高级用户*/
#adv_user {
    color:#FF9C03;
    text-decoration: underline;
}





/*中部开始*/
#wrapper_mid {
    width: 100%;

    /*中部定义最小高度*/
    height:auto !important;
    height:630px;
    min-height:630px;

    text-align: center;
}
#logo {
    width: 260px;
    height: 69px;
    margin-top: 100px;
}

#nav_wrapper {
    position: relative;
    width: 790px;
    margin: 40px auto;
    text-align: left;
}


#nav_wrapper #nav_menu {
    width: 500px;
    height:20px;
    line-height: 20px;
    margin-bottom: 14px;
}

#nav_wrapper #nav_menu a {
    display: block;
    float: left;
    padding: 0 10px;
    font-family: "方正正准黑",Microsoft JhengHei,STHeiti;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

#nav_wrapper #nav_animate_block {
    position: absolute;
    top: 24px;
    height: 7px;
    overflow: hidden;
    background-image: url("../img/arrow_1.gif");
    background-repeat: no-repeat;
    margin-top: 0px;

}

/*搜索框*/
#search_con {
    width:100%;
    height:50px;

}

.con_btn {
    width: 630px;
    height:30px;
    border: 1px solid #3d7cc2;
    background-color: #ffffff;
    float: left;
}

/*tab页*/
.tab_con {
    width: 790px;
    height:300px;
    margin: 50px auto;
}





/*底部开始*/
#wrapper_bot {
    width: 100%;
    height: 85px;
    background-color: #E8DECF;
    text-align: center;
    padding-top:15px;
}
#wrapper_bot p{
    text-align: center;
    height: 25px;
    line-height:25px;
}
#bot_p_list{
    color: #3e7ec4;
}
#bot_p_list a {
    display: inline;
    margin: 0 15px;
}
#copyright {
    color: #6D6860;
}

.adv_search {
    height:45px;
    line-height: 45px;
    font-size: 14px;
    float: left;
    margin-left:10px;
}



/*temp*/
.l_box{
    width: 80px;
    height:260px;
    float: left;
    background-color: #F4EADA;
}
.l_box a{
    width: 80px;
    height:34px;
    line-height: 33px;
    border:none;
    text-align: center;
    font-size: 14px;
    color:#9c9389;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.l_box a:hover{
    background-image: url("../img/menu.gif");
    text-shadow: none;
    color:#ffffff;
}
.r_box{
    width: 630px;
    height:260px;
    float: right;
    margin-right:65px;
    background-color: #f5f5f5;
}
.current_tab{
    filter: none !important;
    background-image: url("../img/menu.gif");
    border-right: medium none !important;
    text-shadow: none !important;
    width: 80px;
}

.r_content_1 {
    width: 630px;
    height: 260px;
}
.pics{
    width: 151px;
    height:126px;
    float: left;
    margin-top:3px;
    margin-left:3px;
}







