@charset "utf-8";
/**
  *
  *     本css为result.html等搜索结果页配套css
  *     包括公共重置样式和搜索结果页样式两部分，搜索结果页样式又包括头，尾及中间共三部分
  *     author：sun mail:szy1944@hotmail.com
  *     version:0.1
  *     date:20140621
  */

/*公共重置样式*/
@import url("reset.css");

@import url("result_head.css");

@import url("result_bottom.css");
/*搜索结果页样式*/
/*全局样式*/
html{
    overflow-y:auto;
    overflow-x:hidden;
}
.wrapper {
    width: 100%;
    min-height: 100%;
}

#wrapper_mid {
    width: 100%;
}
#search_bar{
    width:100%;
    height:90px;
    background-color: #eeeeee;
}
#search_bar_con{
    width: 1326px;
    height:90px;
    line-height: 90px;
    margin: 0 auto;
    border:1px solid green;
}

