@charset "UTF-8";
/*body宽度*/
.con_w{
  width: 1000px;
  @include center();
}
.login_bar{
  @extend %w100;height:31px;
  border-top: 3px solid $c2;
  border-bottom: 1px solid $c_border1;
}
.login_bar_bd,.banner_bd,.nav_bd{
  @extend .con_w;
  @include clearfix;
}
.banner{
  @extend %w100;height: 71px;
  background-color: $c_bg1;
}
.nav{
  @extend %w100;
  @include valign_m(40px);
  @include bg_col($c2);
}
.nav_bd{
  @include valign_m(40px);
  @extend %clearfix;
}
.nav_li{
  margin: 0 25px;
  @include valign_m(40px);
  @extend .fl;
}
.nav_li a{
  /*@include valign_m(38px);
  margin-top: 1px;
  display: block;*/
  color: #ffffff;
  @extend .ft16;
  @extend .yahei;
  &:hover{
    color:#000000;
    /*background-color: $c_bg2;*/
  }
}
.cont{
  @extend %w100;
  @include bg_col($c_bg2);
  @extend %clearfix;
}

.cont_r1,.cont_r2,.cont_r3,.cont_r4{
  @extend .con_w;
  @include center();
  @include bg_col();
  padding-top: 10px;
}
.footer{
  @extend %w100;height: 220px;
  @include bg_col($c2);
  @extend %clearfix;
}
.welcome{
  margin-left: 10px;
  @extend .fl;
  @include valign_m(31px);
}
.user_info{
  margin-right: 10px;
  @extend .fr;
  @include valign_m(31px);
}
.user_info span{
  @extend .fb;
}
.user_info a{
  color:#000000;
  &:hover{
    color:$c_hover1;
  }
}
.banner_logo{
  margin-left: 10px;
  @include div_bgimg("logo.jpg");
  @extend .fl;
}
.search_bd{
  width: 338px;height: 36px;margin-top: 18px;
  margin-right: 10px;
  position: relative;
  @extend .fr;@extend %clearfix;
  display: inline-block;
}
.search_panel{
  height:33px;
  border:1px solid $c5;
  border-right:none;
  /*padding: 1px 0px 1px 1px;
  height: 33px;
  background: none repeat scroll 0% 0% $c5;*/
}
.search_box{
  background-color: #ffffff;
  display: inline-block;
}
.search_box_ipt{
  padding: 5px 10px 5px 10px;
  margin:0px 39px 0px 0px;
  height: 22px;
  line-height: 22px;
  width: 278px;
  border: 0px none;
  outline: 0px none;
  background: none repeat scroll 0% 0% #FFF;
  @extend .ft14;@extend .fb;
  display: inline-block;
}
.search_btn{
  width: 39px;height: 35px;
  /*margin-right: 10px;*/
  position: absolute;right:0px;top:0px;
}
.btn_search{
  cursor: pointer;
  border: 0px none;
  @include div_bgimg("search.gif");
}



.cont_r1{
  height: 300px;
  @extend %clearfix;
}
.cont_r2{
  height: 300px;
  @extend %clearfix;
}
.cont_r3{
  height: 300px;
  @extend %clearfix;
}
.cont_r4{
  height: 300px;
  @extend %clearfix;
}
.cont_r1>div,.cont_r2>div,.cont_r3>div{
  @extend .fl;
  height: 300px;
  @extend %clearfix;
}
.cont_r1c1{
  width: 650px;
  margin-left: 10px;
  @extend .fl;
}
.cont_r1c2{
  width: 320px;
  margin-left: 10px;
  @extend .fl;
}
.cont_r2c2{
  width: 320px;
  margin-left: 10px;
  @extend .fl;
}
.cont_r2c1{
  width: 650px;
  margin-left: 10px;
  @extend .fl;
}
.r1c1_tit,.r1c2_tit,
.r2c2_tit,.r2c1_tit,
.r3c1_tit,.r3c2_tit,.r3c3_tit{
  @extend %clearfix;
}
.r1c1_tit_l{
  @include div_bgimg("tit1.gif");
}
.r1c1_tit_l,.r1c1_tit_r,.r1c2_tit_l,.r1c2_tit_r
{
  @include valign_m(24px);
  @extend .fl;
}
.r1c1_tit_rep{
  margin-top: 8px;
  @include div_bgimg("tit1_bg.gif");
  width: 500px;
}

.r1c2_tit_l{
  @include div_bgimg("tit2.gif");
}

.r1c2_tit_rep{
  margin-top: 8px;
  @include div_bgimg("tit1_bg.gif");
  width: 159px;
}



.r2c1_tit_l,.r2c1_tit_r,.r2c2_tit_l,.r2c2_tit_r{
  @include valign_m(30px);
  @extend .fl;
}
.r2c1_tit_l{
  @include div_bgimg("tit3.gif");
}
.r2c2_tit_l{
  @include div_bgimg("tit3.gif");
}
.r2c1_tit_rep,{
  @include div_bgimg("tit3_bg.gif");
  width: 420px;
}
.r2c2_tit_rep{
  @include div_bgimg("tit3_bg.gif");
  width: 90px;
}


.cont_r3c1,.cont_r3c2,.cont_r3c3{
  width: 320px;
  margin-left:10px;
  @extend .fl;
}
.r3c1_tit_l{
  @include div_bgimg("tit4.gif");
}
.r3c2_tit_l{
  @include div_bgimg("tit4.gif");
}
.r3c3_tit_l{
  @include div_bgimg("tit4.gif");
}
