@charset "UTF-8";
/*颜色区域*/
$c1:#009fe3;//浅蓝
$c2:#0378ae;//深蓝
$c3:#a2a2a2;//栏目横线1
$c4:lighten($c3,10%);//栏目横线2
$c5:#c8c8c8;//搜索框颜色
$c_border1:#dddddd;//边框颜色1
$c_bg1:#fbfbfd;//背景颜色1
$c_bg2:#f2f2f2;//背景颜色2
$c_hover1:#0064dc;//鼠标悬浮蓝色
