SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体
}
BODY {
	FONT-SIZE: 9pt; backgroundcolor: "#F7FBFF"
	FONT-FAMILY: "Verdana", "Arial", "宋体"
}
TD {
	FONT-SIZE: 9pt
}
P {
	FONT-SIZE: 9pt
}
LI {
	FONT-SIZE: 9pt; LINE-HEIGHT: 11pt
}
A:link {
	COLOR: black; TEXT-DECORATION: none
}
A:visited {
	COLOR: black; TEXT-DECORATION: none
}
A:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.blk:link {
	COLOR: black; TEXT-DECORATION: none
}
A.blk:visited {
	COLOR: black; TEXT-DECORATION: none
}
A.blk:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.blue:link {
	COLOR: #000080; TEXT-DECORATION: none
}
A.blue:visited {
	COLOR: #000080; TEXT-DECORATION: none
}
A.blue:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.white:link {
	COLOR: white; TEXT-DECORATION: none
}
A.white:visited {
	COLOR: white; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: yellow; TEXT-DECORATION: none
}
A.green:link {
	COLOR: #086fab; TEXT-DECORATION: none
}
A.green:visited {
	COLOR: #086fab; TEXT-DECORATION: none
}
A.green:hover {
	COLOR: red; TEXT-DECORATION: none
}
A.yellow:link {
	COLOR: yellow; TEXT-DECORATION: none
}
A.yellow:visited {
	COLOR: yellow; TEXT-DECORATION: none
}
A.yellow:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.gray:link {
	COLOR: #7b7b7b; TEXT-DECORATION: none
}
A.gray:visited {
	COLOR: #7b7b7b; TEXT-DECORATION: none
}
A.gray:hover {
	COLOR: red; TEXT-DECORATION: none
}
INPUT.buttonface {
	BORDER-RIGHT: #666666 0px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP: #666666 0px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/b8.gif); MARGIN: 0px; BORDER-LEFT: #666666 0px; WIDTH: 85px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: "宋体" , Arial; LETTER-SPACING: 1px; HEIGHT: 20px
}
INPUT.smallInput {
	BORDER-RIGHT: #2e7bae 1px solid; BORDER-TOP: #2e7bae 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: #2e7bae 1px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: #2e7bae 1px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
INPUT.nullInput {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 0px solid; FONT-WEIGHT: normal; FONT-SIZE: 9pt; BORDER-LEFT: black 0px solid; LINE-HEIGHT: normal; BORDER-BOTTOM: black 0px solid; FONT-STYLE: normal; HEIGHT: 18px; FONT-VARIANT: normal
}
.drop0 {
	FONT-SIZE: 12px; FILTER: DropShadow(Color=#000000, OffX=1, OffY=1, Positive=1); COLOR: #ffffff
}
.drop1 {
	FONT-SIZE: 12px; FILTER: DropShadow(Color=#FFFFFF, OffX=1, OffY=1, Positive=1); COLOR: #000000
}
