@charset "UTF-8";
/*body宽度*/
.con_w{
  width: $w_index;
  @include center();
}
.login_bar{
  @extend %w100;height:35px;line-height: 35px;
  @include bg_col($c_bg1);
  border-bottom: 1px solid $c_border1;
}
.common_bd{
  @extend .con_w;
  @include clearfix;
}
.login_bar_li{
  @extend .fl;
  margin-left: 30px;
  &:first-child{margin-left: 0px;}
  _margin-left:expression(this.previousSibling==null?'0':'30px');
}
.weather{
  li{
    @extend .fl;
    margin-left: 6px;
    img{
      width: 27px;height: 23px;
      position: relative;
      top:5px;
      *top:0px;
      _top:5px;
    }
  }
}
.city{
  color: $c_border2;
  text-decoration: underline;
  @include letter_space;
}
.welcome{
  @include letter_space(0);
}
.banner{
  @extend %w100;height: 125px;
}
.bannerbg{
  top: 0px !important;
  position: fixed !important;
  z-index: 9999;
  display: none;
  width: 100%;height:125px;
  @include bg_col();
}
.banner_logo{
  @include div_bgimg("name.gif");
  @extend .fl;
  margin-top: 30px;
}
.search_wrap{
  width:621px;height:70px;
  @extend .fl;
  margin: 30px 0 0 35px;
  @extend %clearfix;
}
.mall{
  width: 106px;height: 32px;@extend .fl;
  @include bg_col($c_bg1);
  border: 1px solid $c_border1;
  margin-top: 58px;
  margin-left: 35px;
  cursor: pointer;
}
.img_mall{
  width: 20px;height:20px;
  position: relative;top:5px;left:5px;
}
.app_mall{
  margin-left: 8px;
}
.mall_float{
  width: 300px;height:200px;
  position: relative;top:9px;left:-195px;
  border: 1px solid $c_border1;
  @include bg_col();
  cursor: auto;
  display: none;
}
.qr{
  @extend .fl;
  margin-left: 15px;margin-top: 5px;
  position: relative;
}
.qr_bd{
  position: relative;
  cursor: pointer;
  display: block;
  text-align: center;
  width: 94px;
  height: 112px;
  color: red;
  &:hover{color: red;}
  border: 1px solid #E8E8E8;
  overflow: hidden;
}
.qr_code{
  @include div_bgimg("code.gif");
  margin:8px auto 5px;
}
.qr_close{
  position: absolute;
  right: -19px;top:0px;
  width: 20px;height:20px;
  @include div_bgimg("close.gif");
}
.search_hd{
  height: 25px;
}
.switchabel_nav li{
  display: block;
  height: 25px;line-height: 25px;
  @extend .fl;
  padding:0px 10px;
  cursor: pointer;
  &:not(.switch_on):hover{
    color:lighten($c1,50%);
    background-color:transparentize(darken($c1,5%),0.7);
  }
}
.switch_on{
  color:#ffffff;
  @extend .fb;
  background-color:darken($c1,5%);
  &:hover{
    color:#ffffff;
    background-color:darken($c1,5%);
  }
}
.switchabel_nav1{width: 55px;}
.switchabel_nav2{width: 40px;}
.switchabel_nav li a:hover{
  color:white;
}
.search_bd{
  height: 40px;
  @extend %clearfix;
  position: relative;
}
.search_panel{
  height:38px;
  border:1px solid darken($c1,5%);
  background: none repeat scroll 0% 0% darken($c1,5%);
}
.search_box{
  background-color: #ffffff;
  display: inline-block;
}
.search_box_ipt{
  padding: 5px 10px;
  height: 24px;
  line-height: 24px;
  width: 499px;
  border: 0px none;
  outline: 0px none;
  background: none repeat scroll 0% 0% #FFF;
  margin: 2px 0px 0px 2px;*margin:1px 0px 0px 2px;
  @extend .ft14;@extend .fb;
}
.search_btn{
  width: 99px;height: 40px;
  position: absolute;right:0px;top:0px;
}
.btn_search{
  cursor: pointer;
  border: 0px none;
  width: 100px;height: 40px;
  @include div_bgimg("1.jpg");
}



.cont1{
  @extend %w100;
  @include bg_col($c_bg1);

}
.cont2{
  @extend .cont1;
  @include bg_col();
}
.common_bd1{
  @extend .common_bd;
  @include bg_col($c_bg1);
  @extend %clearfix;
}
.common_bd2{
  @extend .common_bd;
  @include bg_col($c_bg1);
  overflow: visible;
}
.cont_r1c1,.cont_r1c2,.cont_r1c3{
  height:485px;
  @extend .fl;
  @include center();
  @include bg_col();
  margin-left: 10px;
  margin-bottom:10px;
}
.cont_r1c1{width: 220px;margin-left: 0px;}
.cont_r1c2{width: 660px;@include bg_col($c_bg1);}
.cont_r1c3{width: 290px;}
.r1c1_tit{
  @include div_bgimg("r1c1_tit.gif");
}
.sys_app1{
  line-height: 30px;

  padding-top: 7px;
  &:hover{
    width: 220px;z-index: 3;
    position: relative;
    background-color: white;
  }
}
.app1_hd{
  @include clearfix;
  padding-left: 10px;
  cursor: pointer;
}
.app1_wrap{
  @include clearfix;margin-left: 10px;margin-right:10px;
  padding-bottom:6px;
  border-bottom: 1px solid $c_border1;
  ul li a{
    color:#666;
    &:hover{
       color:red;
    }
  }
}
.sys_app_icon,.sys_app_tit,.sys_app_more{
  @extend .fl;
}
.sys_app_icon{
  @include div_bgimg("icon1.gif");
  margin-left: 7px;margin-top: 7px;
}
.sys_app_tit{
  width: 160px;
  margin-left: 7px;
  @extend .ft14;@extend .fb;
}
.sys_app_more{
  @include div_bgimg("icon2.gif");
  margin-top: 10px;
  background-repeat: no-repeat;
}
.app1_wrap ul li{
    width: 100px;@include valign_m(23px);
    overflow: hidden;
    @extend .fl;
}
.sys_app1_sub1{
  width: 180px;height:140px;
  padding:10px;
  position: relative;left:219px;top:-113px;
  border: 1px solid $c_border1;@include bg_col();
  z-index:2;
  display: none;
  & li{
    @include valign_m(22px);
    a{color:#666;}
  }
}
.sys_app1_sub2{
   @extend .sys_app1_sub1;
   top:-90px;
 }
.sys_app1_sub3{
  @extend .sys_app1_sub1;
  top:-67px;
}
.sys_app1_sub4{
  @extend .sys_app1_sub1;
  top:-67px;
}
.r1c2_bd{
  margin-top:1px;
  @include clearfix;
}
.r1c2_top{
  width: 660px;height:300px;
  background-color: grey;/*TODO;*/
}

.r1c21{
  width: 220px;height:184px;
  @extend .fl;
  margin-left: 1px;
  &:first-child{margin-left: 0;}
}
.r1c22{
  width: 218px;height: 184px;
  margin-left: 1px;
  @extend .fl;}
.r1c21_top,.r1c22_top{height:125px;}
.r1c21_bot,.r1c22_bot{
  padding:10px 12px 0px;letter-spacing: 0px;
  height:59px;line-height: 22px;@include bg_col();
}
/*.r1c31,.r1c32,.r1c33{width: }*/
.r1c31{height:140px;}
.r1c32{
  height:90px;border-bottom: 1px solid $c_border1;
  @include clearfix;
}
.r1c33{
  height:36px;
  @include div_bgimg("yunapp.gif");
  @include bg_col($c2);
  width: 100%;
}
.r1c34{
  width: 270px;height:204px;
  padding:0px 10px;
}
.g_app1{
  width: 64px;height:100px;
  margin-left: 20px;margin-top: 10px;
  overflow: visible;
  @extend .fl;
}
.u_app1{@include div_bgimg("app1.gif");}
.u_app2{@include div_bgimg("app1.gif");}
.u_app3{@include div_bgimg("app1.gif");}
.u_app4{@include div_bgimg("app1.gif");}
.u_app5{@include div_bgimg("app1.gif");}
.u_app6{@include div_bgimg("app1.gif");}

.g_app1_bd{
  width: 64px;
  @include valign_m(25px);
  color:$c3;
  text-align: center;
}

.portrait,.info,.platform{@extend .fl;}
.portrait{
  @include div_bgimg("avatar.gif");
  margin:10px 0 0 10px;
}
.info{margin-left: 20px;margin-top: 20px;}
.info_role,.info_item{
  width: 45px;@include valign_m(28px);text-align: center;
}
.info_item{
  color:#ffffff;
  @include bg_col($c1);
  @include valign_m(18px);
}
.platform{
  @include div_bgimg("platform.gif");
  margin-top: 30px;margin-left: 15px;
  &:hover{
    @include div_bgimg("platformhover.gif")
  }
}
.custom{
  width: 60px;
  @include valign_m(18px);
  color:$c2;
  @include bg_col();
  @extend .fr;
  text-align: center;
  margin:10px 10px 0 0;
}


.cont_r2c1,.cont_r2c2,.cont_r2c3{
  height:455px;
  @extend .fl;
  @include center();
  margin-left: 20px;
  margin-bottom:10px;
}
.cont_r2c1{width: 430px;margin-left: 0px;}
.cont_r2c2{width: 430px;}
.cont_r2c3{width: 290px;}
.r2c1_tit{
  width: 430px;
  @include clearfix;
}
.r2c1_tit_l{
  @extend .fl;
  @include div_bgimg("title2.gif");
}
.r2c1_tit_r{
  @extend .fl;
  width: 303px;height:37px;
  border-bottom: 1px solid $c_bg1;
}
.r2c2_tit{
  width: 430px;
  @include clearfix;
}
.r2c2_tit_l{
  @extend .fl;
  @include div_bgimg("title3.gif");
}
.r2c2_tit_r{
  @extend .fl;
  width: 243px;height:37px;
  border-bottom: 1px solid $c_bg1;
}

.r2c3_tit{
  width: 290px;
  @include clearfix;
}
.r2c3_tit_l{
  @include div_bgimg("2.png");
}
.r2c3_bd{
  width:268px;height:400px;
  padding:10px;padding-bottom: 5px;
  @include border_col();
}
.download1{
  @include clearfix;
  border-bottom:1px solid $c_border1;
}
.u_dw1,.u_dw2,.u_dw3{
  @extend .fl;
}
.u_dw1{
  @include div_bgimg("icon3.gif");
  margin: 7px 10px 7px 0px;
}
.u_dw2{
  width: 205px;
  @include valign_m(26px);
  @extend .fb;@extend .ft14;
}
.u_dw3{
  margin-top: 6px;
  & a{
    color:#333;
    &:hover{
      color:red;
    }
  }
}
.download2{
  padding-top: 6px;
  padding-bottom:10px;
  @include clearfix;
}
.download2 ul li{
  width: 115px;
  @include valign_m(23px);
  padding-left: 15px;
  overflow: hidden;
  @extend .fl;
  & a{
    color:#333;
    &:hover{
      color:red;
    }
  }
}
.flash{
  height:140px;margin-bottom: 10px;
  @include div_bgimg("slogan.gif");
}
.app{
  height:200px;margin-bottom: 10px;
}
.recommend_l{
  @include div_bgimg("title4.gif");
  @extend .fl;
}
.recommend_r{
  @extend .fl;
  width: 1079px;
  height:27px;
  border-bottom: 1px solid $c_border1;
}

.cont_r5c1,.cont_r5c2,.cont_r5c3{
  height:455px;
  @extend .fl;
  @include center();
  margin-left: 10px;
  margin-bottom:10px;
}
.cont_r5c1{width: 360px;margin-left: 0px;}
.cont_r5c2{width: 520px;}
.cont_r5c3{width: 290px;}




.r5c3_tit{
  @include div_bgimg("project4.gif");
  margin-bottom: 10px;
}
.r5c3_bd{
  @include div_bgimg("date.gif");
}




.footer {
  height: 220px;
  @include bg_col($c_bg1);
}


/*首页焦点图*/
.demoBox .hd{ padding:0;}
.demoBox .hd h3{ font-size:30px; font-weight:bold; color:#39A4DC; line-height:60px; }
.demoBox .hd h3 span{ color:#ccc; font-style:italic; font-size:60px;  }
.demoBox .bd{overflow:hidden; zoom:1;  }
.demoBox .bd .iframeWrap{ overflow:hidden; float:left;  }
.demoBox iframe{ width:100%; height:100%;  vertical-align:middle; }
.demoBox .botTit{ height:22px; line-height:22px; overflow:hidden; background:#eee; text-align:right; padding:5px 0; overflow:hidden; display:none;
}
.demoBox .botTit em{ float:left; font-weight:bold; padding-left:10px;  }
.demoBox .botTit span a{ display:block; float:right; height:20px; line-height:20px; padding:0 5px; background:#f60; margin-right:10px; color:#fff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer; display:none;  }
.demoBox .botTit span a:hover{ text-decoration:none; background:#f60;  }

.slideBox{ width:660px; height:300px; overflow:hidden; position:relative; border:1px solid #ddd;  }
.slideBox .hd{
  height:15px; overflow:hidden;
  position:absolute; right:50%; bottom:5px;
  text-align: center;margin-right: -50px;
  z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{
  float: left;
  width: 9px;
  height: 9px;
  overflow: hidden;
  margin-right: 15px;
  text-indent: -999px;
  cursor: pointer;
  background: image_url("icoCircle.gif") no-repeat scroll 0px -9px transparent;
  &.on{background-position: 0px 0px;}
  }
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd img{display:block;  }

.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px;
  background:image-url("slider-arrow.png") -110px 5px no-repeat;
  filter:alpha(opacity=50);opacity:0.5;}
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }


/* 首页右侧tab */
.slideTxtBox{ width:288px; border:1px solid #ddd; text-align:left;  }
.slideTxtBox .hd{ height:30px; line-height:30px; background:#f4f4f4;  border-bottom:1px solid #ddd;  position:relative; }
.slideTxtBox .hd ul{ float:left; position:absolute; left:0px; top:-1px; height:32px;   }
.slideTxtBox .hd ul li{ float:left; padding:0 11px; cursor:pointer;  }
.slideTxtBox .hd ul li.on{
  height: 30px;
  background: #fff;
  border: 1px solid #ddd;
  border-top:2px solid #00a2c9;
  border-bottom: 2px solid #fff;
}
.slideTxtBox .bd ul{ padding:15px;  zoom:1;  }
.slideTxtBox .bd li{ height:24px; line-height:24px;   }
.slideTxtBox .bd li .date{ float:right; color:#999;  }

.tab2_wrap{height:105px;line-height: 20px;overflow: hidden;}

/* 云资源tab */
.slideTxtBox3{ text-align:left;  }
.slideTxtBox3 .hd {
  height: 54px;
  line-height: 54px;
  position: relative;
  @include clearfix;
  margin-top: 10px;
}

.slideTxtBox3 .hd ul {
  float: left;
  position: absolute;
  left: 0px;
  top: -1px;
  height: 54px;
}

.slideTxtBox3 .hd ul li {
  float: left;
  margin: 0 6px;
  cursor: pointer;
}

.slideTxtBox3 .hd ul li.on{
  height: 30px;
  background: #fff;
}
.slideTxtBox3 .bd{
  width: 412px;margin-left: 6px;
}
.slideTxtBox3 .bd ul{ padding:15px;  zoom:1;  }
.slideTxtBox3 .bd li{ height:24px; line-height:24px;   }
.slideTxtBox3 .bd li .date{ float:right; color:#999;  }

.slideTxtBox3 .hd ul li.tab3_hd_wrap1 {
  @include div_bgimg("tab_icon2.gif");
  &.on{
    @include div_bgimg("tab_icon1.gif");
  }
}
.slideTxtBox3 .hd ul li.tab3_hd_wrap2 {
  @include div_bgimg("tab_icon4.gif");
  &.on{
    @include div_bgimg("tab_icon3.gif");
  }
}
.slideTxtBox3 .hd ul li.tab3_hd_wrap3 {
  @include div_bgimg("tab_icon6.gif");
  &.on{
    @include div_bgimg("tab_icon5.gif");
  }
}

.tab3_bd_wrap{height:375px;}


/* 排行tab */
.slideTxtBox4{ text-align:left;  }
.slideTxtBox4 .hd {
  height: 40px;
  line-height: 40px;
  position: relative;
  @include clearfix;
  margin-top: 10px;
}

.slideTxtBox4 .hd ul {
  float: left;
  position: absolute;
  left: 0px;
  top:0px;
  height: 54px;
}

.slideTxtBox4 .hd ul li {
  float: left;
  margin: 0px;
  cursor: pointer;
}

.slideTxtBox4 .hd ul li.on{
  height: 30px;
  background: #fff;
}
.slideTxtBox4 .bd{
  /*width: 100%;*/
  @include border_col();
  border-top: none;
}
.slideTxtBox4 .bd ul{zoom:1;  }
.slideTxtBox4 .bd li{}
.slideTxtBox4 .bd li .date{ float:right; color:#999;  }

.slideTxtBox4 .hd ul li.tab4_hd_wrap1 {
  @include div_bgimg("tab41.png");
  &.on{
    @include div_bgimg("tab41.png");
  }
}
.slideTxtBox4 .hd ul li.tab4_hd_wrap2 {
  @include div_bgimg("tab42.png");
  &.on{
    @include div_bgimg("tab42.png");
  }
}
.slideTxtBox4 .hd ul li.tab4_hd_wrap3 {
  @include div_bgimg("tab43.png");
  &.on{
    @include div_bgimg("tab43.png");
  }
}
.slideTxtBox4 .hd ul li.tab4_hd_wrap4 {
  @include div_bgimg("tab44.png");
  &.on{
    @include div_bgimg("tab44.png");
  }
}
.row_ul:first-child{
  margin-top: 10px;
}
.row_sub_ul{
  @include clearfix;
  li{
    @extend .fl;
    @include valign_m(34px);
    margin-left: 10px;
  }
}
.row_sub_ul_2{
  width: 240px;
}

.desc_row{display:none;}
.desc_row_sub_ul{
  @include clearfix;
  li{
    @extend .fl;
    @include valign_m(50px);
    margin-left: 10px;

  }
}
.desc_row_sub_ul_3{
  @extend .fb;@extend .ft14;
}
.desc_row_sub_ul_4{
  width: 97px;
}
.in{
  width: 65px;height:25px;line-height: 25px;
  margin: 10px 0 0 10px;
  @include bg_col(lighten($c2,10%));
  color:white;
  border-radius: 2px;
  text-align: center;
}
.testFloat1{
  height:34px;
  @include border_bot_col();
}
.testFloat2{
  height:6px;
  @include border_r_col();
}
.row_ul2{
  @extend .row_ul;
  padding:0 10px;
  &>li{
    border-bottom: 1px dotted $c3;
  }
}
.q1{
  @include div_bgimg("q1.png");
  margin-top:10px;
}
.q2{
  width: 340px;
  color:$c3;
}
.q2_1,.q2_2{height:30px;line-height:30px;}
.q3{
  color:lighten($c3,20%);
}
.row_sub_ul5{
  @include clearfix;
  li{
    @extend .fl;
    @include valign_m(60px);
    margin-left: 10px;
  }
  li.q3{
    height:30px;line-height: 30px;margin-top: 30px;
  }
}