@mixin letter_space($width:2px){
  letter-spacing: $width;
}
@mixin bg_col($bs-type: #fff) {
  background-color: $bs-type;
}
@mixin valign_m($h) {
  height: $h;line-height: $h;
}
@mixin center($h:0px){
  margin: $h auto;
}
@mixin  div_bgimg($img){
  width: image_width($img);
  height:image_height($img);
  background-image: image-url($img);
  background-size:image_width($img)
    image_height($img);
}
