@charset "UTF-8";
/*颜色区域*/
$c1:#369ce9;
$c5:#010101;
/*背景颜色*/
$c_bg1:#f5f5f5;//灰色背景颜色1
$c_bg2:darken($c_bg1,10%);//#dddddd;//背景颜色2
/*边框颜色*/
$c_border1:$c_bg2;//边框颜色1
$c_border2:lighten($c1,10%);//边框蓝色1


/*页面宽度*/
/*主页宽度1190px*/
$w_index:1190px;
