@charset "UTF-8";
.cont_r1c2{
  width: 290px;margin-left: 10px;
}
.r1c12{
   @extend .r1c11;
   border-bottom: none;
}
.r1c21{
  width: 252px;margin:20px auto 5px;
}
.g_r1c21h{
  @include valign_m(18px);
}
.dividing_line{
  width: 170px;height:1px;
  margin-top:8px;
  @extend .fl;
  background-color: darken($c_border1,20%);
}
.r1c22{
  width: 278px;margin:0 auto;
}
.u_tit_block1{
  width: 4px;height: 18px;
  background-color: $c1;
  @extend .fl;
}
.u_r1c12_tit{
  @extend .ft16;@extend .fb;
  @extend .fl;
  margin-left: 10px;
}

.review_ul{
  height:300px;
  overflow: hidden;
  padding-top: 5px;
  li{
    line-height: 30px;
    height:30px;
  }
}
.review1{
  @extend .fl;
}
.review2{
  @extend .fr;
}
.r1c22_detail{
  padding:10px 0;
  width: 290px;height:100px;
  @include bg_col($c_bg1);
  a{
    display: block;
    width: 290px;height:100px;
    @include div_bgimg("detail_icon_r1.png");
  }
}
.r1c23_detail{
  @extend .r1c22_detail;
  a{
    @include div_bgimg("detail_icon_r2.png");
  }
}
.r1c24_detail{
  @extend .r1c22_detail;
  a{
    @include div_bgimg("detail_icon_r3.png");
  }
}