@charset "UTF-8";
.ft12{
  font-size: 12px;
}
.ft13{
  font-size: 13px;
}
.ft14{
  font-size: 14px;
}
.ft16{
  font-size: 16px;
}
.ft18{
  font-size: 18px;
}
.ft20{
  font-size: 20px;
}
.ft22{
  font-size: 22px;
}
.ft24{
  font-size: 24px;
}
.ft28{
  font-size: 28px;
}
.ft32{
  font-size: 32px;
}
.yahei{
  font-family:'Microsoft Yahei','微软雅黑','黑体','宋体',Tahoma,Arial,Helvetica,STHeiti;
}