@charset "UTF-8";
%clearfix {
	@include clearfix;
}
%border_grey {
  border: 1px solid $c_border1;
}
%w100{
  width: 100%;
}
%star_background_pic{
  background-image: image-url("rate.png");
  background-repeat: no-repeat;
}
%star_big{
  width: 111px;height:25px;
  @extend %star_background_pic;
}
%star_small{
  width: 77px;height:20px;
  @extend %star_background_pic;
}


