@charset "utf-8";
/*全局样式*/
.wrapper {
    width: 100%;
    min-height: 100%;
}
.blue_link {
    text-decoration: underline;
    color: #3e7ec4;
}
.blue_color{
    color: #3e7ec4;
}




/*头部开始*/
#wrapper_head {
    width: 100%;
    height:30px;
    background-color: #424242;
    text-align: right;
    /*margin-bottom: 80px;*/
}
#wrapper_head p{
    color: #ffffff;
    height: 30px;
    line-height: 30px;
}
/*高级用户*/
#adv_user {
    color:#FF9C03;
    text-decoration: underline;
}





/*中部开始*/
#wrapper_mid {
    width: 100%;
    margin-top:80px;
    /*中部定义最小高度*/
    /*height:auto !important;
    height:auto;
    min-height:auto;*/
    /*text-align: center;*/
}
#search_area {
    width: 752px;
    height: 92px;
   /* margin-top:80px;*/
    margin-left: auto;
    margin-right: auto;
}

#logo {
    float:left;
    margin-top: 26px;
}


#nav_wrapper {
    position: relative;
    width: 554px;
    margin-left:8px;
    float: left;
}


#nav_wrapper #nav_menu {
    width: 500px;
    height:20px;
    line-height: 20px;
    margin-bottom: 14px;
}

#nav_wrapper #nav_menu a {
    display: block;
    float: left;
    padding: 0 7px;
    font-family: "方正正准黑",Microsoft JhengHei,STHeiti;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

#nav_wrapper #nav_animate_block {
    position: absolute;
    top: 24px;
    height: 7px;
    overflow: hidden;
    background-image: url("../img/arrow_1.gif");
    background-repeat: no-repeat;
    margin-top: 0px;

}

/*搜索框*/
#search_con {
    width:554px;
    height:34px;
}


.con_btn {
    width: 476px;
    height:30px;
    border: 2px solid #0089d1;
    background-color: #ffffff;
    float: left;
}

#search_btn {
    float: left;
    margin-left: 5px;
}

#search_status {
    width:542px;
    height:14px;
    margin-top: 8px;
}
#sys_status{
    display: block;
    float:left;
}
.red{
    color: #ff0000;
}
.adv_search {
    float: right;
}

/*tab页*/
.tab_con {
    width: 746px;
    height:300px;
    margin-top:47px;
    margin-left: auto;
    margin-right: auto;
}
.l_box{
    width: 80px;
    height:260px;
    float: left;
    background-color: #e9eaea;
}
.tab{
    width: 80px;
    height:34px;
    line-height: 33px;
    border:none;
    text-align: center;
    font-size: 14px;
    color:#9c9389;
    display: inline-block;
    position: relative;
    text-decoration: none;
    letter-spacing:1px;
}
.l_box a:hover{
    background-image: url("../img/menu.gif");
    text-shadow: none;
    color:#ffffff;
}
.r_box{
    width: 650px;
    height:260px;
    float: right;
    background-color: #f5f5f5;
}
.current_tab{
    filter: none !important;
    background-image: url("../img/menu.gif");
    border-right: medium none !important;
    text-shadow: none !important;
    width: 80px;
    color:#ffffff;

}

.r_content_1 {
    width: 100%;
    height: 260px;
}
.pics{
    width: 151px;
    height:126px;
    float: left;
    margin-top:3px;
    margin-left:3px;
}





/*底部开始*/
#wrapper_bot {
    width: 100%;
    height: 32px;
    background-color: #dedede;
    position: absolute;
    bottom:0px;
}
#wrapper_bot p{
    text-align: left;
    height: 32px;
    line-height:32px;
}
#bot_p_list{
    color: #3e7ec4;
    float: left;
}
#bot_p_list a {
    display: inline;
    margin: 0 15px;
}
#copyright {
    color: #6D6860;
    float: right;
}





/*temp*/
/*强制去掉垂直滚动条*/
html{
    overflow-y:auto;
}











