@charset "utf-8";
/* CSS Document */


.cata_box {
float: left;
margin-top: 10px;
}
.cata_box .catalog_ul {
width: 100%;
}
.catalog_ul li .cata_desc {
width: 120px;
height: 90px;
overflow: hidden;
background-color: #E5F3DE;
}
.cata_desc .cata_desc_box {
height: 67px;
color: #888888;
font-size: 12px;
line-height: 22px;
overflow: hidden;
padding: 5px 20px 0;
_padding: 5px 20px 0;
word-break: break-all;
}
.catalog_ul .cata_title_service2 {
font-size: 12px;
color: #3366BB;
line-height: 18px;
text-decoration: none;
white-space: nowrap;
display: inline-block;
position: absolute;
left: 5px;
}
 

.catalog_ul li:hover {
border-top: 2px solid #FCAB1B;
border-bottom: 1px solid #FF5F3E;
border-right: 1px solid #FF5F3E;
border-left: 1px solid #FF5F3E;
}
.catalog_ul li .cata_extra {
padding: 5px;
color: #999999;
font-size: 12px;
text-align: center;
}
.catalog_ul li {
width: 120px;
height: 110px;
float: left;
position: relative;
margin: 10px 20px 10px 0px;
background-color: #FFFFFF;
border-top: 2px solid #FCAB1B;
border-bottom: 1px solid #CBCBCB;
border-right: 1px solid #CBCBCB;
border-left: 1px solid #CBCBCB;
}

.dgstyle {
	width: 100%;
	float: left;
	margin: 0px;
	padding: 5px;
	border-style: solid;
	border-width: 0px;
	border-color: red;
}

.dgcstyle {
	width: 100%;
	margin: 0px;
	padding: 10px;
	clear: both;
	border-style: solid;
	border-width: 0px;
	border-color: yellow;
}

.dgclstyle {
	width: 33%;
	height: 100%;
	float: left;
	margin: 0px;
	display: inline;
	border-style: solid;
	border-width: 0px;
	border-color: grey;
	border: 1px;
}

.dgxmstyle {
	margin-top: 5px;
	border: #a4c9d2 1px solid;
	clear: both;
	overflow: auto;
	position: relative;
	height: 83%; 
	width: auto;
	table-layout: fixed;
}

.dgcl{
	width: 30%;
	float: left;
	display: inline;
}

.T_iframe{
	position:absolute;
	width:250px;
	height:240px;
	z-index:-1;
}
.T_div{
	position:absolute;
	z-index:100;
}

.conditionCss{
	background-color: #e6fbf6;
	padding:3px;
	border-bottom: 1px solid #cddce4;
	border-top: 1px solid #cddce4;
	color:#1380cb;font-weight: bold;
}

.inputSize {
	width: 120px;
}

.lineOfHorizontal {
	background: #000000;
	height: 1px;
	overflow: hidden;
	margin: 5px;
}

.lineOfVertical {
	float: left;
	height: 100%;
	border-left: 1px solid #b7d0e4;
	margin-left: -1px;
	padding-left: 5px;
}
.syy{
	cursor: pointer;
	border:1px solid #BDE3D7;
	padding: 2px 5px;
	margin: 2px;
	text-decoration: none;
	font-size:12pt; 
	font-family:Arial, Helvetica, sans-serif; 
	margin-right:12px;
	}
	.wdy{
	cursor: pointer;
	border:1px solid #BDE3D7;
	padding: 3px 10px 3px 10px;
	margin: 2px;
	text-decoration: none;
	font-size:12pt; 
	font-family:Arial, Helvetica, sans-serif; 
	margin-right:12px;
	}
.dy{
	font-size:12pt; 
	font-family:Arial, Helvetica, sans-serif; 
	margin-right:12px;
	}
	
.syy1{
	cursor: pointer;
	border:1px solid #BDE3D7;
	margin: 4px;
	text-decoration: none;
	font-size:8pt; 
	font-family:Arial, Helvetica, sans-serif; 
	margin-right:6px;
	display: inline-block;
	height: 20px;
	text-align: center;
	}
.wdy1{
	cursor: pointer;
	border:1px solid #BDE3D7;
	margin: 1px;
	text-decoration: none;
	font-size:8pt; 
	font-family:Arial, Helvetica, sans-serif; 
	margin-right:6px;
	display: inline-block;
	height: 20px;
	width:16px;
	text-align: center;
	}
.dy1{
	font-size:8pt; 
	font-family:Arial, Helvetica, sans-serif; 
	margin-right:6px;
	}
	.font12{ 
	font-size:12pt;  
	}.font11{ 
	font-size:12pt;  
	}
	.styleA{ 
	color:#FF0000;  
	/*background-image:url('../../images/2.0/tab_1.gif');*/
	font-weight:bold;
	text-decoration:none;
	}
	.styleB{ 
	color:#FF0000;  
	background-image:url('../../images/2.0/tab_2.gif');
	font-weight:bold;  
	text-decoration:none;
	}
	.styleC{ 
	color:#FF0000;  
	/*background-image:url('../../images/2.0/tab_3.gif');*/
	font-weight:bold;  
	text-decoration:none;
    background-color: #fbfbfb;
	}

.emptyWarning{
	border: 1px solid red;
}

body{
    margin:0px;
}
iframe{
    width: 100%;
    overflow:hidden;
    height:75px;
    display:block;
}
	 