@charset "utf-8";
/**
  *     本css为新版车辆档案页1440分辨率配套css
  *     包括重置，头，尾及公共四部分样式
  *
  *     author：sun mail:szy1944@hotmail.com
  *     version:2.0
  *     date:20141211
  */
/*公共重置样式*/
@import url("reset.css");
/*头部样式*/
@import url("result_head.css");
/*尾部样式*/
@import url("result_bottom.css");
/*公共样式*/
@import url("common.css");

/*middle S*/
#wrapper_mid {
    width: 100%;height: auto;
    margin-bottom: 20px;overflow: hidden;
}
/*车辆概况*/
#search_result {
    width: 960px;height: 220px;margin: 12px auto;
}
#car_sum_l {
    width: 10px;height: 220px;float: left;
    background: url('../images/car/table_L.gif') no-repeat;
}
#car_sum_c1 {
    width: 267px;height: 218px;float: left;
    background-color: #e5e1d6;
    border-top: 1px solid #ccc8bc;
    border-right: 1px solid #ccc8bc;
    border-bottom: 1px solid #ccc8bc;
}
#car_sum_c1 img {
    margin-left: 7px;margin-top: 16px;
}
#car_sum_c2 {
    width: 672px;height: 220px;float: left;
    background: url('../images/car/table_C.gif') repeat-x;
}
#car_sum_head {
    height: 55px;line-height: 55px;overflow: hidden;
}
#car_num {
    font-size: 22px;float: left;color: #1679bc;
    margin-left: 20px;margin-right: 15px;
}
#sum_l1 {
    width: 60px;height: 55px;line-height: 55px;
    margin-left: 10px;
    background: url("../images/car/wei.gif") no-repeat center;
}
.sum_l1_num {
    width: 30px;height: 25px;line-height: 25px;
    margin-top: 15px;float: right;overflow: hidden;
    font-size: 14px;font-weight: bold;color: #ffffff;
}
#sum_l2 {
    width: 60px;
    height: 23px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: #3ec978;
    border-bottom: 2px solid #467c58;
}
.sum_l2_tit {
    width: 100%;
    height: 100%;
    line-height: 25px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}
#sum_l3 {
    width: 60px;
    height: 23px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: #3a94de;
    border-bottom: 2px solid #467996;
}
#sum_l4 {
    width: 60px;
    height: 23px;
    margin-top: 15px;
    margin-left: 10px;
    background-color: #fe9800;
    border-bottom: 2px solid #467996;
}
#sum_l5 {
    font-size: 16px;
    font-weight: bold;
    float: left;
    color: #1679bc;
    margin-left: 20px;
    margin-right: 15px;
}
#car_sum_body {
    width: 672px;
    height: 165px;
}
#car_sum_body_table {
    width: 100%;
}
.car_sum_body_tit1 {
    width: 15%;
    height: 33px;
    line-height: 32px;
    -height: 31px;
    padding-right: 15px;
    font-weight: bold;
    text-align: right;
    border-right: 1px solid #e1d2d5;
}
.car_sum_body_tit2 {
    width: 30%;
    height: 33px;
    line-height: 32px;
    -height: 31px;
    padding-left: 15px;
    text-align: left;
    border-right: 1px solid #e1d2d5;
    /* border:1px solid red; */
}
.carIcon{
    width: 63px;
    height: 21px;
    display: block;
    overflow: hidden;
    cursor: pointer;
    background: url('../images/car/carAll.gif') no-repeat scroll 0% 0% transparent;
}
.carType1{
    background-position: 0px 5px;
}
.carType2{
    background-position: 0px -32px;
}
.carType3{
    background-position: 0px -70px;
}
.carType4{
    background-position: 0px -108px;
}
.carType5{
    background-position: 0px -146px;
}
.carType6{
    background-position: 0px -185px;
}
.carType7{
    background-position: 0px -224px;
}
.carType8{
    background-position: 0px -260px;
}
.carType9{
    background-position: 0px -296px;
}
.carType10{
    background-position: 0px -334px;
}
.car_color{
    width: 15px;
    height:15px;
    border:1px solid #d00000;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
    line-height: 15px;
}
.car_logo{
    width: 36px;
    height: 31px;
    margin-right: 10px;
    background: url("../images/car/qiya.gif") no-repeat;
    float: left;
    cursor: pointer;
    overflow: hidden;
}
#car_sum_r {
    width: 10px;
    height: 220px;
    background: url('../images/car/table_R.gif') no-repeat;
    float: left;
}
/*车辆各项详细信息*/
.info_items {
    width: 960px;
    margin: 10px auto;
    border: 1px solid #ffffff;
}
.item_owner_top{
    width: 100%;
    height: 36px;
    margin-bottom: 3px;
    background-image: url("../images/car/title_11.gif");
    background-repeat: no-repeat;
    background-color: #d6f1ff;
    position: relative;
}
.arrow_1 {
    width: 16px;
    height: 9px;
    position: absolute;
    right: 10px;
    top: 14px;
    background-image: url("../images/personDoc/arrow_1.gif");
    background-repeat: no-repeat;
    cursor: pointer;
}
.arrow_2 {
    width: 16px;
    height: 9px;
    position: absolute;
    right: 10px;
    top: 14px;
    background-image: url("../images/personDoc/arrow_2.gif");
    background-repeat: no-repeat;
    cursor: pointer;
}

#sideCatalog-dot2 {
    position: absolute;
    height: 14px;
    width: 10px;
    font-size: 12px;
    line-height: 12px;
    overflow: hidden;
    background: transparent url(../images/personDoc/icon_dot.gif);
    left: -8px;
    *left: -25px;
    top: 18px;
}
.item_contact_con {
    width: 100%;
    height: auto;
    border-left: 6px solid #0089d1;
    position: relative;
    left: 15px;
    padding-bottom: 8px;
}
.item_contact_1 {
    margin-right: 21px;
    position: relative;
    overflow: hidden;
}
.item_contact_1con {
    padding-top: 8px;
    padding-left: 17px;
}
.demoBox {
    padding: 0px;
}
.demoBox .bd {
    overflow: hidden;
    zoom: 1;
}
.demoBox .bd .iframeWrap {
    overflow: hidden;
    float: left;
}
.slideTxtBox {
    width: 920px;
    border: 1px solid #ddd;
    text-align: left;
}
.slideTxtBox .hd {
    height: 38px;
    line-height: 38px;
    background: #f4f4f4;
    padding: 0px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.slideTxtBox .hd ul {
    float: left;
    position: absolute;
    left: -1px;
    top: -1px;
    height: 32px;
}
.slideTxtBox .hd ul li {
    font-size: 16px;
    font-weight: 600;
    float: left;
    padding: 0 15px;
    cursor: pointer;
}
.slideTxtBox .hd ul li.on {
    /*position: absolute;
    top:0px;*/
    color: #ff4400;
    line-height: 35px;
    -line-height: 36px;
    height: 35px;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom: 2px solid #fff;
    border-top: 3px solid #226ab2;
}
.slideTxtBox .bd ul{ padding:15px;  zoom:1;  }
.slideTxtBox .bd li{ height:24px; line-height:24px;   }

.gridtable{
    border:solid 1px #dddddd;
    border-collapse: collapse;
}
table.gridtable th {
    border: 1px solid #DDD;
    background-color: #F4F4F4;
    padding: 0px 8px;
    height: 32px;
    font-size: 14px;
}
table.gridtable td {
    border:solid 1px #dddddd;
    border-style: solid;
    /*background-color: #ffffff;*/
    height: 32px;
}
#gridtab1,#gridtab2{
    width: 100%;
}
.car_tab1_col1{width: 35%;}
.car_tab1_col2,.car_tab1_col4{
    width: 11%;text-align: right;padding-right: 10px;
}
.car_tab1_col3,.car_tab1_col5{
    width: 21%;text-align: left;padding-left: 10px;
}
.tab1_timeline{
    width:1226px;height: 93px;position: relative;
    border: 1px solid #DDD;border-top: none;
}
.timeline_line{
    width:100%;
    height: 6px;
    position: absolute;
    font-size: 0;
    top: 44px;
    left:0px;
    background-color: #0089D1;
    z-index: -1; 
}
.timeline_year{
    width: 37px;height: 37px;line-height: 39px;
    text-align:center;position: absolute;
    left:30px;top:50%;
    margin-top: -19px;
    background:url("../images/car/circular.gif") 0 0 no-repeat;
    color: #ffffff;
}
.tl_year2{left:450px;}
.tl_year3{left:600px;}
.tl_year4{left:750px;}
.tl_date{
    width: 90px;height:100%;
    float:left;margin-left: 90px;
    display: inline;
}
.tl_date2{margin-left:0px;}
.tl_date3{margin-left: 60px;}
.tl_date4{margin-left: 300px;}
.tl_date5{margin-left: 300px;}
.tl_date1_date{
    height: 40px;line-height: 40px;color: #0089D1;
}
.timeline_dot {
    width: 14px;height: 14px;
    background: #ffffff url(../images/personDoc/icon_dot.gif) 2px 0px no-repeat;
    overflow: hidden
}
/*.timeline_dot2{left: 260px;}
.timeline_dot3{left: 350px;}
.timeline_dot4{left: 440px;}
.timeline_dot5{left: 600px;}
.timeline_dot6{left: 760px;}
.timeline_dot7{left: 920px;}*/
.tl_tit{
    height: 40px;line-height: 40px;font-weight: bold;
}


.item_basic_con {
    width: 100%;
    border-left: 6px solid #0089d1;
    padding-top: 1px;
    padding-bottom: 1px;
    position: relative;
    left: 15px;
}
.item_basic_1 {
    margin-right: 21px;
    position: relative;
}
.basic_table_pic {
    width: 117px;
    height: 134px;
    margin-left: 10px;
    border-right: none;
    float: left;
    display: inline;
}
.basic_table_pic_span {
    width: 107px;
    height: 123px;
    margin-top: 5px;
    display: block;
    float: left;
    overflow: hidden;
}
.basic_table_pic_span img {
    width: 107px;
    height: 123px;
    display: block;
}
.basic_table_info{
    width: 189px;
    height: 134px;
    float: left;
}
.owner_info_row1{
    height: 30px;line-height: 30px;font-size: 14px;
}
.owner_info_row2{
    height: 18px;line-height: 18px;font-size: 14px;
}
.owner_info_icon{
    width: 16px;height: 16px;overflow: hidden;float: left;
    margin-top: 8px;
    background: url("../images/car/owner_person.gif") no-repeat;
}
.owner_icon2{
    background: url("../images/car/owner_copyright.gif") no-repeat;
}
.owner_icon3{
    background: url("../images/car/owner_tel.gif") no-repeat;
}
.owner_icon4{
    background: url("../images/car/owner_id.gif") no-repeat;
}
.owner_icon5{
    background: url("../images/car/owner_add.gif") no-repeat;
}
.owner_icon6{
    background: url("../images/car/weifan.gif") no-repeat;
}
.owner_info_con{
    width: 60px;float:left;margin-left: 10px;
}
.owner_info_con2{
    width:160px;overflow:hidden;float:left;margin-left: 10px;
}
.eventr {
    background-color: #fafafa;
}
.eventr1 {
    background-color: #fcfcfc;
}
.hovertr {
    background-color: #d3f5ff;
}
.g-bdbasic {
    margin: 7px 0px 7px 16px;
}
.g-sdbasic {
    position: relative;
    float: left;
    width: 194px;
    margin-right: -194px;
}
.g-mnbasic {
    float: right;
    width: 100%;
}
.g-mnbasicc {
    margin-left: 179px;
}
#item_basic_table {
    width: 100%;
}
#item_basic_table td {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    height: 32px;
    line-height: 32px;
}
#item_basic_table2 {
    border-collapse: collapse;
    width: 100%;
    float: left;
}
#item_basic_table2 td {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    height: 32px;
    line-height: 32px;
}
.basic_table_c2 {
    width: 15%;
    text-align: right;
    padding-right: 20px;
}
.basic_table_c3 {
    width: 25%;
    padding-left: 20px;
}
.basic_table_c4 {
    width: 15%;
    text-align: right;
    padding-right: 20px;
}
.basic_table_c5 {
    width: 25%;
    padding-left: 20px;
}
.sideCatalog-dot1 {
    position: absolute;
    height: 14px;
    width: 10px;
    font-size: 12px;
    line-height: 12px;
    background: transparent url(../images/personDoc/icon_dot.gif);
    left: -8px;
    top: 18px;
    cursor: pointer;
    overflow: hidden
}
.sideCatalog-dot2 {
    position: absolute;
    height: 14px;
    width: 10px;
    font-size: 12px;
    line-height: 12px;
    background: transparent url(../images/personDoc/icon_dot.gif);
    left: -8px;
    top: 38px;
    cursor: pointer;
    overflow: hidden
}

.item_contact_11 {
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}
.item_contact_11_icon {
    width: 16px;
    height: 32px;
    overflow: hidden;
    float: left;
}
.item_contact_11_icon img {
    margin-top: 8px;
}
.item_contact_11_content {
    margin-left: 18px;
    float: left;
}


.item_add {
    width: 100%;
    height: auto;
    margin-bottom: 3px;
    position: relative;
}
.item_reg_top {
    width: 100%;
    height: 36px;
    margin-bottom: 3px;
    background-image: url("../images/car/title_2.gif");
    background-repeat: no-repeat;
    background-color: #d6f1ff;
    position: relative;
}
#item_reg_table {
    border-collapse: collapse;
    width: 100%;
}
#item_reg_table td {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
.reg_table_c2 {
    width: 15%;
    text-align: right;
    padding-right: 20px;
}
.reg_table_c3 {
    width: 35%;
    text-align: left;
    padding-left: 20px;
}
.item_track_top {
    width: 100%;
    height: 36px;
    margin-bottom: 3px;
    background-image: url("../images/car/title_3.gif");
    background-repeat: no-repeat;
    background-color: #d6f1ff;
    position: relative;
}
#item_track_table1,#item_track_table2 {
    border-collapse: collapse;
    overflow: hidden;
}
#item_track_table1 td,#item_track_table2 td {
    border:none;
    overflow: hidden;
}
.track_table_c2 {
    width: 80px;
    text-align: right;
}
.track_table_c3 {
    width: 150px;
    text-align: left;
}
.input_time{
    height: 28px;
    line-height: 28px;
    border: 1px solid #cdcdcd;
    color: #cdcdcd;
    padding:0px 10px;
}
.item_driver_top {
    width: 100%;
    height: 36px;
    margin-bottom: 3px;
    background-image: url("../images/car/title_4.gif");
    background-repeat: no-repeat;
    background-color: #d6f1ff;
    position: relative;
}
.no_all{
    width: 75px;
    text-align: center;
}
.new_con{
    position: relative;
}
.if_new{
    width: 26px;height: 26px;
    position: absolute;top: 0px;left: -1px;
    background: url("../images/car/new.gif") 0 0 no-repeat;
}
#item_driver_table1,#item_driver_table2 {
    width: 80%;
    border-collapse: collapse;
    overflow: hidden;
    margin:30px 0px;
}

#item_driver_table1 td,#item_driver_table2 td {
    border:none;
    overflow: hidden;
}
.driver_table_c2 {
    width: 15%;
    text-align: right;
    padding-right: 20px;
}
.driver_table_c3 {
    width: 35%;
    text-align: left;
    padding-left: 20px;
}
.driver_info_table td{
    height:30px;
}
.g_driver_info{
    width: 155px;height: 120px;float: left;
    margin: 10px 0px 10px 10px;
    padding-left: 10px;
    border: solid 1px #999999;background-color: #f5f5f5;
    display: inline;
}
.g_driver_info_top{
    width: 155px;height: 90px;
}
.g_driver_info_bot{
    width: 155px;height: 29px;line-height: 29px;

}
.u_driver_portrait{
    width: 64px;height: 80px;margin-top:10px;
    float:left;overflow: hidden;
}
.u_driver_inf_r{
    margin-top:10px;float:left;
}
.g_driver_inf_icon{
    margin-top: 10px;
    margin-left: 10px;
}
.driver_info_con2{
    width: 55px;height: 29px;
    padding-top: 3px;padding-left: 5px;
    font:14px/29px "宋体";
    float: left;
}
.floatfix:after{
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:left;
}
.g_paging1{
    width: 100%;height: 20px;text-align: center;
    clear:left;
    margin:10px 0px;
}
.g_paging2{
    width: 100%;height: 20px;text-align: center;
    clear:left;
    margin:10px 0px 0px;
}
.g_paging2 span{
    margin-right: 10px;
}
.paging1_on a{
    color: #ff4400;
}
.g_paging1 span{
    margin-right: 10px;
}
.paging_disable a{
    color:#999999;
}
.item_license_top {
    width: 100%;
    height: 36px;
    margin-bottom: 3px;
    background-image: url("../images/car/title_14.gif");
    background-repeat: no-repeat;
    background-color: #d6f1ff;
    position: relative;
}
.item_violation_top {
    width: 100%;
    height: 36px;
    margin-bottom: 3px;
    background-image: url("../images/car/title_5.gif");
    background-repeat: no-repeat;
    background-color: #d6f1ff;
    position: relative;
}

.flowstep {
    width: 920px;
    margin: 0px auto;
    padding: 0px;
    position: relative;
}
.flowstep_no1,.flowstep_no2{
    position: absolute;
    top:30px;
    left:300px;
    font-size: 16px;
    font-weight: bold;
}
.flowstep_no2{
    left:650px;
}
.flowstep ol {
    overflow: hidden;
}
.flowstep-7 {
    width: 1060px;
    margin-left: -80px;
}
.flowstep-7 li {
    width: 360px;
    overflow: hidden;
}
.flowstep li {
    float: left;
    text-align: center;
}
.flowstep .step-name {
    height: 50px;
    padding: 0px 0px 3px 0px;
    font-weight: 700;
    line-height: 1.8em;
    font-size: 13px;
}
.flowstep .step-done .step-no {
    background-position: 50% -170px;
}
.flowstep .step-first .step-done .step-no {
    background-position: 50% -204px;
}
.flowstep .step-cur .step-no {
    background-position: 50% 0px;
}
.flowstep .step-no {
    height: 34px;
    line-height: 34px;
    font-family: "arial black";
    color: #FFF;
    font-size: 18px;
}
.flowstep .step-no, .flowstep .step-sub-box .step-sub {
    background: url('../images/car/flowstep.png') no-repeat scroll 50% -102px transparent;
}
#J_trade_order_detail .flowstep .step-time {
    color: #999;
    margin-top: 10px;
}
.flowstep .step-time {
    color: #999;
    padding: 8px 0px;
}
.flowstep .step-last .step-no {
    background-position: 50% -238px;
}
.step-time-wraper{
    font-size: 17px;
}
.step-first{
    margin-left: -20px;
}


#slideBox iframe{  height:104px;  }
.slideBox{ overflow:hidden; position:relative;  }
.slideBox .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
.slideBox .bd1 .prev1,.slideBox .bd1 .next1{ display:block;  width:18px; height:32px; float:left; margin-top:10px;  overflow:hidden;
    cursor:pointer; background:url("../images/car/arrow_l2.gif") 0 0 no-repeat;filter:alpha(opacity=50);opacity:0.5;}
.slideBox .bd1 .next1{ background:url("../images/car/arrow_r2.gif") 0 0 no-repeat;float:right;}
.slideBox .bd1 .prev1:hover,.slideBox .bd1 .next1:hover{filter:alpha(opacity=100);opacity:1;}
.slideBox .hd .prevStop{ background-position:-60px 0; }
.slideBox .hd .nextStop{ background-position:-60px -50px; }
.slideBox .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.slideBox .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; }
.slideBox .hd ul li.on{ background-position:0 0; }
.slideBox .bd1{width: 1240px;}
.bd .tempWrap{float: left;}
.slideBox .bd1 ul{ overflow:hidden; zoom:1; }
.slideBox .bd1 ul li{ width:166px;height:154px;margin:0px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.slideBox .bd1 ul li .pic{ text-align:center; }
.pic1{ width:166px;background-image: url("../images/car/line.gif");background-repeat: repeat-x;}
.slideBox .bd1 ul li .pic img{ width:120px; height:90px; display:block;  padding:0px; border:none; }
.slideBox .bd1 ul li .pic a:hover img{ border-color:#999;  }
.slideBox .bd1 ul li .title{ line-height:24px;   }

#slideBox2 iframe{  height:144px;  }
.slideBox2{ overflow:hidden; position:relative;  }
.slideBox2 .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
.slideBox2 .bd2 .prev2,.slideBox2 .bd2 .next2{ display:block;  width:18px; height:32px; float:left; margin-top:10px;  overflow:hidden;
    cursor:pointer; background:url("../images/car/arrow_l2.gif") 0 0 no-repeat;filter:alpha(opacity=50);opacity:0.5;}
.slideBox2 .bd2 .next2{ background:url("../images/car/arrow_r2.gif") 0 0 no-repeat;float:right;}
.slideBox2 .bd2 .prev2:hover,.slideBox2 .bd2 .next2:hover{filter:alpha(opacity=100);opacity:1;}
.slideBox2 .bd2{width: 1240px;}
.bd2 .tempWrap{float: left;}
.slideBox2 .bd2 ul{ overflow:hidden; zoom:1; }
.slideBox2 .bd2 ul li{ width:166px;height:154px;margin:0px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.slideBox2 .bd2 ul li .pic{ text-align:center; }
.slideBox2 .bd2 ul li .pic img{ width:120px; height:90px; display:block;  padding:0px; border:none; }
.slideBox2 .bd2 ul li .pic a:hover img{ border-color:#999;  }
.slideBox2 .bd2 ul li .title{ line-height:24px;   }





/*todo*/


.item_case_top{
    width: 100%;
    height: 36px;
    margin-bottom: 3px;
    background-image: url("../images/car/title_6.gif");
    background-repeat: no-repeat;
    background-color: #d6f1ff;
    position: relative;
}
.item_case_table {
    border-collapse: collapse;
    width: 100%;
}
.item_case_table td {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
.item_case_table thead td{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.case_table_c2,.case_table_c3,.case_table_c4 {
    width: 10%;
    text-align: center;
}
.case_table_c5 {
    width: 875px;height: 35px;overflow: hidden;
    text-align: left;padding-left: 20px;
}
.add_table_c2 {
    width: 20%;
}
.add_table_c3 {
    width: 20%;
}
.add_table_c4 {
    width: 30%;
}
.add_table_c5 {
    width: 30%;
}
.item_accident_top{
    width: 100%;
    height: 36px;
    margin-bottom: 3px;
    background-image: url("../images/car/title_7.gif");
    background-repeat: no-repeat;
    background-color: #d6f1ff;
    position: relative;
}
.accident_table_c2,.accident_table_c3,.accident_table_c4 {
    width: 10%;
    text-align: center;
}
.accident_table_c3{
    width: 20%;
}
.accident_table_c5 {
    width: 812px;height: 35px;overflow: hidden;
    text-align: left;padding-left: 20px;
}
.item_insurance_top{
    width: 100%;
    height: 36px;
    margin-bottom: 3px;
    background-image: url("../images/car/title_8.gif");
    background-repeat: no-repeat;
    background-color: #d6f1ff;
    position: relative;
}
.item_insurance_table {
    border-collapse: collapse;
    width: 100%;
}
.item_insurance_table td {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
.item_insurance_table thead td{
    font-size: 14px;
    font-weight: bold;
}
.insurance_table_c2,.insurance_table_c3,.insurance_table_c4 {
    width: 10%;
    text-align: center;
}
.insurance_table_c3{
    width: 20%;
}
.insurance_table_c5 {
    width: 375px;height: 35px;overflow: hidden;
    text-align: left;padding-left: 20px;
}

.item_check_top{
    width: 100%;
    height: 36px;
    margin-bottom: 3px;
    background-image: url("../images/car/title_19.gif");
    background-repeat: no-repeat;
    background-color: #d6f1ff;
    position: relative;
}
.item_check_table {
    border-collapse: collapse;
    width: 100%;
}
.item_check_table td {
    border-width: 1px;
    border-style: solid;
    border-color: #e0e0e0;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}
.item_check_table thead td{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
.check_table_c2,.check_table_c3,.check_table_c4 {
    width: 10%;
    text-align: center;
}
.check_table_c3{
    width: 20%;
}
.check_table_c5 {
    width: 500px;height: 35px;overflow: hidden;
    text-align: left;padding-left: 20px;
}
.g_if_deal{
    width: 165px;height:38px;line-height: 38px;
    position: absolute;top:0px;right:0px;
}
.u_if_deal1,.u_if_deal2{
    width: 15px;
    height:15px;
    background: url("../images/car/mark_1.gif") 0 0 no-repeat;
    float: left;
    margin-top: 12px;
    margin-right: 10px;
    line-height: 15px;
}
.u_if_deal2{
    background: url("../images/car/mark_2.gif") 0 0 no-repeat;
}
.u_not_deal,.u_deal{
    float:left;
    margin-right: 10px;
}
/*middle E*/